<div class="flex flex-col space-y-1 items-start justify-start p-1 bg-white shadow rounded">
  <img
    src="/fimgs/1198_37697.x1.png"
    class="flex self-stretch items-start justify-start"
    style="width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 157.61px; min-height: 157.61px; max-height: 157.61px;"
  />
  <div
    class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
    style="height: 80.39px; min-height: 80.39px; max-height: 80.39px;"
  >
    <div class="flex self-stretch items-start justify-start">
      <div class="text-xs font-bold leading-none">Judul</div>
    </div>
    <div class="flex self-stretch items-start justify-start">
      <div class="text-xs font-bold leading-none text-gray-500">
        Kategori Buku
      </div>
    </div>
  </div>
</div>