<div class="flex self-stretch flex-col space-y-1 items-start justify-start p-1 bg-white shadow rounded">
  <img
    src="/fimgs/1104_4890.x1.svg"
    class="flex items-center justify-center pb-2"
    style="width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 165.61px; min-height: 165.61px; max-height: 165.61px;"
  />
  <div class="flex flex-1 self-stretch flex-col space-y-1 items-center justify-center p-0.5">
    <div class="flex self-stretch items-center justify-center pb-2">
      <div class="text-xs font-bold leading-none text-center">Judul</div>
    </div>
    <div class="flex self-stretch items-center justify-center pb-2">
      <div class="text-xs font-bold leading-none text-center text-gray-500">
        By Author
      </div>
    </div>
    <div class="flex self-stretch space-x-2 items-center justify-center pb-2">
      <div class="flex items-center justify-center">
        <div class="flex space-x-0.5 items-center justify-center pr-0.5">
          <img
            src="/fimgs/1104_4874.x1.svg"
            class="flex items-center justify-start pr-0.5"
            style="width: 15px; min-width: 15px; max-width: 15px; height: 12px; min-height: 12px; max-height: 12px;"
          />
          <div class="text-xs leading-none">00</div>
        </div>
      </div>
      <div class="flex space-x-0.5 items-center justify-center">
        <img
          src="/fimgs/1104_4843.x1.svg"
          class="flex flex-col items-start justify-start pr-0.5"
          style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
        />
        <div class="text-xs leading-none text-center">00</div>
      </div>
    </div>
  </div>
</div>