<div
  class={`flex flex-col space-y-1 items-start justify-start px-1 pt-1 pb-2.5 bg-white rounded`}
  onClick={onClick}
>
  <img
    src="/fimgs/1540_9371.x1.svg"
    style="width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 157.61px; min-height: 157.61px; max-height: 157.61px;"
  />
  <div class="flex flex-1 self-stretch flex-col space-y-1 items-center justify-start px-2 pb-2">
    <div class="flex items-start justify-start">
      <div class="flex items-center justify-center rounded-full">
        <div class="text-xs font-medium leading-none text-center text-gray-500">
          Genre
        </div>
      </div>
    </div>
    <div class="flex self-stretch items-center justify-center">
      <div class={`text-sm font-medium leading-tight text-center`}>
        Judul Judul judulbukuu
      </div>
    </div>
    <div class="flex self-stretch space-x-2 items-center justify-center">
      <div class="flex items-center justify-center">
        <div class="flex space-x-0.5 items-center justify-center pr-0.5">
          <img
            src="/fimgs/1389_7331.x1.svg"
            class="flex items-center justify-center"
            style="width: 12px; min-width: 12px; max-width: 12px; height: 12px; min-height: 12px; max-height: 12px;"
          />
          <div class="text-xs leading-none">00</div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <img
          src="/fimgs/1389_7335.x1.svg"
          class="flex flex-col items-start justify-start pr-0.5"
          style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
        />
        <div class="text-xs leading-none text-center">00</div>
      </div>
    </div>
  </div>
</div>