<div
  class={`flex self-stretch space-x-2.5 items-center justify-center px-4 py-2 rounded`}
>
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent; 
  text-align: center;
  font-size:20px;
  border: none;
  border:solid 1px #ffffff;
  border-radius: 5px;
  color: #ffffff`}
    maxLength="1"
  />
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent; 
  text-align: center;
  font-size:20px;
  border: none;
  border:solid 1px #ffffff;
  border-radius: 5px;
  color: #ffffff`}
    maxLength="1"
  />
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent; 
  text-align: center;
  font-size:20px;
  border: none;
  border:solid 1px #ffffff;
  border-radius: 5px;
  color: #ffffff`}
    maxLength="1"
  />
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent; 
  text-align: center;
  font-size:20px;
  border: none;
  border:solid 1px #ffffff;
  border-radius: 5px;
  color: #ffffff`}
    maxLength="1"
  />
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent; 
  text-align: center;
  font-size:20px;
  border: none;
  border:solid 1px #ffffff;
  border-radius: 5px;
  color: #ffffff`}
    maxLength="1"
  />
  <input
    pattern="[0-9]*"
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent; 
  text-align: center;
  font-size:20px;
  border: none;
  border:solid 1px #ffffff;
  border-radius: 5px;
  color: #ffffff`}
    maxLength="1"
  />
</div>