<m-list-input
  label={label}
  type={"select"}
  class="w-full "
  floatingLabel={true}
  required={true}
  inputStyle={{
    color: "black",
  }}
  style={`color: black; 
      background:transparent; 
      border-radius: 5px !important;`}
  value={value}
  onChange={onChange}
>
  <option value={""} hidden={true} />
  <option
    value={"male"}
    hidden={true}
    class={`flex self-stretch flex-col items-start justify-start`}
    style="color: black"
  >
    male
  </option>
  <option
    value={"female"}
    hidden={true}
    class={`flex self-stretch flex-col items-start justify-start`}
    style="color: black"
  >
    female
  </option>
  <option
    value={"unknown"}
    hidden={true}
    class={`flex self-stretch flex-col items-start justify-start`}
    style="color: black"
  >
    {"rather not say"}
  </option>
  <></>
</m-list-input>