<div
  class={`flex self-stretch space-x-2.5 items-center justify-center px-4 py-2 rounded`}
>
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent !important; 
  font-size:16px !important;
  text-align:center;
  border: none !important;
  border:solid 1px #ffffff !important;
  border-radius: 5px !important;
  color: #ffffff !important`}
    type="number"
    onInput={(e) => (e.target.value = e.target.value.slice(0, 1))}
    required="true"
  />
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent !important; 
  font-size:16px !important;
  text-align:center;
  border: none !important;
  border:solid 1px #ffffff !important;
  border-radius: 5px !important;
  color: #ffffff !important`}
    type="number"
    onInput={(e) => (e.target.value = e.target.value.slice(0, 1))}
    required="true"
  />
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent !important; 
  font-size:16px !important;
  text-align:center;
  border: none !important;
  border:solid 1px #ffffff !important;
  border-radius: 5px !important;
  color: #ffffff !important`}
    type="number"
    onInput={(e) => (e.target.value = e.target.value.slice(0, 1))}
    required="true"
  />
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent !important; 
  font-size:16px !important;
  text-align:center;
  border: none !important;
  border:solid 1px #ffffff !important;
  border-radius: 5px !important;
  color: #ffffff !important`}
    type="number"
    onInput={(e) => (e.target.value = e.target.value.slice(0, 1))}
    required="true"
  />
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent !important; 
  font-size:16px !important;
  text-align:center;
  border: none !important;
  border:solid 1px #ffffff !important;
  border-radius: 5px !important;
  color: #ffffff !important`}
    type="number"
    onInput={(e) => (e.target.value = e.target.value.slice(0, 1))}
    required="true"
  />
  <input
    style={`width: 42.83px; min-width: 42.83px; max-width: 42.83px; height: 48px; min-height: 48px; max-height: 48px; 
  background: transparent !important; 
  font-size:16px !important;
  text-align:center;
  border: none !important;
  border:solid 1px #ffffff !important;
  border-radius: 5px !important;
  color: #ffffff !important`}
    type="number"
    onInput={(e) => (e.target.value = e.target.value.slice(0, 1))}
    required="true"
  />
</div>