<div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-200">
  <div class="flex flex-1 items-start justify-start p-2.5">
    <div class="text-xs leading-none">Add Comment...</div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="flex items-center justify-center bg-gray-100">
      <div />
    </div>
    <div class="flex items-start justify-start">
      <div class="text-xs font-medium leading-3 text-gray-500">0/500</div>
    </div>
  </div>
</div>