<div class="flex self-stretch flex-col items-center justify-center p-6 bg-white shadow-inner">
  <div class="flex self-stretch space-x-4 items-center justify-center">
    <div class="flex flex-1 items-start justify-start">
      <div class="text-xs font-bold leading-none text-gray-500">Page 2/28</div>
    </div>
    <div class="flex space-x-4 items-center justify-center">
      <div class="flex flex-col items-center justify-center bg-white border rounded border-gray-500">
        <img
          src="/fimgs/1290_5354.x1.svg"
          style="width: 23.20px; min-width: 23.20px; max-width: 23.20px; height: 23.98px; min-height: 23.98px; max-height: 23.98px;"
        />
      </div>
      <div class="flex flex-col items-start justify-start">
        <div class="text-base font-bold leading-normal">2</div>
      </div>
      <div class="flex flex-col items-center justify-center bg-white border rounded border-gray-500">
        <img
          src="/fimgs/1290_5386.x1.svg"
          class="flex items-start justify-start"
          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
        />
      </div>
    </div>
  </div>
</div>