<div
  class={`flex self-stretch flex-col items-start justify-center px-6 pt-9 pb-4 bg-white shadow`}
>
  <div class="flex self-stretch space-x-4 items-center justify-start">
    <div class="flex self-stretch items-center justify-start">
      <img
        src="/fimgs/991_7390.x1.svg"
        class="flex self-stretch items-center justify-start"
        style="width: 24px; min-width: 24px; max-width: 24px; height: 40px; min-height: 40px; max-height: 40px;"
      />
    </div>
    <div class="flex flex-1 items-center justify-start pb-2.5">
      <div class={`text-xl font-bold leading-loose`}>{children || "Title"}</div>
    </div>
    <div />
  </div>
</div>