<button
  class={`flex space-x-2.5 items-start justify-start px-4 py-2 bg-amber-500 shadow rounded`}
  style={`width: 176px; min-width: 176px; max-width: 176px; height: 40px; min-height: 40px; max-height: 40px;`}
  onClick={onClick}
>
  <img
    src="/fimgs/1013_6801.x1.svg"
    class="flex items-start justify-start"
    style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
  />
  <div class="flex items-start justify-start">
    <div class="text-base font-bold leading-normal text-white">
      Tambah Author
    </div>
  </div>
</button>