<div class="flex self-stretch space-x-2.5 items-center justify-end px-4">
  <img
    src="/fimgs/1202_9165.x1.svg"
    class="flex items-start justify-start p-2.5"
    style="width: 60px; min-width: 60px; max-width: 60px; height: 60px; min-height: 60px; max-height: 60px;"
  />
  <div class="flex items-start justify-start">
    <div class="text-base font-medium leading-normal text-gray-700">
      Nama admin
    </div>
  </div>
  <img
    src="/fimgs/1048_3893.x1.svg"
    style="width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;"
  />
</div>