<div
  class={`flex self-stretch flex-col space-y-20 items-center justify-start py-9 bg-gray-900`}
  style={"background-color: black"}
>
  <div
    class={`flex self-stretch space-x-5 items-center justify-start px-9 pt-8`}
    style={"margin-top:25px;"}
  >
    <img
      src="/fimgs/1019_3906.x1.svg"
      style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
    />
    <div class="text-3xl font-bold leading-10 text-white">PYRI</div>
  </div>
  <div
    class={`text-white flex self-stretch flex-col space-y-1 items-start justify-center`}
    style={"margin-top:30px;"}
  >
    <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
      <img
        src="/fimgs/1019_3910.x1.svg"
        style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
      />
      <div class="flex flex-1 items-center justify-start">
        <div class="text-base font-bold leading-normal text-gray-50">
          Dashboard
        </div>
      </div>
    </div>
    <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
      <img
        src="/fimgs/1019_3915.x1.svg"
        class="flex items-start justify-start"
        style="width: 21px; min-width: 21px; max-width: 21px; height: 20px; min-height: 20px; max-height: 20px;"
      />
      <div class="flex flex-1 items-start justify-start">
        <div class="flex flex-1 items-start justify-start">
          <div class="text-base font-bold leading-normal text-gray-50">
            Master Data
          </div>
        </div>
      </div>
      <img
        src="/fimgs/1230_6104.x1.svg"
        class="flex items-start justify-start p-2.5"
        style="width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;"
      />
    </div>
    <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
      <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
        <div />
        <div class="flex flex-1 items-start justify-start">
          <div class="text-base font-bold leading-normal text-gray-50">
            Kategori Buku
          </div>
        </div>
      </div>
      <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
        <div />
        <div class="flex flex-1 items-start justify-start">
          <div class="text-base font-bold leading-normal text-gray-50">
            Genre Buku
          </div>
        </div>
      </div>
      <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
        <div />
        <div class="flex flex-1 items-start justify-start">
          <div class="text-base font-bold leading-normal text-gray-50">
            Data Author{" "}
          </div>
        </div>
      </div>
      <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
        <div />
        <div class="flex flex-1 items-start justify-start">
          <div class="text-base font-bold leading-normal text-gray-50">
            Data Publisher
          </div>
        </div>
      </div>
    </div>
    <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
      <img
        src="/fimgs/1019_3940.x1.svg"
        class="flex items-start justify-start"
        style="width: 15.75px; min-width: 15.75px; max-width: 15.75px; height: 18px; min-height: 18px; max-height: 18px;"
      />
      <div class="text-base font-bold leading-normal text-gray-50">
        User Management
      </div>
    </div>
    <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
      <img
        src="/fimgs/1019_3946.x1.svg"
        class="flex items-start justify-start"
        style="width: 18px; min-width: 18px; max-width: 18px; height: 18px; min-height: 18px; max-height: 18px;"
      />
      <div class="flex flex-1 items-start justify-start">
        <div class="text-base font-bold leading-normal text-gray-50">Buku</div>
      </div>
      <img
        src="/fimgs/1230_6193.x1.svg"
        class="flex items-start justify-start p-2.5"
        style="width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;"
      />
    </div>
    <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
      <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
        <div />
        <div class="flex flex-1 items-start justify-start">
          <div class="text-base font-bold leading-normal text-gray-50">
            Data Buku
          </div>
        </div>
      </div>
      <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
        <div />
        <div class="flex flex-1 items-start justify-start">
          <div class="text-base font-bold leading-normal text-gray-50">
            Chapter Buku
          </div>
        </div>
      </div>
      <div class="flex self-stretch space-x-2.5 items-center justify-start px-9 py-3">
        <div />
        <div class="flex flex-1 items-start justify-start">
          <div class="text-base font-bold leading-normal text-gray-50">
            Konten Buku
          </div>
        </div>
      </div>
    </div>
  </div>
</div>