<>
  <effect
    meta={{
      loginURL: "/m/login",
    }}
    run={async () => {}}
  />
  <div class="flex self-stretch flex-col items-start justify-start bg-white">
    <div
      class="flex flex-1 self-stretch flex-col items-center justify-center"
      style="height: 823px; min-height: 823px; max-height: 823px;background-image: url('/fimgs/bg-ff2b4084986bd7da53995b9a752b9e5665e21788');background-size:100% 100%;background-repeat:no-repeat;"
    >
      <div
        class={`flex flex-1 self-stretch flex-col space-y-9 items-center justify-center px-9 py-16 bg-black bg-opacity-50`}
        style={`backdrop-filter: blur(20px);`}
      >
        <div
          class="flex flex-col items-center justify-center px-10 py-8 bg-white bg-opacity-30 rounded-3xl"
          style="width: 126px; min-width: 126px; max-width: 126px; height: 92px; min-height: 92px; max-height: 92px;"
        >
          <div class="text-base font-medium leading-normal text-white">
            LOGO
          </div>
        </div>
        <div class="flex self-stretch flex-col items-center justify-start">
          <div class="flex self-stretch flex-col items-center justify-center">
            <div class="text-3xl font-bold leading-10 text-center text-white">
              Create your account
            </div>
          </div>
        </div>
        <form
          class={`flex self-stretch flex-col space-y-8 items-start justify-start`}
          action={"/m/login"}
        >
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <input-field
              class="placeholder-white"
              style={`width: 339px; min-width: 339px; max-width: 339px; height: 60px; min-height: 60px; max-height: 60px;`}
              placeholder={"Full Name"}
              type={"text"}
            />
            <input-field
              class="placeholder-white"
              style={`width: 339px; min-width: 339px; max-width: 339px; height: 60px; min-height: 60px; max-height: 60px;`}
              placeholder={"Email"}
              type={"email"}
            />
            <input-field
              class="placeholder-white"
              style={`width: 339px; min-width: 339px; max-width: 339px; height: 60px; min-height: 60px; max-height: 60px;`}
              placeholder={"Gender"}
              type={"text"}
            />
            <input-field
              class="placeholder-white"
              style={`width: 339px; min-width: 339px; max-width: 339px; height: 60px; min-height: 60px; max-height: 60px;`}
              placeholder={"Birthday"}
              type={"text"}
            />
            <input-field
              class="placeholder-white"
              style={`width: 339px; min-width: 339px; max-width: 339px; height: 60px; min-height: 60px; max-height: 60px;`}
              placeholder={"Password"}
              type={"password"}
            />
            <div class="flex self-stretch space-x-2.5 items-center justify-start">
              <div class="flex items-center justify-center">
                <input
                  type="checkbox"
                  style={`width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px; 
  background-color : transparent !important ;
  border:2px solid #ffffff !important;
  border-radius:3px`}
                  required="true"
                />
              </div>
              <div class="flex space-x-1 items-start justify-start">
                <div class="flex items-start justify-start">
                  <div
                    class={`text-base font-medium leading-normal text-white`}
                  >
                    I agree to the
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <div
                    class={`text-base font-medium leading-normal text-amber-500`}
                    style="color: #FF8F00"
                  >
                    Terms & Conditions
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="flex self-stretch flex-col space-y-4 items-center justify-center">
              <btn-primary
                class={`flex flex-col items-center justify-center py-1.5 pl-4 pr-6 bg-amber-500 rounded rounded-md`}
                style="height: 60px; min-height: 60px; max-height: 60px; background-color: #FF8F00"
                type={"submit"}
              >
                Register
              </btn-primary>
              <div class="flex self-stretch space-x-2.5 items-center justify-center">
                <div class="text-base font-medium leading-normal text-white">
                  Already have an account?
                </div>
                <a
                  href={meta.loginURL}
                  class={`text-base font-bold leading-normal text-amber-500`}
                  style="color: #FF8F00"
                >
                  Login
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</>