<>
  <effect
    meta={{
      regisURL: "/m/register",
      forgotURL: "/m/forgot-password",
      user_email: "",
      user_password: "",
      pass_type: "password",

      async showHidePass() {
        this.pass_type === "password"
          ? (this.pass_type = "text")
          : (this.pass_type = "password");
      },

      async onChange(key, e) {
        let value = e.target.value;
        runInAction(() => (this[key] = value));
        console.log(key + " : " + value);
      },

      validation() {
        let msg =
          this.user_email === "" || this.user_email === null
            ? "Email cant be empty!"
            : !validateEmail(this.user_email)
            ? "Invalid email! (abc@xyz.com)"
            : this.user_password === "" || this.user_password === null
            ? "Password cant be empty!"
            : false;
        return msg;
      },

      async submit() {
        let attemptuser = {};
        let error_msg = this.validation();

        if (error_msg) {
          window.mobileApp.app.dialog.alert(null, error_msg);
        } else {
          attemptuser = {
            user_email: this.user_email,
            user_password: encrypt(this.user_password),
          };
          console.log("here");
          window.mobileApp.app.dialog.preloader();
          api("/api/api-users", {
            users: { ...attemptuser },
            e: "FindEmail",
          }).then((res) => {
            console.log(res);

            if (res.users === null) {
              window.mobileApp.app.dialog.alert(null, "Email Not Found!");
            } else {
              api("/api/api-users", {
                users: { ...attemptuser },
                e: "Login",
              }).then((res) => {
                if (res.users === null) {
                  setTimeout(function () {
                    window.mobileApp.app.dialog.close();
                  }, 1000);
                  window.mobileApp.app.dialog.alert(null, "Wrong Password!");
                } else {
                  setTimeout(function () {
                    window.mobileApp.app.dialog.close();
                  }, 1000);
                  window.user = {
                    role: "users",
                    user: res.users,
                  }; // console.log(res.users);

                  const getInterest = api("/api/interests", {
                    user_id: res.users.user_id,
                    e: "show",
                  }).then((res) => {
                    if (res.result.length === 0) {
                      navigate("/m/interest-page");
                    } else {
                      navigate("/m/");
                    }
                  });
                }
              });
            }
          });
        }
      },
    }}
    run={async () => {}}
  />
  <div class={`flex flex-col items-start justify-start bg-white h-full`}>
    <div
      class="flex flex-1 self-stretch flex-col items-center justify-start"
      style="background-image: url('/fimgs/bg-e7b6df6c58bc28f2de4151141a2d2fc9fc5e4526');background-size:100% 100%;background-repeat:no-repeat;"
    >
      <div
        class={`flex flex-1 self-stretch flex-col space-y-8 items-center justify-center px-9 pt-6 pb-16 bg-black bg-opacity-50`}
        style={`backdrop-filter: blur(20px);`}
      >
        <div
          class="flex flex-col items-center justify-center px-10 py-8 bg-white bg-opacity-30 rounded-3xl"
          style="width: 126px; min-width: 126px; max-width: 126px; height: 92px; min-height: 92px; max-height: 92px;"
        >
          <div class="text-base font-medium leading-normal text-white">
            LOGO
          </div>
        </div>
        <div class="flex self-stretch flex-col items-center justify-start">
          <div class="flex self-stretch flex-col items-center justify-center">
            <div class="text-3xl font-bold leading-10 text-center text-white">
              Hello Again!
            </div>
            <div class="flex self-stretch items-center justify-center px-12">
              <div class="text-xl leading-loose text-center text-white">
                Welcome back you’ve been missed!
              </div>
            </div>
          </div>
        </div>
        <div
          class={`flex self-stretch flex-col space-y-8 items-start justify-start`}
          style={`height: 308px; min-height: 308px; max-height: 308px;`}
        >
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <m-list
              class={`flex self-stretch flex-col space-y-4 items-start justify-start list-none`}
              noHairlinesMd={true}
            >
              <div
                class={`flex self-stretch flex-col items-start justify-start border rounded border-white email-input`}
              >
                <input-new-white
                  label={"Email"}
                  type={"email"}
                  class={"w-full"}
                  floatingLabel={true}
                  required={true}
                  inputStyle={{
                    color: "white",
                  }}
                  style={`color: white; 
      background:transparent; 
      border-radius: 5px !important;`}
                  value={meta.user_email}
                  onChange={(e) => {
                    meta.onChange("user_email", e);
                  }}
                />
              </div>
              <div class="flex self-stretch items-start justify-start border rounded border-white">
                <input-new-white
                  label={"Password"}
                  type={meta.pass_type}
                  class={"w-full"}
                  floatingLabel={true}
                  required={true}
                  inputStyle={{
                    color: "white",
                  }}
                  style={`color: white; 
      background:transparent; 
      border-radius: 5px !important;`}
                  value={meta.user_password}
                  onChange={(e) => {
                    meta.onChange("user_password", e);
                  }}
                />
                <div
                  class={`flex flex-1 self-stretch flex-col items-start justify-center pt-4`}
                  style={`width: 30px; min-width: 30px; max-width: 30px; height: 60px; min-height: 60px; max-height: 60px;`}
                >
                  <img
                    src="/fimgs/1080_183347.x1.svg"
                    class={`flex flex-col items-center justify-center`}
                    style={`width: 22px; min-width: 22px; max-width: 22px; height: 15px; min-height: 15px; max-height: 15px;`}
                    onClick={() => {
                      meta.showHidePass();
                    }}
                  />
                </div>
              </div>
            </m-list>
            <div class="flex self-stretch flex-col items-end justify-center">
              <div class="flex self-stretch flex-col items-end justify-center">
                <a
                  href={meta.forgotURL}
                  class={`flex items-center justify-end`}
                >
                  <div class="text-base font-medium leading-normal text-white">
                    Did you forgot your password?
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <btn-primary
              onClick={meta.submit}
              class={`flex flex-col items-center justify-center py-1.5 pl-4 pr-6 bg-amber-500 rounded rounded-md`}
              style="height: 60px; min-height: 60px; max-height: 60px; background-color: #FF8F00"
              type={"submit"}
            >
              Login
            </btn-primary>
            <div class="flex self-stretch space-x-2.5 items-center justify-center">
              <div class="text-base font-medium leading-normal text-white">
                Don’t have an account?
              </div>
              <a href={meta.regisURL} class={`flex items-start justify-start`}>
                <div
                  class={`text-base font-bold leading-normal text-amber-500`}
                  style="color: #FF8F00"
                >
                  Register
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>