<>
  <effect
    meta={{
      showProfile: false,
      showMasterData: false,
      showManagement: false,
      changeProfile: (open) => {},
      changeManagement: (open) => {},
      changeMasterData: (open) => {},
      publisher: [],
      author: [],
      kategori: [],
      genre: [],
      book_title: "",
      book_description: "",
      book_year_of_release: "",
      book_age_restriction: "",
      book_publisher_id: "",
      book_author_one_id: "",
      book_author_two_id: "",
      book_author_three_id: "",
      book_category_id: "",
      book_genre_one_id: "",
      book_genre_two_id: "",
      book_genre_three_id: "",
      book_isbn: "",
      book_notes: "",
      book_is_released: "",

      validation() {
        let msg =
          this.book_picture === "" ||
          this.book_picture === null ||
          this.book_picture === undefined
            ? "Book cover cant be empty !"
            : this.book_title === "" ||
              this.book_title === null ||
              this.book_title === undefined
            ? "Book title cant be empty!"
            : this.book_year_of_release === "" ||
              this.book_year_of_release === null ||
              this.book_year_of_release === undefined
            ? "Book year of release cant be empty!"
            : this.book_publisher_id === "" ||
              this.book_publisher_id === null ||
              this.book_publisher_id === undefined
            ? "Publisher cant be empty!"
            : this.book_author_one_id === "" ||
              this.book_author_one_id === null ||
              this.book_author_one_id === undefined
            ? "Author cant be empty!"
            : this.book_genre_one_id === "" ||
              this.book_genre_one_id === null ||
              this.book_genre_one_id === undefined
            ? "Genre cant be empty!"
            : this.book_category_id === "" ||
              this.book_category_id === null ||
              this.book_category_id === undefined
            ? "Category cant be empty!"
            : this.book_author_one_id === this.book_author_two_id ||
              this.book_author_one_id === this.book_author_three_id ||
              this.book_author_one_id === this.book_author_three_id
            ? "Author should be unique"
            : this.book_genre_one_id === this.book_genre_two_id ||
              this.book_genre_one_id === this.book_genre_three_id ||
              this.book_genre_one_id === this.book_genre_three_id
            ? "Genre should be unique"
            : this.book_description === "" ||
              this.book_description === null ||
              this.book_description === undefined
            ? "Book description cant be empty!"
            : isNaN(this.book_isbn)
            ? "ISBN should only contain numbers!"
            : false;
        return msg;
      },

      async onChange(key, e) {
        let value = e.target.value;
        runInAction(() => (this[key] = value));
        console.log(key + " : " + value);
      },

      async submit() {
        let error_msg = this.validation();

        if (error_msg) {
          alert(error_msg);
        } else {
          let book = api("/api/books", {
            book: {
              book_title: this.book_title,
              book_description: this.book_description,
              book_year_of_release: new Date(this.book_year_of_release),
              book_picture: this.book_picture,
              book_age_restriction: parseInt(this.book_age_restriction),
              book_publisher_id: parseInt(this.book_publisher_id),
              book_author_one_id: parseInt(this.book_author_one_id),
              book_author_two_id: parseInt(this.book_author_two_id),
              book_author_three_id: parseInt(this.book_author_three_id),
              book_category_id: parseInt(this.book_category_id),
              book_genre_one_id: parseInt(this.book_genre_one_id),
              book_genre_two_id: parseInt(this.book_genre_two_id),
              book_genre_three_id: parseInt(this.book_genre_three_id),
              book_isbn: this.book_isbn,
              book_notes: this.book_notes,
              book_date_updated: new Date(),
              book_is_released: false,
            },
            e: "Create",
          }).then((res) => {
            console.log(res);
            navigate("/w-book");
          });
        }
      },

      async upload(file) {
        const formData = _FormData();

        formData.append("path", "book_cover");
        formData.append("file", file);
        const response = await fetch("/api/upload", {
          method: "POST",
          body: formData,
        });
        return await response.json();
      },

      async logout() {
        confirm("Logout of admin?") &&
          (await api("/api/admin", {
            data: "",
            event: "Logout",
          }).then((res) => {
            navigate("/login-admin");
          }));
      },
    }}
    run={async () => {
      meta.action = {
        changeMasterData: (open) => {
          meta.showMasterData = open;
          let img = document.getElementById("chevron-master");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeManagement: (open) => {
          meta.showManagement = open;
          let img = document.getElementById("chevron-management");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeProfile: (open) => {
          meta.showProfile = open;
        },
      };

      if (window.user.roleAdmin !== "admin") {
        navigate("/login-admin");
      }

      await api("/api/publisher", {
        publisher: "",
        e: "ReadAll",
      }).then((res) => {
        if (res.res !== "Failure" || res === null) {
          meta.publisher = res.publisher;
        }
      });
      await api("/api/categories", {
        category: "",
        e: "ReadAll",
      }).then((res) => {
        if (res.res !== "Failure" || res === null) {
          meta.kategori = res.category;
        }
      });
      await api("/api/authors", {
        authors: "",
        e: "ReadAll",
      }).then((res) => {
        if (res.res !== "Failure" || res === null) {
          meta.author = res.authors;
        }
      });
      await api("/api/tags", {
        tags: "",
        e: "ReadAll",
      }).then((res) => {
        if (res.res !== "Failure" || res === null) {
          meta.genre = res.tags;
        }
      });
      console.log(meta.publisher, meta.kategori, meta.author, meta.genre);
    }}
  />
  {window.user.roleAdmin === "admin" && (
    <div class={`w-full flex items-start justify-start bg-white`}>
      <div class={`w-full flex items-start justify-start`}>
        <div
          class={`flex self-stretch flex-col space-y-20 items-center justify-start py-9 bg-gray-900 fixed h-full overflow-y-auto`}
          style={"background-color: black"}
        >
          <div
            class={`flex self-stretch space-x-8 items-center justify-start px-9 pt-8`}
            style={"margin-top:35px;"}
          >
            <img
              src="/fimgs/2872_54307.x1.svg"
              style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
            />
            <div
              class={`text-3xl font-bold leading-10 text-white`}
              style={"margin-left:20px;"}
            >
              PYRI
            </div>
          </div>
          <div
            class={`text-white flex flex-1 flex-col space-y-1 items-start justify-start px-2.5`}
            style={"margin-top:50px;"}
          >
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
            >
              <img
                src="/fimgs/2872_54311.x1.svg"
                style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Dashboard
                </div>
              </div>
            </div>
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-center py-3 pl-9 pr-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showMasterData == false) {
                  meta.action.changeMasterData(true);
                  meta.action.changeManagement(false);
                } else {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/2872_54316.x1.svg"
                style="width: 14.70px; min-width: 14.70px; max-width: 14.70px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base font-bold leading-normal text-gray-50">
                    Master Data
                  </div>
                </div>
              </div>
              <img
                src="/fimgs/2872_54321.x1.svg"
                class={`transform rotate-180`}
                id="chevron-master"
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px; margin-right:25px !important;`}
              />
            </div>
            {meta.showMasterData && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-kategori");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Kategori Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-genre");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Genre Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-author");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-white">
                      Author{" "}
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-publisher");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Publisher
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showManagement == false) {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(true);
                } else {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/2872_54341.x1.svg"
                class="flex items-start justify-start"
                style="width: 15.75px; min-width: 15.75px; max-width: 15.75px; height: 18px; min-height: 18px; max-height: 18px;"
              />
              <div class="text-base font-bold leading-normal text-gray-50">
                User Management
              </div>
              <img
                src="/fimgs/2872_54346.x1.svg"
                id="chevron-management"
                class={`transform rotate-180`}
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;`}
              />
            </div>
            {meta.showManagement && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-user");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Data User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-user-blocked");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Blocked User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Subcription
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                navigate("/w-book");
              }}
            >
              <img
                src="/fimgs/2872_54358.x1.svg"
                style="width: 14.40px; min-width: 14.40px; max-width: 14.40px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Buku
                </div>
              </div>
            </div>
            <div />
          </div>
          <div class="flex self-stretch items-center justify-center">
            <div class="text-base leading-normal text-center text-gray-500">
              Copyright © 2021 Pyri
            </div>
          </div>
        </div>
        <div
          class={`w-full flex flex-1 flex-col space-y-9 items-start justify-start relative overflow-y-auto bg-gray-100`}
          style={"margin-left:254px;"}
        >
          <div class="flex self-stretch flex-col items-start justify-center py-9 bg-white">
            <div class="flex self-stretch flex-col items-start justify-start px-9">
              <div class="flex self-stretch space-x-2.5 items-center justify-start">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-3xl font-bold leading-10">Buku</div>
                </div>
                <div class="flex flex-col items-end justify-end">
                  <div class="flex items-center justify-end px-4">
                    <div
                      class={`flex space-x-2.5 items-center justify-center`}
                      onClick={() => {
                        if (meta.showProfile == false) {
                          meta.action.changeProfile(true);
                        } else {
                          meta.action.changeProfile(false);
                        }
                      }}
                    >
                      <img
                        src="/fimgs/2705_18879.x1.png"
                        class="flex items-start justify-start p-2.5"
                        style="width: 60px; min-width: 60px; max-width: 60px; height: 60px; min-height: 60px; max-height: 60px;"
                      />
                      <div class="flex items-start justify-start">
                        <div class="text-base font-medium leading-normal text-gray-700">
                          Savannah Nguyen
                        </div>
                      </div>
                      <img
                        src="/fimgs/2705_18883.x1.svg"
                        style="width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;"
                      />
                    </div>
                  </div>
                  {meta.showProfile && (
                    <div
                      class={`flex flex-col items-center justify-end px-4 absolute`}
                      style={"top: 98px;"}
                    >
                      <div
                        class={`flex self-stretch flex-col space-y-1 items-center justify-start p-4 bg-white shadow rounded`}
                      >
                        <div
                          class={`flex self-stretch items-center justify-center`}
                        >
                          <div class="text-base font-medium leading-normal text-gray-900">
                            Edit Profile
                          </div>
                        </div>
                        <div
                          class={`flex self-stretch space-x-2.5 items-center justify-center`}
                          onClick={meta.logout}
                        >
                          <div class="text-base font-medium leading-normal text-gray-900">
                            Logout
                          </div>
                          <img
                            src="/fimgs/I2705_18886_1048_3884.x1.svg"
                            class={`flex items-start justify-start`}
                            style={`width: 18px; min-width: 18px; max-width: 18px; height: 18px; min-height: 18px; max-height: 18px;`}
                          />
                        </div>
                      </div>
                    </div>
                  )}
                </div>
              </div>
            </div>
          </div>
          <div
            class={`w-full flex self-stretch flex-col items-start justify-start px-9 relative overflow-y-auto rounded`}
          >
            <div class="flex self-stretch flex-col items-center justify-start p-6 bg-gray-900 rounded-tl-lg rounded-tr-lg">
              <div class="flex self-stretch items-start justify-start">
                <div class="flex flex-1 self-stretch items-center justify-start">
                  <div class="text-base font-bold leading-normal text-white">
                    TAMBAH BUKU
                  </div>
                </div>
              </div>
            </div>
            <div
              class={`flex self-stretch flex-col space-y-9 items-start justify-start px-9 py-6 bg-white rounded-bl-lg rounded-br-lg`}
              style={"margin-bottom:50px;"}
            >
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start p-9 bg-white shadow rounded-lg">
                  <div class="flex self-stretch flex-col space-y-6 items-start justify-start rounded-lg">
                    <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                      <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-bold leading-normal">
                            Sampul
                          </div>
                        </div>
                        <dropify
                          type={`file`}
                          class={`flex self-stretch flex-col space-y-2.5 items-center justify-center p-4 bg-white border rounded border-gray-400 dropify`}
                          style={`height: 210px; min-height: 210px; max-height: 210px;`}
                          data-max-file-size={`3M`}
                          data-allowed-file-extensions={"png jpg jpeg"}
                          onChange={(e) => {
                            runInAction(async () => {
                              const upload = await meta.upload(
                                e.target.files[0]
                              );
                              runInAction(() => {
                                meta.book_picture = upload.path;
                              });
                            });
                          }}
                        />
                      </div>
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-bold leading-normal">
                            Judul Buku
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                          <input
                            class={"w-full"}
                            type="text"
                            placeholder="Masukkan Judul buku"
                            style={`color: black;
      background:transparent; 
      outline: none;`}
                            value={meta.book_title}
                            onChange={(e) => {
                              meta.onChange("book_title", e);
                            }}
                          />
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-6 items-start justify-start">
                      <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-bold leading-normal">
                            Tanggal Rilis
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                          <input
                            class={"w-full"}
                            type="date"
                            style={`color: black;
      background:transparent; 
      outline: none;`}
                            value={meta.book_year_of_release}
                            onChange={(e) => {
                              meta.onChange("book_year_of_release", e);
                            }}
                          />
                        </div>
                      </div>
                      <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-bold leading-normal">
                            Batasan Umur
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                          <input
                            class={"w-full"}
                            type="text"
                            placeholder="Masukkan Batasan Umur"
                            style={`color: black;
      background:transparent; 
      outline: none;`}
                            value={meta.book_age_restriction}
                            onChange={(e) => {
                              meta.onChange("book_age_restriction", e);
                            }}
                          />
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Publisher
                        </div>
                      </div>
                      <div class="flex self-stretch items-center justify-start px-4 py-3 bg-white border rounded border-gray-300">
                        <div class="flex flex-1 items-start justify-start">
                          <select
                            class="w-full"
                            defaultValue="Pilih Publisher"
                            style={`color: black; 
      outline:none;
      background:transparent;`}
                            value={meta.book_publisher_id}
                            onChange={(e) => {
                              meta.onChange("book_publisher_id", e);
                            }}
                          >
                            <option
                              value={"Pilih Publisher"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Pilih Publisher"}
                            </option>
                            {meta.publisher.map((numList, i) => {
                              return (
                                <option
                                  value={numList.publisher_id}
                                  class={`flex self-stretch flex-col items-start justify-start`}
                                  style="color: black"
                                >
                                  {numList.publisher_name}
                                </option>
                              );
                            })}
                            {"Pilih Publisher"}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-6 items-start justify-start">
                      <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                        <div
                          class={`flex self-stretch items-start justify-start`}
                        >
                          <div class="text-base font-bold leading-normal">
                            Author 1
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-4 py-3 bg-white border rounded border-gray-300">
                          <select
                            class="w-full"
                            defaultValue="Pilih Author"
                            style={`color: black; 
      outline:none;
      background:transparent;`}
                            value={meta.book_author_one_id}
                            onChange={(e) => {
                              meta.onChange("book_author_one_id", e);
                            }}
                          >
                            <option
                              value={"Pilih Author"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Pilih Author"}
                            </option>
                            {meta.author.map((numList, i) => {
                              return (
                                <option
                                  value={numList.author_id}
                                  class={`flex self-stretch flex-col items-start justify-start`}
                                  style="color: black"
                                >
                                  {numList.author_name}
                                </option>
                              );
                            })}
                            {"Pilih Publisher"}
                          </select>
                        </div>
                      </div>
                      <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch space-x-1 items-start justify-start">
                          <div class="flex items-start justify-start">
                            <div class="text-base font-bold leading-normal">
                              Author 2
                            </div>
                          </div>
                          <div class="flex flex-1 items-start justify-start">
                            <div class="text-base leading-normal text-gray-500">
                              (opsional)
                            </div>
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                          <select
                            class="w-full"
                            defaultValue="Pilih Author"
                            style={`color: black; 
      outline:none;
      background:transparent;`}
                            value={meta.book_author_two_id}
                            onChange={(e) => {
                              meta.onChange("book_author_two_id", e);
                            }}
                          >
                            <option
                              value={"Pilih Author"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Pilih Author"}
                            </option>
                            {meta.author.map((numList, i) => {
                              return (
                                <option
                                  value={numList.author_id}
                                  class={`flex self-stretch flex-col items-start justify-start`}
                                  style="color: black"
                                >
                                  {numList.author_name}
                                </option>
                              );
                            })}
                            {"Pilih Publisher"}
                          </select>
                        </div>
                      </div>
                      <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch space-x-1 items-start justify-start">
                          <div class="flex items-start justify-start">
                            <div class="text-base font-bold leading-normal">
                              Author 3
                            </div>
                          </div>
                          <div class="flex flex-1 items-start justify-start">
                            <div class="text-base leading-normal text-gray-500">
                              (opsional)
                            </div>
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                          <select
                            class="w-full"
                            defaultValue="Pilih Author"
                            style={`color: black; 
      outline:none;
      background:transparent;`}
                            value={meta.book_author_three_id}
                            onChange={(e) => {
                              meta.onChange("book_author_three_id", e);
                            }}
                          >
                            <option
                              value={"Pilih Author"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Pilih Author"}
                            </option>
                            {meta.author.map((numList, i) => {
                              return (
                                <option
                                  value={numList.author_id}
                                  class={`flex self-stretch flex-col items-start justify-start`}
                                  style="color: black"
                                >
                                  {numList.author_name}
                                </option>
                              );
                            })}
                            {"Pilih Publisher"}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Kategori
                        </div>
                      </div>
                      <div class="flex self-stretch items-center justify-start px-4 py-3 bg-white border rounded border-gray-300">
                        <div class="flex flex-1 items-start justify-start">
                          <select
                            class="w-full"
                            defaultValue="Pilih Kategori"
                            style={`color: black; 
      outline:none;
      background:transparent;`}
                            value={meta.book_category_id}
                            onChange={(e) => {
                              meta.onChange("book_category_id", e);
                            }}
                          >
                            <option
                              value={"Pilih Kategori"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Pilih Kategori"}
                            </option>
                            {meta.kategori.map((numList, i) => {
                              return (
                                <option
                                  value={numList.category_id}
                                  class={`flex self-stretch flex-col items-start justify-start`}
                                  style="color: black"
                                >
                                  {numList.category_name}
                                </option>
                              );
                            })}
                            {"Pilih Publisher"}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-6 items-start justify-start">
                      <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-bold leading-normal">
                            Genre 1
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-4 py-3 bg-white border rounded border-gray-300">
                          <select
                            defaultValue="Pilih Genre"
                            class="w-full"
                            style={`color: black; 
      outline:none;
      background:transparent;`}
                            value={meta.book_genre_one_id}
                            onChange={(e) => {
                              meta.onChange("book_genre_one_id", e);
                            }}
                          >
                            <option
                              value={"Pilih Genre"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Pilih Genre"}
                            </option>
                            {meta.genre.map((numList, i) => {
                              return (
                                <option
                                  value={numList.tag_id}
                                  class={`flex self-stretch flex-col items-start justify-start`}
                                  style="color: black"
                                >
                                  {numList.tag_name}
                                </option>
                              );
                            })}
                            {"Pilih Genre"}
                          </select>
                        </div>
                      </div>
                      <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch space-x-1 items-start justify-start">
                          <div class="flex items-start justify-start">
                            <div class="text-base font-bold leading-normal">
                              Genre 2
                            </div>
                          </div>
                          <div class="flex flex-1 items-start justify-start">
                            <div class="text-base leading-normal text-gray-500">
                              (opsional)
                            </div>
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-4 py-3 bg-white border rounded border-gray-300">
                          <select
                            defaultValue="Pilih Genre"
                            class="w-full"
                            style={`color: black; 
      outline:none;
      background:transparent;`}
                            value={meta.book_genre_two_id}
                            onChange={(e) => {
                              meta.onChange("book_genre_two_id", e);
                            }}
                          >
                            <option
                              value={"Pilih Genre"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Pilih Genre"}
                            </option>
                            {meta.genre.map((numList, i) => {
                              return (
                                <option
                                  value={numList.tag_id}
                                  class={`flex self-stretch flex-col items-start justify-start`}
                                  style="color: black"
                                >
                                  {numList.tag_name}
                                </option>
                              );
                            })}
                            {"Pilih Genre"}
                          </select>
                        </div>
                      </div>
                      <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch space-x-1 items-start justify-start">
                          <div class="flex items-start justify-start">
                            <div class="text-base font-bold leading-normal">
                              Genre 3
                            </div>
                          </div>
                          <div class="flex flex-1 items-start justify-start">
                            <div class="text-base leading-normal text-gray-500">
                              (opsional)
                            </div>
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-4 py-3 bg-white border rounded border-gray-300">
                          <select
                            defaultValue="Pilih Genre"
                            class="w-full"
                            style={`color: black; 
      outline:none;
      background:transparent;`}
                            value={meta.book_genre_three_id}
                            onChange={(e) => {
                              meta.onChange("book_genre_three_id", e);
                            }}
                          >
                            <option
                              value={"Pilih Genre"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Pilih Genre"}
                            </option>
                            {meta.genre.map((numList, i) => {
                              return (
                                <option
                                  value={numList.tag_id}
                                  class={`flex self-stretch flex-col items-start justify-start`}
                                  style="color: black"
                                >
                                  {numList.tag_name}
                                </option>
                              );
                            })}
                            {"Pilih Genre"}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          ISBN
                        </div>
                      </div>
                      <div class="flex self-stretch items-center justify-start px-4 py-3 bg-white border rounded border-gray-300">
                        <input
                          class={"w-full"}
                          type="text"
                          placeholder="Masukkan ISBN"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          value={meta.book_isbn}
                          onChange={(e) => {
                            meta.onChange("book_isbn", e);
                          }}
                        />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Deskripsi
                        </div>
                      </div>
                      <div
                        class="flex self-stretch items-start justify-start py-2 pl-4 bg-white border rounded border-gray-300"
                        style="height: 128px; min-height: 128px; max-height: 128px;"
                      >
                        <textarea
                          rows="5"
                          class={"w-full"}
                          type="text"
                          placeholder="Masukkan Deskripsi Buku"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          value={meta.book_description}
                          onChange={(e) => {
                            meta.onChange("book_description", e);
                          }}
                        />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Catatan
                        </div>
                      </div>
                      <div class="flex self-stretch items-start justify-start px-4 py-3 bg-white border rounded border-gray-300">
                        <input
                          class={"w-full"}
                          type="text"
                          placeholder="Masukkan Catatan"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          value={meta.book_notes}
                          onChange={(e) => {
                            meta.onChange("book_notes", e);
                          }}
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex self-stretch space-x-3 items-center justify-end">
                <button
                  class={`flex items-start justify-start px-4 py-2 border rounded border-gray-400`}
                  onClick={() => {
                    navigate("/w-book");
                  }}
                >
                  <div class="text-base font-bold leading-normal text-amber-500">
                    Batal
                  </div>
                </button>
                <button
                  class={`flex items-start justify-start px-4 py-2 bg-amber-500 rounded`}
                  onClick={meta.submit}
                >
                  <div class="text-base font-bold leading-normal text-white">
                    Tambah
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  )}
</>