<>
  <effect
    meta={{
      genre_name: "",
      rating_score: [],
      views_count: [],
      books: [],
      books_length: 0,
      showMoreBooks: false,

      async showMore(key) {
        if (key === "Books") {
          runInAction(() => {
            this.showMoreBooks = true;
          });
          setTimeout(() => {
            runInAction(() => {
              this.books_length =
                this.books.length > this.books_length + 5
                  ? this.books_length + 5
                  : this.books.length;
              this.showMoreBooks = false;
            });
          }, 1000);
        }
      },
    }}
    run={async () => {
      if (!!window.capacitor.PrivacyScreen) {
        window.capacitor.PrivacyScreen.disable();
      }

      let books;
      let genre;
      let viewsCount;
      let ratingScore;
      await api("/api/books", {
        book: {
          genre_id: params.id,
        },
        e: "ReadByGenreId",
      }).then((res) => {
        books = res.book;
      });
      await api("/api/tags", {
        tags: {
          tag_id: params.id,
        },
        e: "ReadById",
      }).then((res) => {
        genre = res.tags;
      });
      await api("/api/history-book", {
        viewBook: {
          viewBook_book_id: 24,
        },
        e: "ViewsCount",
      }).then((res) => {
        viewsCount = res.viewBook;
      });
      await api("/api/rating", {
        rating: {
          book_id: 23,
        },
        e: "AverageScore",
      }).then((res) => {
        ratingScore = res.rating;
      });
      runInAction(() => {
        meta.genre_name = genre.tag_name;
        meta.books = books;
        meta.books_length = books.length > 5 ? 5 : books.length;
        meta.views_count = viewsCount;
        console.log(meta.views_count);
        meta.rating_score = ratingScore;
        console.log(meta.rating_score);
      });
      console.log(meta.books);
    }}
  />
  <div class="flex flex-col items-start justify-start bg-white">
    <div class="flex flex-1 self-stretch flex-col space-y-5 items-start justify-start relative overflow-y-auto">
      <div
        class={`flex self-stretch flex-col items-start justify-center px-6 pt-9 pb-4 bg-white shadow`}
      >
        <div class="flex self-stretch space-x-4 items-center justify-start">
          <div class={`flex self-stretch items-center justify-start`}>
            <ficon
              aria-label="Back"
              iconName="Back"
              style="font-size:23px; color:black;"
              onClick={() => {
                back();
              }}
              class={`flex self-stretch items-center justify-start`}
            />
          </div>
          <div class="flex flex-1 items-center justify-center">
            <div class={`text-xl font-bold leading-loose text-center`}>
              {meta.genre_name || children}
            </div>
          </div>
          <div />
        </div>
      </div>
      <div class="flex self-stretch flex-col items-start justify-start px-6 relative overflow-y-auto">
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
          {meta.books.slice(0, meta.books_length).map((numList, i) => {
            return (
              <div
                class={`flex self-stretch space-x-4 items-start justify-start bg-white shadow shadow-inner rounded my-2`}
              >
                <div
                  class={`flex items-start justify-start`}
                  onClick={() => {
                    navigate("/m/detail-book-page/" + numList.book_id);
                  }}
                >
                  {numList.book_picture !== "-" && numList.book_picture !== "" && (
                    <img
                      src={`/upload/${numList.book_picture}`}
                      style="border-radius:8%; height: 158px; width: 111px;"
                      onError={(e) => {
                        e.target.onerror = null;
                        e.target.src = "/fimgs/3535_19306.x1.png";
                      }}
                    />
                  )}
                </div>
                <div class="flex flex-1 self-stretch flex-col items-start justify-center">
                  <div
                    class={`flex self-stretch flex-col space-y-2 items-start justify-start`}
                    onClick={() => {
                      navigate("/m/detail-book-page/" + numList.book_id);
                    }}
                  >
                    <div class="flex self-stretch flex-col items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class={`text-base font-medium leading-normal`}>
                          {numList.book_title}
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-2 items-center justify-start">
                        <div class="flex items-start justify-start">
                          <div class="flex items-center justify-center rounded-full">
                            <div
                              class={`text-xs font-medium leading-none text-center text-gray-500`}
                            >
                              {numList.tags_books_book_genre_one_idTotags
                                ? numList.tags_books_book_genre_one_idTotags
                                    .tag_name
                                : ""}{" "}
                              {numList.tags_books_book_genre_two_idTotags
                                ? numList.tags_books_book_genre_two_idTotags
                                    .tag_name
                                : ""}{" "}
                              {numList.tags_books_book_genre_three_idTotags
                                ? numList.tags_books_book_genre_three_idTotags
                                    .tag_name
                                : ""}
                            </div>
                          </div>
                        </div>
                        <div class="flex self-stretch space-x-2 items-center justify-start">
                          <div class="flex items-center justify-center">
                            <div class="flex items-center justify-center pr-0.5">
                              <ficon
                                aria-label="FavoriteStarFill"
                                iconName="FavoriteStarFill"
                                style="font-size:10px; color: #ff9f43;"
                                class={`flex items-center justify-center pr-1`}
                              />
                              <div class="text-xs leading-none text-amber-500">
                                4.9
                              </div>
                            </div>
                          </div>
                          <div class="flex items-center justify-center">
                            <img
                              src="/fimgs/4000_79452.x1.svg"
                              class="flex flex-col items-start justify-start pr-0.5"
                              style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
                            />
                            <div class="text-xs leading-none text-center text-amber-500">
                              123
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch items-start justify-start pr-1">
                      <div
                        class={`text-sm font-medium leading-tight text-gray-600`}
                      >
                        {numList.book_description
                          ? numList.book_description.length > 100
                            ? numList.book_description.substring(0, 97) + "..."
                            : numList.book_description
                          : "No description available."}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            );
          })}
          {meta.books.length === 0 && (
            <div class={`flex self-stretch items-center justify-center`}>
              <div class={`text-base font-medium leading-normal text-center`}>
                No data found
              </div>
            </div>
          )}
          <div class="flex self-stretch flex-col items-center justify-center p-2.5">
            {meta.books.length > meta.books_length && (
              <m-button
                preloader={true}
                loading={meta.showMoreBooks}
                onClick={() => {
                  meta.showMore("Books");
                }}
                class={`flex items-center justify-center p-1 bg-amber-500 bg-opacity-25 rounded-md color-orange`}
                style={`text-transform: capitalize;
  padding: 16px 16px 16px 12px;
    color: #FF8F00;
    background-color: #FF8F0040;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 6px;
    user-select: none;`}
              >
                <div
                  class={`text-xs font-medium leading-none text-center text-amber-500`}
                >
                  Load More
                </div>
              </m-button>
            )}
          </div>
        </div>
      </div>
    </div>
  </div>
</>