<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex self-stretch flex-col items-start justify-start bg-white">
    <div class="flex flex-1 self-stretch flex-col space-y-4 items-start justify-start p-6">
      <div class="flex self-stretch space-x-2.5 items-start justify-start">
        <ficon
          aria-label="CircleFill"
          iconName="CircleFill"
          style="font-size:25px; color:orange;"
        >
          <div class="bg-amber-500 rounded-full" />
        </ficon>
        <div class="flex flex-1 items-center justify-end">
          <div class="text-2xl font-bold leading-9 text-right text-amber-500">
            INVOICE
          </div>
        </div>
      </div>
      <div class="flex self-stretch items-start justify-start">
        <div class="text-sm font-bold leading-tight">Invoice #34782</div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
        <div class="flex self-stretch space-x-16 items-start justify-start">
          <div class="flex flex-1 flex-col space-y-0.5 items-start justify-start">
            <div class="text-xs font-bold leading-none">Invoice Date</div>
            <div class="text-xs leading-none">March21, 2021</div>
          </div>
          <div class="flex flex-1 flex-col space-y-0.5 items-start justify-start">
            <div class="text-xs font-bold leading-none">Due Date</div>
            <div class="text-xs leading-none">March23, 2021</div>
          </div>
        </div>
        <div class="flex self-stretch space-x-16 items-start justify-start">
          <div class="flex flex-1 flex-col space-y-0.5 items-start justify-start">
            <div class="text-xs font-bold leading-none">Invoice For : </div>
            <div class="flex self-stretch flex-col items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xs leading-none">PT.PYRI</div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xs leading-none">Surabaya</div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xs leading-none">089323221</div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xs leading-none">pyri.com</div>
              </div>
            </div>
          </div>
          <div class="flex flex-1 flex-col space-y-0.5 items-start justify-start">
            <div class="text-xs font-bold leading-none">Invoice To : </div>
            <div class="text-xs leading-none">Andi Pamungkas</div>
            <div class="text-xs leading-none">andipamungkas@gmail.com</div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2 items-start justify-start bg-white">
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch space-x-4 items-start justify-start px-2 py-1 bg-amber-500">
            <div class="flex flex-1 items-start justify-start">
              <div class="text-xs font-bold leading-none text-white">
                ITEM NAME
              </div>
            </div>
            <div class="flex flex-1 items-start justify-start">
              <div class="text-xs font-bold leading-none text-white">MONTH</div>
            </div>
            <div class="flex flex-1 items-start justify-end">
              <div class="text-xs font-bold leading-none text-right text-white">
                UNIT PRICE
              </div>
            </div>
            <div class="flex flex-1 items-start justify-end">
              <div class="text-xs font-bold leading-none text-right text-white">
                AMOUNT
              </div>
            </div>
          </div>
          <div
            class={`flex self-stretch space-x-4 items-start justify-start px-2 py-1`}
            style="padding-bottom:5px; border-bottom: 1px solid #dfe6e9;"
          >
            <div class="flex flex-1 items-start justify-start">
              <div class="text-xs leading-none">Bibliognost</div>
            </div>
            <div class="flex flex-1 flex-col items-start justify-start">
              <div class="text-xs leading-none">6</div>
            </div>
            <div class="flex flex-1 items-start justify-end">
              <div class="text-xs leading-none text-right">60,000.00</div>
            </div>
            <div class="flex flex-1 items-start justify-end">
              <div class="text-xs leading-none text-right">360,000.00</div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch space-x-4 items-start justify-start px-2 py-1">
          <div />
          <div />
          <div
            class={`flex flex-1 items-start justify-start`}
            style="margin-left:167px !important;"
          >
            <div class="text-xs font-bold leading-none text-right">
              SUBTOTAL
            </div>
          </div>
          <div class="flex flex-1 items-center justify-end">
            <div class="text-xs leading-none text-right">360,000.00</div>
          </div>
        </div>
        <div class="flex self-stretch space-x-4 items-start justify-start px-2 py-1">
          <div />
          <div />
          <div
            class={`flex flex-1 items-start justify-start`}
            style="margin-left:165px !important;"
          >
            <div class="text-xs font-bold leading-none text-right">
              DISCOUNT(10%)
            </div>
          </div>
          <div class="flex flex-1 items-center justify-end">
            <div class="text-xs leading-none text-right">36,000.00</div>
          </div>
        </div>
        <div class="flex self-stretch items-center justify-end">
          <div class="flex space-x-4 items-start justify-start px-2 py-1 bg-amber-500">
            <div class="flex items-start justify-start">
              <div class="text-xs font-bold leading-none text-right text-white">
                TOTAL
              </div>
            </div>
            <div class="flex items-center justify-end">
              <div class="text-xs font-bold leading-none text-right text-white">
                324,000.00
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-1 items-start justify-start p-2 bg-gray-50 rounded">
        <div class="text-xs font-bold leading-none">Payment Details </div>
        <div class="flex self-stretch flex-col items-start justify-start">
          <div class="text-xs leading-none">
            Money transfer to the account below:
          </div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-xs leading-none">Bank</div>
          </div>
          <div class="flex flex-1 items-start justify-start">
            <div class="text-xs leading-none">BRI</div>
          </div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-xs leading-none">Account Number</div>
          </div>
          <div class="flex flex-1 items-start justify-start">
            <div class="text-xs leading-none">8426 0004 3976 6654 </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch items-start justify-start p-2 bg-gray-50 rounded">
        <div class="flex flex-1 items-start justify-start">
          <div class="text-xs font-bold leading-none">Status </div>
        </div>
        <div class="flex flex-1 items-start justify-start">
          <div class="text-xs leading-none">Pending</div>
        </div>
      </div>
    </div>
  </div>
</>