<>
  <effect
    meta={{
      user: [],

      async updateinterest() {
        let count = document.getElementsByClassName(
          "flex-1 border-amber-500 bg-amber-500"
        ).length;

        if (count <= 3 && count > 0) {
          console.log("Success");
          window.mobileApp.app.dialog.preloader();
          await api("/api/interests", {
            e: "post",
            user_id: this.user.user_id,
            tags_id: this.user.interests,
          }).then((res) => {
            console.log(res);
            navigate("/m/");
            window.mobileApp.app.dialog.close();
            location.reload();
          });
        } else {
          var toastCenter = window.mobileApp.app.toast.create({
            text: "Please choose at least one.",
            position: "center",
            closeTimeout: 2000,
          }); // Open it

          toastCenter.open();
          console.log("Fail");
        }

        window.mobileApp.app.dialog.close();
      },
    }}
    run={async () => {
      // const res = await api("/api/api-users", { users: "ReadMany", e: "RefreshAPI" });
      const tags = await api("/api/interests", {
        e: "index",
      });
      runInAction(() => {
        meta.user = window.user.user || [];
        meta.user.interests = [];
      });
      document.getElementById("kotak").className =
        "flex flex-1 self-stretch flex-col space-y-2.5 items-start justify-start"; // membuat row flex yang bisa contain 1-3 input interest

      for (let row = 0; row < tags.result.length / 3; row++) {
        let containerDiv = document.createElement("div");
        containerDiv.className =
          "flex self-stretch space-x-2.5 items-start justify-start";
        containerDiv.setAttribute("id", `row${row}`);
        document.getElementById("kotak").appendChild(containerDiv);
      } // membuat input interest

      for (let index = 0; index < tags.result.length; index++) {
        let mainDiv = document.createElement("div");
        mainDiv.className =
          "flex flex-1 self-stretch items-center justify-center px-4 py-2 border rounded-lg border-amber-500";
        document
          .getElementById(`row${Math.floor(index / 3)}`)
          .appendChild(mainDiv);
        let labelDiv = document.createElement("label");
        mainDiv.appendChild(labelDiv);
        let inputDiv = document.createElement("input");
        inputDiv.setAttribute("type", "checkbox");
        inputDiv.setAttribute("value", tags.result[index].tag_id);
        inputDiv.setAttribute("style", "position: absolute; top: -60px");
        labelDiv.appendChild(inputDiv);
        let textDiv = document.createElement("span");
        textDiv.className = "text-base font-medium leading-normal text-center";
        textDiv.innerHTML = tags.result[index].tag_name;
        labelDiv.appendChild(textDiv);
        textDiv.addEventListener("click", (event) => {
          if (inputDiv.checked == false && meta.user.interests.length < 3) {
            mainDiv.classList.add("bg-amber-500");
            meta.user.interests.push(inputDiv.value);
            console.log(meta.user.interests);
          } else {
            mainDiv.classList.remove("bg-amber-500");
            let index = meta.user.interests.indexOf(inputDiv.value);

            if (index > -1) {
              meta.user.interests.splice(index, 1);
            }

            console.log(meta.user.interests);
          }
        });
      }
    }}
  />
  <div class={`flex flex-col items-start justify-start bg-white`}>
    <div
      class="flex self-stretch flex-col space-y-8 items-center justify-end px-9 pt-16 pb-9"
      style="height: 823px; min-height: 823px; max-height: 823px;"
    >
      <div class="flex self-stretch flex-col space-y-1.5 items-start justify-start">
        <div class={`text-2xl font-bold leading-9 text-amber-500`}>
          Hi, {meta.user["user_name"] || "Username"}
        </div>
        <div class="text-base leading-normal">
          Choose up to 3 genres that you enjoy reading. This will help us better
          recommend stories you’ll love.
        </div>
      </div>
      <div
        style={`height: 477px; min-height: 477px; max-height: 477px;`}
        id="kotak"
      />
      <div
        class={`flex self-stretch flex-col items-center justify-center`}
        style={`height: 60px; min-height: 60px; max-height: 60px;`}
      >
        <btn-rounded
          class={`flex items-center justify-center px-4 py-2 bg-amber-500 shadow border rounded-3xl border-amber-500`}
          onClick={meta.updateinterest}
        >
          Done
        </btn-rounded>
      </div>
    </div>
  </div>
</>