<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex self-stretch flex-col items-start justify-start bg-white">
    <div
      class={`flex flex-1 self-stretch flex-col items-center justify-start`}
      style={`width: 411px; min-width: 411px; max-width: 411px; height: 823px; min-height: 823px; max-height: 823px;background-image: url('/fimgs/bg-e7b6df6c58bc28f2de4151141a2d2fc9fc5e4526');background-size:100% 100%;background-repeat:no-repeat;`}
    >
      <div
        class={`flex flex-1 self-stretch flex-col space-y-2.5 items-center justify-center px-9 pt-6 pb-16 bg-black bg-opacity-50`}
        style="backdrop-filter: blur(20px)"
      >
        <div class="flex self-stretch flex-col items-center justify-end p-2.5">
          <div
            class="flex flex-col items-center justify-center px-10 py-8 bg-white bg-opacity-30 rounded-3xl"
            style="width: 126px; min-width: 126px; max-width: 126px; height: 92px; min-height: 92px; max-height: 92px;"
          >
            <div class="text-base font-medium leading-normal text-white">
              LOGO
            </div>
          </div>
        </div>
        <div
          class={`flex flex-1 self-stretch flex-col items-start justify-start`}
          style={`width: 339px; min-width: 339px; max-width: 339px; height: 480px; min-height: 480px; max-height: 480px;`}
        >
          <m-list
            class={`flex self-stretch flex-col space-y-2.5 items-start justify-start list-none`}
            noHairlinesMd={true}
            style="background:transparent"
          >
            <div class="flex self-stretch flex-col items-start justify-center border rounded border-white">
              <input-testing
                label={"Full Name"}
                type={"text"}
                floatingLabel={true}
              />
            </div>
            <div
              class={`flex self-stretch flex-col items-start justify-center border rounded border-white`}
            >
              <input-testing
                label={"Password"}
                type={"password"}
                floatingLabel={true}
              />
            </div>
          </m-list>
        </div>
      </div>
    </div>
  </div>
</>