<m-page
  // ptr={true}
  // ptrMousewheel={true}
  // onPtrRefresh={() => {
  //   meta.loadMore();
  // }}
  infinite={true}
  infiniteDistance={100}
  infinitePreloader={true}
  onInfinite={() => {
    meta.loadMore();
  }}
>
  <effect
    meta={{
      color: [
        "white",
        "red",
        "black",
        "Pastel",
        "Space",
        "Earth",
        "Neon",
        "Gold",
        "Vintage",
        "Retro",
        "Light",
        "Dark",
        "Warm",
        "Cold",
        "Summer",
        "Fall",
        "Winter",
        "Spring",
        "Rainbow",
        "Night",
      ],
      async loadMore() {
        var temp = [];
        this.color.map(() => {
          temp.push(this.color[Math.floor(Math.random() * this.color.length)]);
        });
        setTimeout(() => {
          runInAction(() => {
            this.color.push(...temp);
          });
        }, 2000);
      },
    }}
    run={async () => {
      // console.log(new Date());

      // read all user
      let user_counter = 0;
      let non_premium_counter = 0;
      let premium_counter = 0;
      api("/api/api-users", {
        user: "",
        e: "ReadMany",
      }).then((res) => {
        let users = res.users;
        console.log(users);
        user_counter = res.users.length;
        // groupedByMonth(users);
        // user premium
        api("/api/api-users", {
          user: "",
          e: "ReadUserSubscription",
        }).then((res) => {
          if (res.users.length !== 0) {
            res.users.map((value, i) => {
              if (compareAsc(new Date(), new Date(value.expired_date)) !== 1) {
                premium_counter += 1;
              }
            });
            // user non premium
            non_premium_counter = user_counter - premium_counter;
            console.log("Total Pengguna");
            console.log(
              "Jumlah User      : " +
                user_counter +
                " (" +
                (user_counter / user_counter) * 100 +
                "%)"
            );
            console.log(
              "Premium User     : " +
                premium_counter +
                " (" +
                (premium_counter / user_counter) * 100 +
                "%)"
            );
            console.log(
              "Non Premium User : " +
                non_premium_counter +
                " (" +
                (non_premium_counter / user_counter) * 100 +
                "%)"
            );
            console.log("===============================");
          }
        });
      });

      // pendapatan bulan ini
      let income_this_month = 0;
      let income_last_month = 0;
      api("/api/api-users", {
        user: "",
        e: "ReadUserPayment",
      }).then((res) => {
        if (res.users.length !== 0) {
          res.users.map((value, i) => {
            if (
              getMonth(new Date(value.mt_settled_date)) + 1 ===
              getMonth(new Date()) + 1
            ) {
              income_this_month += parseFloat(value.mt_gross_amount);
              // console.log(typeof value.mt_gross_amount);
            }
            if (
              getMonth(new Date(value.mt_settled_date)) + 1 ===
              getMonth(new Date())
            ) {
              income_last_month += parseFloat(value.mt_gross_amount);
              // console.log(typeof value.mt_gross_amount);
            }
          });
          console.log("Pendapatan bulan ini     : " + income_this_month);
          console.log("Pendapatan bulan lalu    : " + income_last_month);
          console.log(
            "Kenaikan dari bulan lalu : " +
              (income_this_month - income_last_month)
          );
          console.log("===============================");
        }
      });
    }}
  />
  <div class={`h-full`}>
    <m-navbar title="Infinite Scroll"></m-navbar>
    <m-list class={`flex flex-col list-none`}>
      {meta.color.map((numList, i) => {
        return (
          <m-list-item
            style={
              i % 2 !== 0
                ? "background-color:#FFFCDC"
                : "background-color:#EDD2F3"
            }
          >
            {numList}
          </m-list-item>
        );
      })}
    </m-list>
    <span>Loading Carousel</span>
    <loading-box />
    <span>Loading Swipper</span>
    <div style="height:100px; width:100px">
      <loading-box />
    </div>
    <span>Loading List</span>
    <loading-box />
    <dropify
      class={`text-xs dropify placeholder-black`}
      onChange={(e) => {
        console.log(e.target.files[0]);
      }}
    />
    <div class="border border-blue-300 shadow rounded-md p-4 max-w-sm w-full mx-auto">
      <div class="animate-pulse flex space-x-4">
        <div class="rounded-full bg-blue-400 h-12 w-12"></div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-blue-400 rounded w-3/4"></div>
          <div class="space-y-2">
            <div class="h-4 bg-blue-400 rounded"></div>
            <div class="h-4 bg-blue-400 rounded w-5/6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</m-page>