<>
  <effect
    meta={{
      showProfile: false,
      showMasterData: false,
      showManagement: false,
      changeProfile: (open) => {},
      changeManagement: (open) => {},
      changeMasterData: (open) => {},
      user_id: "",
      user_name: "",
      user_email: "",
      user_old_password: "",
      user_password: "",
      user_new_password: "",
      user_new_confirm_password: "",
      user_gender: "",
      user_birthday: "",
      user_forgot_token: "-",
      user_membership_status: "NonActive",
      user_level: null,
      user_date_created: new Date().toJSON(),
      user_picture: "",
      user_note: null,
      pass_type: "password",
      new_pass_type: "password",
      new_pass_confirm_type: "password",
      disabled: false,
      display_info: false,
      max_date: new Date(new Date().setFullYear(new Date().getFullYear() - 12)),

      async showHidePass(key) {
        this[key] === "password"
          ? (this[key] = "text")
          : (this[key] = "password");
      },

      async upload(file) {
        const formData = _FormData();

        formData.append("path", "genre_icon");
        formData.append("file", file);
        const response = await fetch("/api/upload", {
          method: "POST",
          body: formData,
        });
        return await response.json();
      },

      async onChange(key, e) {
        let value = "";

        if (key === "user_level") {
          value = e;
        } else {
          value = e.target.value;
        }

        runInAction(() => (this[key] = value));
        console.log(key + " : " + value);
      },

      async onChangeDate(key, value) {
        runInAction(() => (this[key] = value));
        console.log("user_birthday : " + this.user_birthday);
      },

      validation() {
        let msg =
          this.user_name === "" || this.user_name === null
            ? "Name can not be empty!"
            : this.user_level &&
              (this.user_email === "" || this.user_email === null)
            ? "Email can not be empty!"
            : this.user_level && !validateEmail(this.user_email)
            ? "Invalid email! (abc@xyz.com)"
            : this.user_gender === "" || this.user_gender === null
            ? "Please select your gender!"
            : this.user_birthday == [] || this.user_birthday == null
            ? "Please select your birthdate!"
            : this.max_date <= new Date(this.user_birthday)
            ? "Please reselect your birthdate! 12 Years old++."
            : this.user_level === "" || this.user_level === null
            ? "Please select role!"
            : false; // console.log(msg);
        // check pass issfilled

        if (
          this.user_password !== "" ||
          this.user_new_password !== "" ||
          this.user_new_confirm_password !== ""
        ) {
          msg =
            this.user_password === "" || this.user_password === null
              ? "Old password can not be empty!"
              : encrypt(this.user_password) !== this.user_old_password
              ? "Wrong old password!"
              : this.user_new_password === "" || this.user_new_password === null
              ? "New password can not be empty!"
              : !validatePass(this.user_new_password)
              ? "New password length 8-16 <br/>Include Uppercase, Lowercase & No space"
              : this.user_new_confirm_password === "" ||
                this.user_new_confirm_password === null
              ? "Confirm password can not be empty!"
              : this.user_new_password !== this.user_new_confirm_password
              ? "New and confirm password not same!"
              : false;
        }

        return msg;
      },

      async submit() {
        let users = {};
        let error_msg = this.validation();

        if (error_msg) {
          alert(error_msg);
        } else {
          runInAction(() => (this.disabled = true));
          let user;

          if (this.user_password === "" || this.user_password === null) {
            user = {
              user_id: this.user_id,
              user_name: this.user_name,
              user_email: this.user_email,
              user_gender: this.user_gender,
              user_birthday: new Date(this.user_birthday.toString()),
              user_forgot_token: this.user_forgot_token,
              user_membership_status: this.user_membership_status,
              user_level: this.user_level,
              user_date_created: this.user_date_created,
              user_picture: this.user_picture,
              user_note: this.user_note,
            };
          } else {
            user = {
              user_id: this.user_id,
              user_name: this.user_name,
              user_email: this.user_email,
              user_password: encrypt(this.user_new_password),
              user_gender: this.user_gender,
              user_birthday: new Date(this.user_birthday.toString()),
              user_forgot_token: this.user_forgot_token,
              user_membership_status: this.user_membership_status,
              user_level: this.user_level,
              user_date_created: this.user_date_created,
              user_picture: this.user_picture,
              user_note: this.user_note,
            };
          }

          var conf = confirm("Confirm your data?");

          if (conf) {
            api("/api/api-users", {
              users: { ...user },
              e: "Update",
            }).then((res) => {
              if (res === null) {
                runInAction(() => (this.disabled = false));
                alert("Database insert Failed!");
              } else {
                console.log(res);
                navigate("/w-master-user");
              }
            });
          } else {
            runInAction(() => (this.disabled = false));
          }
        } // console.log(users);
      },

      async logout() {
        confirm("Logout of admin?") &&
          (await api("/api/admin", {
            data: "",
            event: "Logout",
          }).then((res) => {
            navigate("/login-admin");
          }));
      },
    }}
    run={async () => {
      meta.action = {
        changeMasterData: (open) => {
          meta.showMasterData = open;
          let img = document.getElementById("chevron-master");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeManagement: (open) => {
          meta.showManagement = open;
          let img = document.getElementById("chevron-management");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeProfile: (open) => {
          meta.showProfile = open;
        },
      };
      api("/api/api-users", {
        users: {
          user_id: parseInt(params.id),
        },
        e: "ReadById",
      }).then((res) => {
        // console.log(res)
        if (res.users !== null) {
          runInAction(() => {
            meta.user_id = res.users.user_id;
            meta.user_name = res.users.user_name;
            meta.user_email = res.users.user_email;
            meta.user_old_password = res.users.user_password;
            meta.user_gender = res.users.user_gender;
            meta.user_birthday = new Date(res.users.user_birthday.toString());
            meta.user_forgot_token = res.users.user_forgot_token;
            meta.user_membership_status = res.users.user_membership_status;
            meta.user_level = res.users.user_level;
            meta.user_date_created = res.users.user_date_created;
            meta.user_picture = res.users.user_picture;
            meta.user_note = res.users.user_note;
          });
        } else {
          navigate("/w-master-user");
        }
      });
    }}
  />
  {window.user.roleAdmin === "admin" && (
    <div class={`w-full flex items-start justify-start bg-white`}>
      <div class={`w-full flex items-start justify-start`}>
        <div
          class={`flex self-stretch flex-col space-y-20 items-center justify-start py-9 bg-gray-900 fixed h-full overflow-y-auto`}
          style={"background-color: black"}
        >
          <div
            class={`flex self-stretch space-x-8 items-center justify-start px-9 pt-8`}
            style={"margin-top:35px;"}
          >
            <img
              src="/fimgs/3192_19886.x1.svg"
              style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
            />
            <div
              class={`text-3xl font-bold leading-10 text-white`}
              style={"margin-left:20px;"}
            >
              PYRI
            </div>
          </div>
          <div
            class={`text-white flex flex-1 flex-col space-y-1 items-start justify-start px-2.5`}
            style={"margin-top:50px;"}
          >
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
            >
              <img
                src="/fimgs/3192_19890.x1.svg"
                style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Dashboard
                </div>
              </div>
            </div>
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-center py-3 pl-9 pr-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showMasterData == false) {
                  meta.action.changeMasterData(true);
                  meta.action.changeManagement(false);
                } else {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/3192_19895.x1.svg"
                style="width: 14.70px; min-width: 14.70px; max-width: 14.70px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base font-bold leading-normal text-gray-50">
                    Master Data
                  </div>
                </div>
              </div>
              <img
                src="/fimgs/3192_19900.x1.svg"
                class={`transform rotate-180`}
                id="chevron-master"
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px; margin-right:25px !important;`}
              />
            </div>
            {meta.showMasterData && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-kategori");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Kategori Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-genre");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Genre Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-author");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-white">
                      Author{" "}
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-publisher");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Publisher
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showManagement == false) {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(true);
                } else {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/3192_19920.x1.svg"
                class="flex items-start justify-start"
                style="width: 15.75px; min-width: 15.75px; max-width: 15.75px; height: 18px; min-height: 18px; max-height: 18px;"
              />
              <div class="text-base font-bold leading-normal text-gray-50">
                User Management
              </div>
              <img
                src="/fimgs/3192_19925.x1.svg"
                id="chevron-management"
                class={`transform rotate-180`}
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;`}
              />
            </div>
            {meta.showManagement && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-user");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Data User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-user-blocked");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Blocked User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Subcription
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                navigate("/w-book");
              }}
            >
              <img
                src="/fimgs/3192_19937.x1.svg"
                style="width: 14.40px; min-width: 14.40px; max-width: 14.40px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Buku
                </div>
              </div>
            </div>
            <div />
          </div>
          <div class="flex self-stretch items-center justify-center">
            <div class="text-base leading-normal text-center text-gray-500">
              Copyright © 2021 Pyri
            </div>
          </div>
        </div>
        <div
          class={`w-full flex flex-1 flex-col space-y-9 items-start justify-start relative overflow-y-auto bg-gray-100`}
          style={"margin-left:254px;"}
        >
          <div class="flex self-stretch flex-col items-start justify-center py-9 bg-white">
            <div class="flex self-stretch flex-col items-start justify-start px-9">
              <div class="flex self-stretch space-x-2.5 items-center justify-start">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-3xl font-bold leading-10">User</div>
                </div>
                <div class="flex flex-col items-end justify-end">
                  <div class="flex items-center justify-end px-4">
                    <div
                      class={`flex space-x-2.5 items-center justify-center cursor-pointer`}
                      onClick={() => {
                        if (meta.showProfile == false) {
                          meta.action.changeProfile(true);
                        } else {
                          meta.action.changeProfile(false);
                        }
                      }}
                    >
                      <img
                        src="/fimgs/3010_20327.x1.png"
                        class="flex items-start justify-start p-2.5"
                        style="width: 60px; min-width: 60px; max-width: 60px; height: 60px; min-height: 60px; max-height: 60px;"
                      />
                      <div class="flex items-start justify-start">
                        <div class="text-base font-medium leading-normal text-gray-700">
                          Savannah Nguyen
                        </div>
                      </div>
                      <img
                        src="/fimgs/3010_20331.x1.svg"
                        style="width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;"
                      />
                    </div>
                  </div>
                  {meta.showProfile && (
                    <div
                      class={`flex flex-col items-center justify-end px-4 absolute`}
                      style={"top: 98px;"}
                    >
                      <div
                        class={`flex self-stretch flex-col space-y-1 items-center justify-start p-4 bg-white shadow rounded`}
                      >
                        <div
                          class={`flex self-stretch items-center justify-center cursor-pointer`}
                        >
                          <div class="text-base font-medium leading-normal text-gray-900">
                            Edit Profile
                          </div>
                        </div>
                        <div
                          class={`flex self-stretch space-x-2.5 items-center justify-center cursor-pointer`}
                          onClick={meta.logout}
                        >
                          <div class="text-base font-medium leading-normal text-gray-900">
                            Logout
                          </div>
                          <img
                            src="/fimgs/I3010_20334_1048_3884.x1.svg"
                            class={`flex items-start justify-start`}
                            style={`width: 18px; min-width: 18px; max-width: 18px; height: 18px; min-height: 18px; max-height: 18px;`}
                          />
                        </div>
                      </div>
                    </div>
                  )}
                </div>
              </div>
            </div>
          </div>
          <div
            class={`w-full flex self-stretch flex-col items-start justify-start px-9 relative overflow-y-auto rounded`}
          >
            <div class="flex self-stretch flex-col items-center justify-start p-6 bg-gray-900 rounded-tl-lg rounded-tr-lg">
              <div class="flex self-stretch items-start justify-start">
                <div class="flex flex-1 self-stretch items-center justify-start">
                  <div class="text-base font-bold leading-normal text-white">
                    EDIT USER
                  </div>
                </div>
              </div>
            </div>
            <div
              class={`flex self-stretch flex-col space-y-9 items-start justify-start px-9 py-6 bg-white rounded-bl-lg rounded-br-lg`}
              style={"margin-bottom:50px;"}
            >
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start p-9 bg-white shadow rounded-lg">
                  <div class="flex self-stretch flex-col space-y-6 items-start justify-start rounded-lg">
                    <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Foto Profil
                        </div>
                      </div>
                      <dropify
                        type={`file`}
                        class={`flex self-stretch flex-col space-y-2.5 items-center justify-center p-4 bg-white border rounded border-gray-400 dropify`}
                        style={`height: 210px; min-height: 210px; max-height: 210px;`}
                        data-max-file-size={`1M`}
                        data-allowed-file-extensions={"png jpg jpeg"}
                        data-default-file={"/upload/" + meta.user_picture}
                        onChange={(e) => {
                          runInAction(async () => {
                            const upload = await meta.upload(e.target.files[0]);
                            runInAction(() => {
                              meta.tag_picture = upload.path;
                            });
                          });
                        }}
                      />
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Nama Lengkap
                        </div>
                      </div>
                      <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                        <input
                          class={"w-full"}
                          type="text"
                          placeholder="Masukkan Nama Lengkap"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          value={meta.user_name}
                          onChange={(e) => {
                            meta.onChange("user_name", e);
                          }}
                        />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Email
                        </div>
                      </div>
                      <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                        <input
                          class={"w-full"}
                          type="email"
                          placeholder="Masukkan Email"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          value={meta.user_email}
                          onChange={(e) => {
                            meta.onChange("user_email", e);
                          }}
                        />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Jenis Kelamin
                        </div>
                      </div>
                      <div class="flex self-stretch items-center justify-start px-4 py-3 bg-white border rounded border-gray-300">
                        <div class="flex flex-1 items-start justify-start">
                          <select
                            class="w-full"
                            style={`color: black; 
      outline:none;
      background:transparent;`}
                            value={
                              meta.user_gender
                                ? meta.user_gender
                                : "Pilih Jenis Kelamin"
                            }
                            onChange={(e) => {
                              meta.onChange("user_gender", e);
                            }}
                          >
                            <option value={""} hidden={true} />
                            <option
                              value={"Pilih Jenis Kelamin"}
                              disabled={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Pilih Jenis Kelamin"}
                            </option>
                            <option
                              value={"male"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Male"}
                            </option>
                            <option
                              value={"female"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Female"}
                            </option>
                            <option
                              value={"unknown"}
                              hidden={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Rather not say"}
                            </option>
                            {"Pilih Publisher"}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Tanggal Lahir
                        </div>
                      </div>
                      <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                        <input
                          class={"w-full"}
                          type="date"
                          placeholder="Masukkan Email"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          value={
                            meta.user_birthday
                              ? dateFormat(meta.user_birthday, "yyyy-MM-dd")
                              : []
                          }
                          onChange={(e) => {
                            meta.onChange("user_birthday", e);
                          }}
                        />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Role
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-6 items-start justify-start">
                        <div class="flex space-x-2 items-center justify-start">
                          <div class="flex items-start justify-start">
                            <input
                              class={`bg-white border rounded-full border-coolGray-400`}
                              type="radio"
                              name="role"
                              style={
                                "input :checked {background-color:#feca57;}"
                              }
                              onChange={(e) => {
                                meta.onChange("user_level", true);
                              }}
                              checked={
                                meta.user_level !== null
                                  ? meta.user_level
                                  : null
                              }
                            />
                          </div>
                          <div class="flex items-start justify-start">
                            <div class="text-base font-medium leading-normal text-gray-600">
                              Admin
                            </div>
                          </div>
                        </div>
                        <div class="flex flex-1 space-x-2 items-center justify-start">
                          <div class="flex items-start justify-start">
                            <input
                              class={`bg-white border rounded-full border-coolGray-400`}
                              type="radio"
                              name="role"
                              onChange={(e) => {
                                meta.onChange("user_level", false);
                              }}
                              checked={
                                meta.user_level !== null
                                  ? !meta.user_level
                                  : null
                              }
                            />
                          </div>
                          <div class="flex flex-1 items-start justify-start">
                            <div class="text-base font-medium leading-normal text-gray-600">
                              User
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch flex-col space-y-9 items-start justify-start p-9 bg-white shadow rounded-lg">
                  <div class="flex self-stretch flex-col items-start justify-start rounded-lg">
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch space-x-2.5 items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Kata Sandi Lama
                        </div>
                        <ficon
                          style={`cursor:default;`}
                          aria-label="Unknown"
                          iconName="Unknown"
                          onMouseEnter={() =>
                            runInAction(() => {
                              meta.display_info = true;
                            })
                          }
                          onMouseLeave={() =>
                            runInAction(() => {
                              meta.display_info = false;
                            })
                          }
                        />
                        <div
                          class={`flex flex-1 flex-col items-start justify-start bg-white ${
                            meta.display_info ? "" : "hidden"
                          }`}
                        >
                          <div
                            class={`text-base font-bold leading-normal`}
                            style={`font-size: 0.75rem;
line-height: 1rem;
color: gray;`}
                          >
                            Field kata sandi bersifat opsional, jika ingin
                            mengubah password silahkan isi semua field.
                          </div>
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-2.5 items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                        <input
                          class={"w-full"}
                          type={meta.pass_type}
                          placeholder="Masukkan Kata Sandi Lama"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          onChange={(e) => {
                            meta.onChange("user_password", e);
                          }}
                        />
                        <ficon
                          aria-label={`${
                            meta.pass_type === "password" ? "RedEye" : "Hide"
                          }`}
                          iconName={`${
                            meta.pass_type === "password" ? "RedEye" : "Hide"
                          }`}
                          style={`cursor:pointer; color:gray;`}
                          onClick={() => {
                            meta.showHidePass("pass_type");
                          }}
                        />
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start rounded-lg">
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Kata Sandi Baru
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-2.5 items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                        <input
                          class={"w-full"}
                          type={meta.new_pass_type}
                          placeholder="Masukkan Kata Sandi Baru"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          onChange={(e) => {
                            meta.onChange("user_new_password", e);
                          }}
                        />
                        <ficon
                          aria-label={`${
                            meta.new_pass_type === "password"
                              ? "RedEye"
                              : "Hide"
                          }`}
                          iconName={`${
                            meta.new_pass_type === "password"
                              ? "RedEye"
                              : "Hide"
                          }`}
                          style={`cursor:pointer; color:gray;`}
                          onClick={() => {
                            meta.showHidePass("new_pass_type");
                          }}
                        />
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start rounded-lg">
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Ulangi Kata Sandi Baru
                        </div>
                      </div>
                      <div class="flex self-stretch space-x-2.5 items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                        <input
                          class={"w-full"}
                          type={meta.new_pass_confirm_type}
                          placeholder="Ulangi Kata Sandi"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          onChange={(e) => {
                            meta.onChange("user_new_confirm_password", e);
                          }}
                        />
                        <ficon
                          aria-label={`${
                            meta.new_pass_confirm_type === "password"
                              ? "RedEye"
                              : "Hide"
                          }`}
                          iconName={`${
                            meta.new_pass_confirm_type === "password"
                              ? "RedEye"
                              : "Hide"
                          }`}
                          style={`cursor:pointer; color:gray;`}
                          onClick={() => {
                            meta.showHidePass("new_pass_confirm_type");
                          }}
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex self-stretch space-x-3 items-center justify-end">
                <button
                  class={`flex items-start justify-start px-4 py-2 border rounded border-gray-400`}
                  onClick={() => {
                    navigate("/w-master-user");
                  }}
                >
                  <div class="text-base font-bold leading-normal text-amber-500">
                    Batal
                  </div>
                </button>
                <button
                  class={`flex items-start justify-start px-4 py-2 bg-amber-500 rounded`}
                  onClick={meta.submit}
                  disabled={meta.disabled}
                >
                  <div class="text-base font-bold leading-normal text-white">
                    Simpan
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  )}
</>