<>
  <effect
    meta={{
      showProfile: false,
      showMasterData: false,
      showManagement: false,
      showDashboard: false,
      changeDashboard: (open) => {},
      changeProfile: (open) => {},
      changeManagement: (open) => {},
      changeMasterData: (open) => {},
      admin: [],
      disabled: false,
      display_info: false,
      display_foto_info: false,

      async onChange(e, key) {
        let value = e;

        if (key !== "user_picture") {
          value = e.target.value;
        }

        runInAction(() => {
          this.admin[key] = value;
        }); // console.log(key + " : " + value);
      },

      validation() {
        let msg =
          this.admin.user_name === "" || this.admin.user_name === null
            ? "Name cant be empty!"
            : this.admin.user_username === "" ||
              this.admin.user_username === null
            ? "Username cant be empty!"
            : this.admin.user_email === "" || this.admin.user_email === null
            ? "Email cant be empty!"
            : !validateEmail(this.admin.user_email)
            ? "Invalid email! (abc@xyz.com)"
            : this.admin.user_gender === "" || this.admin.user_gender === null
            ? "Please select your gender!"
            : this.admin.user_birthday == [] || this.admin.user_birthday == null
            ? "Please select your birthdate!"
            : this.admin.max_date <= new Date(this.admin.user_birthday)
            ? "Please reselect your birthdate! 12 Years old++."
            : false; // console.log(msg);

        return msg;
      },

      async upload(file) {
        const formData = _FormData();

        formData.append("path", "user_icon");
        formData.append("file", file);
        const response = await fetch("/api/upload", {
          method: "POST",
          body: formData,
        });
        return await response.json();
      },

      async submit() {
        let users = {};
        let error_msg = this.validation();

        if (error_msg) {
          alert(error_msg);
        } else {
          runInAction(() => (this.disabled = true));
          let user = {
            user_id: window.user.admin.user_id,
            user_name: this.admin.user_name,
            user_username: this.admin.user_username,
            user_email: this.admin.user_email,
            user_gender: this.admin.user_gender,
            user_birthday: new Date(this.admin.user_birthday.toString()),
            user_forgot_token: this.admin.user_forgot_token,
            user_membership_status: this.admin.user_membership_status,
            user_level: this.admin.user_level,
            user_date_created: this.admin.user_date_created,
            user_picture: this.admin.user_picture,
            user_note: this.admin.user_note,
          };
          api("/api/api-users", {
            users: { ...user },
            e: "FindEmail",
          }).then((res) => {
            if (
              res.users !== null &&
              res.users.user_id !== window.user.admin.user_id
            ) {
              alert("Email Already Registered!");
              runInAction(() => (this.disabled = false));
            } else {
              runInAction(() => (this.disabled = true));
              var conf = confirm("Confirm your data?");

              if (conf) {
                api("/api/api-users", {
                  users: { ...user },
                  e: "Update",
                }).then((res) => {
                  if (res === null) {
                    runInAction(() => (this.disabled = false));
                    alert("Database insert Failed!");
                  } else {
                    // console.log(res);
                    window.user = {
                      role: window.user.role,
                      user: window.user.user || "",
                      roleAdmin: "admin",
                      admin: res.users,
                    };
                    navigate("/w-profile-admin");
                  }
                });
              } else {
                runInAction(() => (this.disabled = false));
              }
            }
          }); //
        } // console.log(users);
      },

      async logout() {
        confirm("Logout of admin?") &&
          (await api("/api/admin", {
            data: "",
            event: "Logout",
          }).then((res) => {
            navigate("/login-admin");
          }));
      },
    }}
    run={async () => {
      meta.action = {
        changeDashboard: (open) => {
          meta.showDashboard = open;
          let img = document.getElementById("chevron-dashboard");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeMasterData: (open) => {
          meta.showMasterData = open;
          let img = document.getElementById("chevron-master");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeManagement: (open) => {
          meta.showManagement = open;
          let img = document.getElementById("chevron-management");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeProfile: (open) => {
          meta.showProfile = open;
        },
      };

      if (window.user.roleAdmin !== "admin") {
        navigate("/login-admin");
      } else {
        runInAction(() => {
          meta.admin = window.user.admin;
        });
      }
    }}
  />
  {window.user.roleAdmin === "admin" && (
    <div class={`w-full flex items-start justify-start bg-white`}>
      <div class={`w-full flex items-start justify-start`}>
        <div
          class={`flex self-stretch flex-col space-y-10 items-center justify-start pt-4 pb-9 bg-gray-900 fixed h-full overflow-y-auto`}
          style={"background-color: black"}
        >
          <div
            class={`flex self-stretch items-center justify-center px-9`}
            style={"margin-top:35px;"}
          >
            <img
              class={`flex space-x-2.5 items-start justify-start`}
              src="/uploads/logo/pyri.svg"
            />
          </div>
          <div
            class={`text-white flex flex-1 flex-col space-y-1 items-start justify-start px-2.5`}
            style={"margin-top:50px;"}
          >
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start py-3 pl-9 pr-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showDashboard == false) {
                  meta.action.changeDashboard(true);
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                } else {
                  meta.action.changeDashboard(false);
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/5283_14226.x1.svg"
                style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Dashboard
                </div>
              </div>
              <img
                src="/fimgs/5283_14230.x1.svg"
                class={`transform rotate-180`}
                id="chevron-dashboard"
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px; margin-right:25px !important;`}
              />
            </div>
            {meta.showDashboard && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-dashboard-user");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-white">
                      User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-dashboard-content");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Konten
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-center py-3 pl-9 pr-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showMasterData == false) {
                  meta.action.changeMasterData(true);
                  meta.action.changeManagement(false);
                } else {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/4385_20880.x1.svg"
                style="width: 14.70px; min-width: 14.70px; max-width: 14.70px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base font-bold leading-normal text-gray-50">
                    Master Data
                  </div>
                </div>
              </div>
              <img
                src="/fimgs/4385_20885.x1.svg"
                class={`transform rotate-180`}
                id="chevron-master"
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px; margin-right:25px !important;`}
              />
            </div>
            {meta.showMasterData && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-kategori");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Kategori Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-genre");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Genre Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-author");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-white">
                      Author{" "}
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-publisher");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Publisher
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showManagement == false) {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(true);
                } else {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/4385_20905.x1.svg"
                class="flex items-start justify-start"
                style="width: 15.75px; min-width: 15.75px; max-width: 15.75px; height: 18px; min-height: 18px; max-height: 18px;"
              />
              <div class="text-base font-bold leading-normal text-gray-50">
                User Management
              </div>
              <img
                src="/fimgs/4385_20910.x1.svg"
                id="chevron-management"
                class={`transform rotate-180`}
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;`}
              />
            </div>
            {meta.showManagement && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-user");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Data User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-user-blocked");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Blocked User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-users-subscription");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Subcription
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-users-subscription-payment");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Subcription Payment
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              onClick={() => {
                navigate("/w-book");
              }}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
            >
              <img
                src="/fimgs/4385_20930.x1.svg"
                style="width: 14.40px; min-width: 14.40px; max-width: 14.40px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Buku
                </div>
              </div>
            </div>
            <div />
          </div>
          <div class="flex self-stretch items-center justify-center">
            <div class="text-base leading-normal text-center text-gray-500">
              Copyright © 2021 Pyri
            </div>
          </div>
        </div>
        <div
          class={`w-full flex flex-1 self-stretch flex-col space-y-9 items-start justify-start relative overflow-y-auto bg-gray-100`}
          style={"margin-left:254px;"}
        >
          <div class="flex self-stretch flex-col items-start justify-center py-4 bg-white">
            <div class="flex self-stretch flex-col items-start justify-start px-9">
              <div class="flex self-stretch space-x-2.5 items-center justify-start">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-3xl font-bold leading-10">Profil</div>
                </div>
                <div class="flex flex-col items-end justify-end">
                  <div class="flex items-center justify-end px-4">
                    <div
                      class={`flex space-x-2.5 items-center justify-center`}
                      style={"cursor:pointer;"}
                      onClick={() => {
                        if (meta.showProfile == false) {
                          meta.action.changeProfile(true);
                        } else {
                          meta.action.changeProfile(false);
                        }
                      }}
                    >
                      <div
                        class={`flex items-start justify-start p-2.5`}
                        style="width: 60px; min-width: 60px; max-width: 60px; height: 60px; min-height: 60px; max-height: 60px;"
                      >
                        <img
                          src={
                            window.user.admin.user_picture
                              ? "/upload/" + window.user.admin.user_picture
                              : "/fimgs/4458_103716.x1.png"
                          }
                          onError={(e) => {
                            e.target.onerror = null;
                            e.target.src = "/fimgs/4458_103716.x1.png";
                          }}
                          style="width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;background-image: url('/fimgs/bg-8fb2c341eee5b05b3a5c9f2f0c33ea6665ec17fb');background-size:100% 100%;background-repeat:no-repeat; "
                          class={`rounded-full`}
                        />
                      </div>
                      <div class="flex items-start justify-start">
                        <div
                          class={`text-base font-medium leading-normal text-gray-700`}
                        >
                          {window.user.admin.user_name ||
                            window.user.admin.user_username ||
                            "Admin"}
                        </div>
                      </div>
                      <img src="/fimgs/4385_20950.x1.svg" />
                    </div>
                  </div>
                  {meta.showProfile && (
                    <div
                      class={`flex flex-col items-center justify-end px-4 absolute`}
                      style={"top: 98px; z-index:1;"}
                    >
                      <div
                        class={`flex self-stretch flex-col space-y-1 items-center justify-start p-4 bg-white shadow rounded`}
                      >
                        <div
                          class={`flex self-stretch items-center justify-center`}
                          style={"cursor:pointer;"}
                          onClick={() => {
                            navigate("/w-profile-admin");
                          }}
                        >
                          <div class="text-base font-medium leading-normal text-gray-900">
                            Edit Profile
                          </div>
                        </div>
                        <div
                          class={`flex self-stretch space-x-2.5 items-center justify-center`}
                          style={"cursor:pointer;"}
                          onClick={meta.logout}
                        >
                          <div class="text-base font-medium leading-normal text-gray-900">
                            Logout
                          </div>
                          <img
                            src="/fimgs/I4385_20953_1048_3884.x1.svg"
                            class={`flex items-start justify-start`}
                            style={`width: 18px; min-width: 18px; max-width: 18px; height: 18px; min-height: 18px; max-height: 18px;`}
                          />
                        </div>
                      </div>
                    </div>
                  )}
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start px-9">
            <div
              class={`flex self-stretch space-x-4 items-start justify-start rounded-lg`}
              style="margin-bottom:50px;"
            >
              <div class="flex flex-col space-y-4 items-start justify-start p-6 bg-white shadow rounded-lg">
                <div
                  class={`flex self-stretch space-x-4 items-start justify-start cursor-pointer`}
                  onClick={() => {
                    navigate("/w-profile-admin");
                  }}
                >
                  <img
                    src="/fimgs/4459_146431.x1.svg"
                    class="flex flex-col items-center justify-center"
                  />
                  <div class="text-lg font-medium leading-relaxed">Profil</div>
                </div>
                <div
                  class={`flex self-stretch space-x-4 items-start justify-start cursor-pointer`}
                  onClick={() => {
                    navigate("/w-profile-admin/edit-password");
                  }}
                >
                  <div
                    class="flex items-start justify-start"
                    style="width: 36px; min-width: 36px; max-width: 36px;"
                  >
                    <img src="/fimgs/4459_146439.x1.svg" />
                  </div>
                  <div class="text-lg font-medium leading-relaxed text-center">
                    Ganti Kata Sandi
                  </div>
                </div>
              </div>
              <div class="flex flex-1 self-stretch flex-col space-y-6 items-end justify-end p-6 bg-white shadow rounded">
                <div class="flex self-stretch space-x-2 items-start justify-start">
                  <img
                    src="/fimgs/4459_146424.x1.svg"
                    class={`flex items-center justify-start cursor-pointer`}
                    style={`width: 28px; min-width: 28px; max-width: 28px; height: 40px; min-height: 40px; max-height: 40px;`}
                    onClick={() => {
                      navigate("/w-profile-admin");
                    }}
                  />
                  <div class="flex self-stretch items-center justify-start">
                    <div class="text-xl font-bold leading-loose text-gray-900">
                      Kembali
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch space-x-6 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-2.5 items-start justify-start">
                    <div class="flex flex-col space-y-6 items-center justify-start">
                      <div
                        class="flex flex-col items-center justify-start shadow rounded-lg"
                        style="width: 150px; min-width: 150px; max-width: 150px; height: 150px; min-height: 150px; max-height: 150px;"
                      >
                        <img
                          src={
                            meta.admin.user_picture
                              ? "/upload/" + meta.admin.user_picture
                              : "/fimgs/4458_103716.x1.png"
                          }
                          onError={(e) => {
                            e.target.onerror = null;
                            e.target.src = "/fimgs/4458_103716.x1.png";
                          }}
                          style={`border-radius:8px;
  
    width: 100%;
    height: 100%;
    object-fit: cover;`}
                        />
                      </div>
                      <label
                        for="upload"
                        class={`flex space-x-2.5 items-center justify-center px-3 py-1 shadow border rounded-lg border-gray-500 cursor-pointer`}
                      >
                        <div class="text-sm leading-tight text-gray-500">
                          Ubah foto
                        </div>
                        <input
                          type="file"
                          id="upload"
                          hidden="true"
                          onChange={(e) => {
                            runInAction(async () => {
                              const upload = await meta.upload(
                                e.target.files[0]
                              );
                              runInAction(() => {
                                meta.onChange(upload.path, "user_picture");
                              });
                            });
                          }}
                        />
                      </label>
                    </div>
                    <div
                      class="flex self-stretch space-x-2.5 items-start justify-start"
                      style="width: 150px; min-width: 150px; max-width: 150px;"
                    >
                      <ficon
                        style={`cursor:default;`}
                        aria-label="Unknown"
                        iconName="Unknown"
                        onMouseEnter={() =>
                          runInAction(() => {
                            meta.display_foto_info = true;
                          })
                        }
                        onMouseLeave={() =>
                          runInAction(() => {
                            meta.display_foto_info = false;
                          })
                        }
                      />
                      <div
                        class={`flex flex-col items-start justify-start bg-white`}
                        style={`overflow:hidden;
  transition: height 0.5s ease-in-out;
  ${meta.display_foto_info ? "height: 100%;" : "height: 0;"}`}
                      >
                        <div
                          class={`text-xs font-bold leading-none`}
                          style={`font-size: 0.75rem;
line-height: 1rem;
color: gray;`}
                        >
                          Klik tombol simpan untuk menyimpan foto ke dalam
                          database.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-1 flex-col space-y-4 items-start justify-start rounded-lg">
                    <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-bold leading-normal">
                            Nama Lengkap
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                          <input
                            class={"w-full"}
                            type="text"
                            placeholder="Masukkan Nama Lengkap"
                            style={`color: black;
      background:transparent; 
      outline: none;`}
                            value={
                              meta.admin.user_name ? meta.admin.user_name : ""
                            }
                            onChange={(e) => {
                              meta.onChange(e, "user_name");
                            }}
                          />
                        </div>
                      </div>
                      <div
                        class={`flex self-stretch flex-col space-y-2 items-start justify-start`}
                        style={``}
                      >
                        <div class="flex self-stretch space-x-2.5 items-start justify-start">
                          <div class="text-base font-bold leading-normal">
                            Username
                          </div>
                          <ficon
                            style={`cursor:default;`}
                            aria-label="Unknown"
                            iconName="Unknown"
                            onMouseEnter={() =>
                              runInAction(() => {
                                meta.display_info = true;
                              })
                            }
                            onMouseLeave={() =>
                              runInAction(() => {
                                meta.display_info = false;
                              })
                            }
                          />
                          <div
                            class={`flex flex-col items-start justify-start bg-white`}
                            style={`overflow:hidden;
  height: 1rem;

  transition: width 0.5s ease-in-out;
  ${meta.display_info ? "width: 100%;" : "width: 0;"}`}
                          >
                            <div
                              class={`text-base font-bold leading-normal`}
                              style={`font-size: 0.75rem;
line-height: 1rem;
color: gray;`}
                            >
                              Username digunakan untuk login admin.
                            </div>
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                          <input
                            class={"w-full"}
                            type={"text"}
                            placeholder="Masukkan Username"
                            style={`color: black;
      background:transparent; 
      outline: none;`}
                            value={
                              meta.admin.user_username
                                ? meta.admin.user_username
                                : ""
                            }
                            onChange={(e) => {
                              meta.onChange(e, "user_username");
                            }}
                          />
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-bold leading-normal">
                            Email
                          </div>
                        </div>
                        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                          <input
                            class={"w-full"}
                            type="email"
                            placeholder="Masukkan Email"
                            style={`color: black;
      background:transparent; 
      outline: none;`}
                            value={
                              meta.admin.user_email ? meta.admin.user_email : ""
                            }
                            onChange={(e) => {
                              meta.onChange(e, "user_email");
                            }}
                          />
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Jenis Kelamin
                        </div>
                      </div>
                      <div class="flex self-stretch items-center justify-start px-4 py-3 bg-white border rounded border-gray-300">
                        <div class="flex flex-1 items-start justify-start">
                          <select
                            class="w-full"
                            style={`color: black; 
      outline:none;
      background:transparent;`}
                            value={
                              meta.admin.user_gender
                                ? meta.admin.user_gender
                                : "Pilih Jenis Kelamin"
                            }
                            onChange={(e) => {
                              meta.onChange(e, "user_gender");
                            }}
                          >
                            <option
                              value={"Pilih Jenis Kelamin"}
                              disabled={true}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Pilih Jenis Kelamin"}
                            </option>
                            <option
                              value={"male"}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Male"}
                            </option>
                            <option
                              value={"female"}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Female"}
                            </option>
                            <option
                              value={"unknown"}
                              class={`flex self-stretch flex-col items-start justify-start`}
                              style="color: black"
                            >
                              {"Rather not say"}
                            </option>
                            {"Pilih Jenis Kelamin"}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-bold leading-normal">
                          Tanggal Lahir
                        </div>
                      </div>
                      <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-300">
                        <input
                          class={"w-full"}
                          type="date"
                          placeholder="Masukkan Email"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          value={
                            meta.admin.user_birthday
                              ? dateFormat(
                                  meta.admin.user_birthday,
                                  "yyyy-MM-dd"
                                )
                              : ""
                          }
                          onChange={(e) => {
                            meta.onChange(e, "user_birthday");
                          }}
                          max={new Date()}
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <button
                    class={`flex items-start justify-start px-6 py-2 bg-amber-500 shadow rounded`}
                    onClick={() => {
                      meta.submit();
                    }}
                    disabled={meta.disabled}
                  >
                    <div class="text-base font-bold leading-normal text-white">
                      Simpan
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  )}
</>