<>
  <effect
    meta={{
      showProfile: false,
      showMasterData: false,
      showManagement: false,
      changeProfile: (open) => {},
      changeManagement: (open) => {},
      changeMasterData: (open) => {},
      authors: [],
      categories: [],
      searching: "",
      entries: 5,
      last_entries: 5,
      first_entries: 0,
      pages: 1,
      sum_pages: 0,
      pages_array: [],
      loading_page: true,

      async onChange(key, e) {
        this.loading_page = true;
        let value = e.target.value;

        if (key === "entries") {
          runInAction(() => {
            this[key] = value;
            this.first_entries = 0;
            this.pages = 1;
            this.last_entries =
              parseInt(value) < this.categories.length
                ? parseInt(value)
                : this.categories.length;
            this.sum_pages = Math.ceil(this.categories.length / this.entries);
            this.pages_array = Array.apply(null, {
              length: this.sum_pages,
            }).map(Number.call, Number); // dom manipulation

            this.loading_page = false;
          });
        } else if (key === "searching") {
          runInAction(() => {
            this[key] = value;
            api("/api/page", {
              page: {
                page_page: value,
                page_chapter_id: parseInt(params.chapter_id),
              },
              e: "Searching",
            }).then((res) => {
              // console.log(res.page);
              runInAction(() => {
                this.page = res.page;
                this.page.sort(function (a, b) {
                  var aNum = parseInt(a.page_page);
                  var bNum = parseInt(b.page_page);
                  return aNum - bNum;
                });
                this.first_entries = 0;
                this.pages = 1;
                this.last_entries = parseInt(this.entries);
                this.sum_pages = Math.ceil(this.page.length / this.entries); // meta.categories_array = new Array(meta.sum_page);

                this.pages_array = Array.apply(null, {
                  length: this.sum_pages,
                }).map(Number.call, Number);
                this.loading_page = false;
              });
            });
          });
        }

        console.log(key + " : " + this[key]); // console.log("page : " + this.page);
        // console.log("last_entries : " + this.last_entries);
      },

      async onClickPages(key, value) {
        if (value !== this.pages && value !== 0 && value <= this.sum_pages) {
          const last_pages = this.pages;
          const gap = value - last_pages;
          const res = gap > 0;
          runInAction(() => {
            this.pages = value;

            if (res) {
              this.first_entries += parseInt(this.entries) * Math.abs(gap);
              this.last_entries += parseInt(this.entries) * Math.abs(gap);
            } else {
              this.first_entries -= parseInt(this.entries) * Math.abs(gap);
              this.last_entries -= parseInt(this.entries) * Math.abs(gap);
            }
          });
          console.log(key + " : " + value); // console.log("first_entries : " + this.first_entries);
          // console.log("last_entries : " + this.last_entries);
          // console.log("gap : " + res);
        }
      },

      async editKategori(id) {
        navigate("/w-master-kategori/edit/" + id);
      },

      async deleteKategori(id) {
        console.log(id);
        const confirmDel = confirm("Confirm delete?");

        if (confirmDel) {
          await api("/api/categories", {
            category: {
              category_id: id,
            },
            e: "Delete",
          }).then((res) => {
            if (res.res === "Failure") {
              alert("Can't delete genre, because related with other table");
            } else {
              navigate("/w-master-kategori");
            }
          });
        }
      },

      async logout() {
        confirm("Logout of admin?") &&
          (await api("/api/admin", {
            data: "",
            event: "Logout",
          }).then((res) => {
            navigate("/login-admin");
          }));
      },
    }}
    run={async () => {
      // setTimeout(function () {
      //   alert(
      //     "Admin Session Ended (10 min) at : " +
      //     dateFormat(new Date(), "hh:mm:ss")
      //   );
      //   api("/api/admin", {
      //     data: "",
      //     event: "Logout",
      //   }).then((res) => {
      //     navigate("/login-admin");
      //   });
      // }, 600000);
      meta.action = {
        changeMasterData: (open) => {
          meta.showMasterData = open;
          let img = document.getElementById("chevron-master");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeManagement: (open) => {
          meta.showManagement = open;
          let img = document.getElementById("chevron-management");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeProfile: (open) => {
          meta.showProfile = open;
        },
      };
      var kategori = "";

      if (window.user.roleAdmin !== "admin") {
        navigate("/login-admin");
      }

      await api("/api/categories", {
        category: " ",
        e: "ReadAll",
      }).then((res) => {
        kategori = res.category;
      });
      runInAction(() => {
        meta.categories = kategori;
        meta.sum_pages = Math.ceil(meta.categories.length / meta.entries); // meta.categories_array = new Array(meta.sum_page);

        meta.pages_array = Array.apply(null, {
          length: meta.sum_pages,
        }).map(Number.call, Number);
        meta.last_entries =
          meta.last_entries < meta.categories.length
            ? meta.last_entries
            : meta.categories.length;
        meta.loading_page = false;
        document.getElementById("kotak").classList.add("flex-wrap");
        document.getElementById("kotak").style.justifyContent = "flex-start";
        document.getElementById("kotak").classList.add("space-y-6");
        document.getElementById("kotak").classList.add("space-x-6"); // Loop each kategori and appendchild it to id "kotak"

        for (let i = 0; i < kategori.length; i++) {
          let mainDiv = document.createElement("div");
          mainDiv.className =
            "flex flex-1 flex-col items-center justify-start p-9 bg-gray-50 shadow rounded-lg css-1nc2z6h";
          mainDiv.style.flex = "0 0 30%";
          let bgImg = document.createElement("img");
          bgImg.setAttribute(
            "src",
            "upload/" +
              (kategori[i].category_pictures !== ""
                ? kategori[i].category_pictures
                : "user_icon/default.png")
          );
          bgImg.style.width = "200px";
          bgImg.style.height = "150px";
          bgImg.style.objectFit = "contain";
          mainDiv.appendChild(bgImg);
          let contentDiv = document.createElement("div");
          contentDiv.className =
            "flex self-stretch space-x-2.5 items-center justify-start";
          let captionDiv = document.createElement("div");
          captionDiv.className = "flex flex-1 items-start justify-start";
          let textDiv = document.createElement("div");
          textDiv.className = "text-xl font-medium leading-loose";
          textDiv.innerHTML = kategori[i].category_name;
          captionDiv.appendChild(textDiv);
          contentDiv.appendChild(captionDiv);
          let imageDiv = document.createElement("div");
          imageDiv.className =
            "flex self-stretch space-x-2.5 items-center justify-center rounded";
          let editBtn = document.createElement("img");
          editBtn.className = "css-5nv48v";
          editBtn.setAttribute("src", "/fimgs/2309_60058.x1.svg");

          editBtn.onclick = () => {
            meta.editKategori(kategori[i].category_id);
          };

          editBtn.style.cursor = "pointer";
          imageDiv.appendChild(editBtn);
          let delBtn = document.createElement("img");
          delBtn.className = "css-1b79tb0";
          delBtn.setAttribute("src", "/fimgs/2309_60065.x1.svg");

          delBtn.onclick = () => {
            meta.deleteKategori(kategori[i].category_id);
          };

          delBtn.style.cursor = "pointer";
          imageDiv.appendChild(delBtn);
          contentDiv.appendChild(imageDiv);
          mainDiv.appendChild(contentDiv);
          document.getElementById("kotak").appendChild(mainDiv);
        }
      });
    }}
  />
  {window.user.roleAdmin === "admin" && (
    <div class={`w-full flex items-start justify-start bg-white`}>
      <div class={`w-full flex flex-1 self-stretch items-start justify-start`}>
        <div
          class={`flex self-stretch flex-col space-y-20 items-center justify-start py-9 bg-gray-900 fixed h-full overflow-y-auto`}
          style={"background-color: black"}
        >
          <div
            class={`flex self-stretch space-x-8 items-center justify-start px-9 pt-8`}
            style={"margin-top:35px;"}
          >
            <img
              src="/fimgs/2608_976571.x1.svg"
              style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
            />
            <div
              class={`text-3xl font-bold leading-10 text-white`}
              style={"margin-left:20px;"}
            >
              PYRI
            </div>
          </div>
          <div
            class={`text-white flex flex-1 flex-col space-y-1 items-start justify-start px-2.5`}
            style={"margin-top:50px;"}
          >
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
            >
              <img
                src="/fimgs/2608_976575.x1.svg"
                style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Dashboard
                </div>
              </div>
            </div>
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-center py-3 pl-9 pr-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showMasterData == false) {
                  meta.action.changeMasterData(true);
                  meta.action.changeManagement(false);
                } else {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/2608_976580.x1.svg"
                style="width: 14.70px; min-width: 14.70px; max-width: 14.70px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base font-bold leading-normal text-gray-50">
                    Master Data
                  </div>
                </div>
              </div>
              <img
                src="/fimgs/2608_976585.x1.svg"
                class={`transform rotate-180`}
                id="chevron-master"
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px; margin-right:25px !important;`}
              />
            </div>
            {meta.showMasterData && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-kategori");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Kategori Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-genre");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Genre Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-author");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-white">
                      Author{" "}
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-publisher");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Publisher
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showManagement == false) {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(true);
                } else {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/2608_976605.x1.svg"
                class="flex items-start justify-start"
                style="width: 15.75px; min-width: 15.75px; max-width: 15.75px; height: 18px; min-height: 18px; max-height: 18px;"
              />
              <div class="text-base font-bold leading-normal text-gray-50">
                User Management
              </div>
              <img
                src="/fimgs/2608_976610.x1.svg"
                id="chevron-management"
                class={`transform rotate-180`}
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;`}
              />
            </div>
            {meta.showManagement && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-user");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Data User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-user-blocked");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Blocked User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Subcription
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                navigate("/w-book");
              }}
            >
              <img
                src="/fimgs/2608_976622.x1.svg"
                style="width: 14.40px; min-width: 14.40px; max-width: 14.40px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Buku
                </div>
              </div>
            </div>
            <div />
          </div>
          <div class="flex self-stretch items-center justify-center">
            <div class="text-base leading-normal text-center text-gray-500">
              Copyright © 2021 Pyri
            </div>
          </div>
        </div>
        <div
          class={`w-full flex flex-1 self-stretch flex-col space-y-9 items-start justify-start relative overflow-y-auto bg-gray-100`}
          style={"margin-left:254px;"}
        >
          <div class="flex self-stretch flex-col items-start justify-center p-9 bg-white">
            <div class="flex self-stretch space-x-2.5 items-center justify-start">
              <div class="flex flex-1 items-start justify-start">
                <div class="text-3xl font-bold leading-10">Kategori Buku</div>
              </div>
              <div class="flex flex-col items-end justify-end">
                <div class="flex items-center justify-end px-4">
                  <div
                    class={`flex space-x-2.5 items-center justify-center`}
                    style={"cursor:pointer;"}
                    onClick={() => {
                      if (meta.showProfile == false) {
                        meta.action.changeProfile(true);
                      } else {
                        meta.action.changeProfile(false);
                      }
                    }}
                  >
                    <img
                      src="/fimgs/2608_910752.x1.png"
                      class="flex items-start justify-start p-2.5"
                      style="width: 60px; min-width: 60px; max-width: 60px; height: 60px; min-height: 60px; max-height: 60px;"
                    />
                    <div class="flex items-start justify-start">
                      <div class="text-base font-medium leading-normal text-gray-700">
                        Savannah Nguyen
                      </div>
                    </div>
                    <img
                      src="/fimgs/2608_910756.x1.svg"
                      style="width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;"
                    />
                  </div>
                </div>
                {meta.showProfile && (
                  <div
                    class={`flex flex-col items-center justify-end px-4 absolute`}
                    style={"top: 98px;"}
                  >
                    <div
                      class={`flex self-stretch flex-col space-y-1 items-center justify-start p-4 bg-white shadow rounded`}
                    >
                      <div
                        class={`flex self-stretch items-center justify-center`}
                        style="cursor:pointer"
                      >
                        <div class="text-base font-medium leading-normal text-gray-900">
                          Edit Profile
                        </div>
                      </div>
                      <div
                        class={`flex self-stretch space-x-2.5 items-center justify-center`}
                        onClick={meta.logout}
                        style="cursor:pointer"
                      >
                        <div class="text-base font-medium leading-normal text-gray-900">
                          Logout
                        </div>
                        <img
                          src="/fimgs/I2608_910759_1048_3884.x1.svg"
                          class={`flex items-start justify-start`}
                          style={`width: 18px; min-width: 18px; max-width: 18px; height: 18px; min-height: 18px; max-height: 18px;`}
                        />
                      </div>
                    </div>
                  </div>
                )}
              </div>
            </div>
          </div>
          <div
            class={`w-full flex self-stretch flex-col items-start justify-start px-6 py-2 relative overflow-y-auto rounded`}
          >
            <div
              class={`flex self-stretch flex-col space-y-6 items-start justify-start p-9 relative overflow-y-auto bg-white rounded-lg`}
              style={"margin-bottom:100px;"}
            >
              <div class="flex self-stretch space-x-2.5 items-start justify-start">
                <div class="flex flex-1 items-start justify-start">
                  <div class={`text-2xl font-bold leading-9 text-gray-900`}>
                    DATA KATEGORI BUKU
                  </div>
                </div>
                <div
                  class={`w-full flex space-x-4 items-center justify-start px-4 py-2 bg-gray-100 rounded-lg`}
                  style="width: 300px; min-width: 300px; max-width: 300px; height: 40px; min-height: 40px; max-height: 40px;"
                >
                  <img
                    src="/fimgs/I3273_19609_2941_18426.x1.svg"
                    class="flex items-start justify-start"
                    style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                  />
                  <input
                    class={"w-full"}
                    type="text"
                    placeholder="Search"
                    style={`color: black;
      background:transparent; 
      outline: none;`}
                    onChange={(e) => {
                      meta.onChange("searching", e);
                    }}
                  />
                </div>
              </div>
              <div class="flex self-stretch space-x-4 items-center justify-start">
                <div class="flex items-start justify-start">
                  <div class="text-base leading-normal">Show</div>
                </div>
                <div class={`flex flex-1 space-x-2 items-center justify-start`}>
                  <div class="flex flex-col items-start justify-start">
                    <select
                      class={`flex flex-col space-y-2.5 items-center justify-start px-6 py-1 bg-white border rounded border-gray-500`}
                      style={`width: 95.87px; min-width: 95.87px; max-width: 95.87px;`}
                      value={meta.entries}
                      onChange={(e) => {
                        meta.onChange("entries", e);
                      }}
                    >
                      <option class={`hidden`} />
                      <option
                        value="5"
                        class={`flex flex-1 self-stretch flex-col items-start justify-start bg-white`}
                      >
                        5
                      </option>
                      <option
                        value="10"
                        class="flex flex-1 self-stretch flex-col items-start justify-start bg-white"
                      >
                        10
                      </option>
                      <option
                        value="25"
                        class="flex flex-1 self-stretch flex-col items-start justify-start bg-white"
                      >
                        25
                      </option>
                      <option
                        value="50"
                        class="flex flex-1 self-stretch flex-col items-start justify-start bg-white"
                      >
                        50
                      </option>
                    </select>
                  </div>
                  <div class="flex items-start justify-start">
                    <div class="text-base leading-normal">entries</div>
                  </div>
                </div>
                <button
                  class={`flex space-x-1 items-start justify-start px-4 py-2 bg-amber-500 shadow rounded`}
                  style={`style={'margin-left: 10px;'}`}
                  onClick={() => {
                    navigate("/w-master-kategori/add");
                  }}
                >
                  <img
                    src="/fimgs/3273_19581.x1.svg"
                    class="flex items-start justify-start"
                    style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                  />
                  <div class={`flex self-stretch items-start justify-start`}>
                    <div
                      class={`text-base font-bold leading-normal text-white`}
                    >
                      {children || "Tambah Kategori"}
                    </div>
                  </div>
                </button>
              </div>
              <div
                class="flex self-stretch items-center justify-center p-5"
                id="kotak"
              >
                <div />
              </div>
              <div class="flex self-stretch space-x-2.5 items-center justify-start bg-white">
                <div class="flex flex-1 items-start justify-start">
                  <div
                    class={`text-base leading-normal text-orange-900`}
                  >{`Showing ${meta.first_entries + 1} to ${
                    meta.last_entries <= meta.categories.length
                      ? meta.last_entries
                      : meta.categories.length
                  } of ${meta.categories.length} entries`}</div>
                </div>
                <div class="flex space-x-2 items-start justify-start">
                  <div
                    class={`flex self-stretch flex-col items-center justify-center px-2 bg-white rounded cursor-pointer`}
                    style={`:hover {outline: 2px solid #ababab;`}
                    onClick={() => {
                      meta.onClickPages(
                        "page" + (meta.pages - 1),
                        meta.pages - 1
                      );
                    }}
                  >
                    <img
                      src="/fimgs/3273_19594.x1.svg"
                      style={`width: 18px; min-width: 18px; max-width: 18px; height: 14px; min-height: 14px; max-height: 14px;`}
                    />
                  </div>
                  {meta.pages_array.map((numList, i) => {
                    const upper =
                      meta.pages + 2 < meta.pages_array.length
                        ? meta.pages + 2
                        : meta.pages_array.length;
                    const under = meta.pages - 2 > 0 ? meta.pages - 2 : 1;

                    if (
                      (numList + 1 < upper && numList + 1 > under) ||
                      numList + 1 === 1 ||
                      numList + 1 === meta.pages_array.length
                    ) {
                      return (
                        <div class={`flex items-start justify-start`}>
                          {
                            <div
                              class={`flex flex-col items-start justify-start px-2.5 py-1 bg-white rounded`}
                              style={`${
                                "page" + meta.pages === "page" + (i + 1)
                                  ? `background: #FF8F00;`
                                  : `:hover {background-color: #ffc780;}`
                              }
  cursor:pointer;`}
                              onClick={() => {
                                meta.onClickPages("page" + (i + 1), i + 1);
                              }}
                            >
                              <div class={`text-base leading-normal`}>
                                {numList + 1}
                              </div>
                            </div>
                          }
                        </div>
                      );
                    } else {
                      if (numList + 1 === upper || numList + 1 === under)
                        return "...";
                    }
                  })}
                  <div
                    class={`flex self-stretch flex-col items-center justify-center px-2 bg-white rounded cursor-pointer`}
                    style={`:hover {outline: 2px solid #ababab;`}
                    onClick={() => {
                      meta.onClickPages(
                        "page" + (meta.pages + 1),
                        meta.pages + 1
                      );
                    }}
                  >
                    <img
                      src="/fimgs/3273_19600.x1.svg"
                      style="width: 18px; min-width: 18px; max-width: 18px; height: 14px; min-height: 14px; max-height: 14px;"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  )}
</>