<>
  <effect
    meta={{
      showProfile: false,
      showMasterData: false,
      showManagement: false,
      changeProfile: (open) => {},
      changeManagement: (open) => {},
      changeMasterData: (open) => {},
      authors: [],

      async editKategori(id) {
        navigate("/w-master-kategori/edit/" + id);
      },

      async deleteKategori(id) {
        console.log(id);
        confirm("Confirm Delete") &&
          (await api("/api/categories", {
            category: {
              category_id: id,
            },
            e: "Delete",
          }).then((res) => {
            navigate("/w-master-kategori");
          }));
      },

      async logout() {
        confirm("Logout of admin?") &&
          (await api("/api/admin", {
            data: "",
            event: "Logout",
          }).then((res) => {
            navigate("/login-admin");
          }));
      },
    }}
    run={async () => {
      meta.action = {
        changeMasterData: (open) => {
          meta.showMasterData = open;
          let img = document.getElementById("chevron-master");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeManagement: (open) => {
          meta.showManagement = open;
          let img = document.getElementById("chevron-management");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeProfile: (open) => {
          meta.showProfile = open;
        },
      };
      var kategori = "";

      if (window.user.roleAdmin !== "admin") {
        navigate("/login-admin");
      }

      await api("/api/categories", {
        category: " ",
        e: "ReadAll",
      }).then((res) => {
        kategori = res.category;
      });
      runInAction(() => {
        meta.categories = kategori;
        document.getElementById("kotak").classList.add("flex-wrap");
        document.getElementById("kotak").style.justifyContent = "flex-start";
        document.getElementById("kotak").classList.add("space-y-6");
        document.getElementById("kotak").classList.add("space-x-6"); // Loop each kategori and appendchild it to id "kotak"

        for (let i = 0; i < kategori.length; i++) {
          let mainDiv = document.createElement("div");
          mainDiv.className =
            "flex flex-1 flex-col items-center justify-start p-9 bg-gray-50 shadow rounded-lg css-1nc2z6h";
          mainDiv.style.flex = "0 0 25%";
          let bgImg = document.createElement("img");
          bgImg.setAttribute(
            "src",
            "upload/" +
              (kategori[i].category_pictures !== ""
                ? kategori[i].category_pictures
                : "user_icon/default.png")
          );
          bgImg.style.width = "200px";
          bgImg.style.height = "150px";
          mainDiv.appendChild(bgImg);
          let contentDiv = document.createElement("div");
          contentDiv.className =
            "flex self-stretch space-x-2.5 items-center justify-start";
          let captionDiv = document.createElement("div");
          captionDiv.className = "flex flex-1 items-start justify-start";
          let textDiv = document.createElement("div");
          textDiv.className = "text-xl font-medium leading-loose";
          textDiv.innerHTML = kategori[i].category_name;
          captionDiv.appendChild(textDiv);
          contentDiv.appendChild(captionDiv);
          let imageDiv = document.createElement("div");
          imageDiv.className =
            "flex self-stretch space-x-2.5 items-center justify-center rounded";
          let editBtn = document.createElement("img");
          editBtn.className = "css-5nv48v";
          editBtn.setAttribute("src", "/fimgs/2309_60058.x1.svg");

          editBtn.onclick = () => {
            meta.editKategori(kategori[i].category_id);
          };

          editBtn.style.cursor = "pointer";
          imageDiv.appendChild(editBtn);
          let delBtn = document.createElement("img");
          delBtn.className = "css-1b79tb0";
          delBtn.setAttribute("src", "/fimgs/2309_60065.x1.svg");

          delBtn.onclick = () => {
            meta.deleteKategori(kategori[i].category_id);
          };

          delBtn.style.cursor = "pointer";
          imageDiv.appendChild(delBtn);
          contentDiv.appendChild(imageDiv);
          mainDiv.appendChild(contentDiv);
          document.getElementById("kotak").appendChild(mainDiv);
        }
      });
    }}
  />
  {window.user.roleAdmin === "admin" && (
    <div class={`w-full flex items-start justify-start bg-white`}>
      <div class={`w-full flex flex-1 self-stretch items-start justify-start`}>
        <div
          class={`flex self-stretch flex-col space-y-20 items-center justify-start py-9 bg-gray-900 fixed h-full overflow-y-auto`}
          style={"background-color: black"}
        >
          <div
            class={`flex self-stretch space-x-8 items-center justify-start px-9 pt-8`}
            style={"margin-top:35px;"}
          >
            <img
              src="/fimgs/2608_976571.x1.svg"
              style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
            />
            <div
              class={`text-3xl font-bold leading-10 text-white`}
              style={"margin-left:20px;"}
            >
              PYRI
            </div>
          </div>
          <div
            class={`text-white flex flex-1 flex-col space-y-1 items-start justify-start px-2.5`}
            style={"margin-top:50px;"}
          >
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
            >
              <img
                src="/fimgs/2608_976575.x1.svg"
                style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Dashboard
                </div>
              </div>
            </div>
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-center py-3 pl-9 pr-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showMasterData == false) {
                  meta.action.changeMasterData(true);
                  meta.action.changeManagement(false);
                } else {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/2608_976580.x1.svg"
                style="width: 14.70px; min-width: 14.70px; max-width: 14.70px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base font-bold leading-normal text-gray-50">
                    Master Data
                  </div>
                </div>
              </div>
              <img
                src="/fimgs/2608_976585.x1.svg"
                class={`transform rotate-180`}
                id="chevron-master"
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px; margin-right:25px !important;`}
              />
            </div>
            {meta.showMasterData && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-kategori");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Kategori Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-genre");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Genre Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-author");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-white">
                      Author{" "}
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer}"
                  onClick={() => {
                    navigate("/w-master-publisher");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Publisher
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showManagement == false) {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(true);
                } else {
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/2608_976605.x1.svg"
                class="flex items-start justify-start"
                style="width: 15.75px; min-width: 15.75px; max-width: 15.75px; height: 18px; min-height: 18px; max-height: 18px;"
              />
              <div class="text-base font-bold leading-normal text-gray-50">
                User Management
              </div>
              <img
                src="/fimgs/2608_976610.x1.svg"
                id="chevron-management"
                class={`transform rotate-180`}
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;`}
              />
            </div>
            {meta.showManagement && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Data User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Subcription
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
            >
              <img
                src="/fimgs/2608_976622.x1.svg"
                style="width: 14.40px; min-width: 14.40px; max-width: 14.40px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Buku
                </div>
              </div>
            </div>
            <div />
          </div>
          <div class="flex self-stretch items-center justify-center">
            <div class="text-base leading-normal text-center text-gray-500">
              Copyright © 2021 Pyri
            </div>
          </div>
        </div>
        <div
          class={`w-full flex flex-1 self-stretch flex-col space-y-9 items-start justify-start relative overflow-y-auto bg-gray-100`}
          style={"margin-left:254px;"}
        >
          <div class="flex self-stretch flex-col items-start justify-center p-9 bg-white">
            <div class="flex self-stretch space-x-2.5 items-center justify-start">
              <div class="flex flex-1 items-start justify-start">
                <div class="text-3xl font-bold leading-10">Kategori Buku</div>
              </div>
              <div class="flex flex-col items-end justify-end">
                <div class="flex items-center justify-end px-4">
                  <div
                    class={`flex space-x-2.5 items-center justify-center`}
                    style={"cursor:pointer;"}
                    onClick={() => {
                      if (meta.showProfile == false) {
                        meta.action.changeProfile(true);
                      } else {
                        meta.action.changeProfile(false);
                      }
                    }}
                  >
                    <img
                      src="/fimgs/2608_910752.x1.png"
                      class="flex items-start justify-start p-2.5"
                      style="width: 60px; min-width: 60px; max-width: 60px; height: 60px; min-height: 60px; max-height: 60px;"
                    />
                    <div class="flex items-start justify-start">
                      <div class="text-base font-medium leading-normal text-gray-700">
                        Savannah Nguyen
                      </div>
                    </div>
                    <img
                      src="/fimgs/2608_910756.x1.svg"
                      style="width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;"
                    />
                  </div>
                </div>
                {meta.showProfile && (
                  <div
                    class={`flex flex-col items-center justify-end px-4 absolute`}
                    style={"top: 98px;"}
                  >
                    <div
                      class={`flex self-stretch flex-col space-y-1 items-center justify-start p-4 bg-white shadow rounded`}
                    >
                      <div
                        class={`flex self-stretch items-center justify-center`}
                        style="cursor:pointer"
                      >
                        <div class="text-base font-medium leading-normal text-gray-900">
                          Edit Profile
                        </div>
                      </div>
                      <div
                        class={`flex self-stretch space-x-2.5 items-center justify-center`}
                        onClick={meta.logout}
                        style="cursor:pointer"
                      >
                        <div class="text-base font-medium leading-normal text-gray-900">
                          Logout
                        </div>
                        <img
                          src="/fimgs/I2608_910759_1048_3884.x1.svg"
                          class={`flex items-start justify-start`}
                          style={`width: 18px; min-width: 18px; max-width: 18px; height: 18px; min-height: 18px; max-height: 18px;`}
                        />
                      </div>
                    </div>
                  </div>
                )}
              </div>
            </div>
          </div>
          <div
            class={`w-full flex self-stretch flex-col items-start justify-start px-6 py-2 relative overflow-y-auto rounded`}
          >
            <div
              class={`flex self-stretch flex-col space-y-9 items-start justify-start p-9 relative overflow-y-auto bg-white rounded-lg`}
              style={"margin-bottom:100px;"}
            >
              <div class={`text-2xl font-bold leading-9 text-gray-900`}>
                DATA KATEGORI BUKU
              </div>
              <div
                class="flex self-stretch items-center justify-center p-5"
                id="kotak"
              >
                <div
                  class={`flex self-stretch flex-col items-start justify-center`}
                >
                  <button
                    class={`flex flex-1 flex-col space-y-2.5 items-center justify-center p-8 bg-gray-50 shadow rounded-lg`}
                    style={"width:305px; min-width:200px; max-width:305px;"}
                    onClick={() => {
                      navigate("/w-master-kategori/add");
                    }}
                  >
                    <img
                      src="/fimgs/1964_13812.x1.svg"
                      style="width: 55px; min-width: 55px; max-width: 55px; height: 55px; min-height: 55px; max-height: 55px;"
                    />
                    <div class="flex self-stretch items-center justify-center">
                      <div class="flex flex-1 items-center justify-center">
                        <div class="text-base leading-normal text-center text-gray-500">
                          Tambah Kategori
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div />
            </div>
          </div>
        </div>
      </div>
    </div>
  )}
</>