<>
  <effect
    meta={{
      async back() {
        navigate("/m/detail-book-page");
      },
    }}
    run={async () => {}}
  />
  <div class="flex flex-col items-start justify-start bg-white">
    <div class="flex flex-1 self-stretch flex-col space-y-1 items-start justify-start">
      <div
        class={`flex self-stretch flex-col items-start justify-center px-6 pt-9 pb-4 bg-white shadow`}
      >
        <div class="flex self-stretch space-x-4 items-center justify-start">
          <div class="flex self-stretch items-center justify-start">
            <img
              src="/fimgs/1554_550132.x1.svg"
              class={`flex self-stretch items-center justify-start`}
              style={`width: 24px; min-width: 24px; max-width: 24px; height: 40px; min-height: 40px; max-height: 40px;`}
              onClick={meta.back}
            />
          </div>
          <div class="flex flex-1 items-center justify-start pb-2.5">
            <div class={`text-xl font-bold leading-loose`}>About</div>
          </div>
          <div />
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6 pt-4">
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-2.5 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xl font-bold leading-loose">Game Over</div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-base leading-normal">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vehicula facilisis ultrices adipiscing nulla eu faucibus dui
                lorem diam. Velit donec duis id sed dictum. Non ultrices morbi
                non ipsum non. Sociis viverra in porta aliquet a morbi. Vitae,
                mattis mollis volutpat ut congue sollicitudin adipiscing.
                Volutpat aliquam feugiat eu enim varius. Suspendisse feugiat
                cras morbi sit sed odio sit vestibulum. Placerat volutpat
                curabitur magna ut.
                <br />
                Fermentum, sit enim, donec eu auctor mattis eget. Vestibulum
                quam congue blandit felis. Et at mattis donec amet ornare. Elit
                nunc aliquet sit pulvinar cras tellus et tellus. Cras euismod
                elementum vel viverra fusce. Dictum accumsan morbi id gravida
                sed ut. Pellentesque ac commodo id leo quis cras.
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-1.5 items-center justify-start">
            <div class="flex flex-col items-start justify-start p-2.5">
              <span-genres
                class={`flex items-center justify-center px-2.5 py-0.5 bg-orange-300 rounded`}
                style={"background-color: #FDBA74;"}
              />
            </div>
            <div class="flex flex-col items-start justify-start p-2.5">
              <span-genres
                class={`flex items-center justify-center px-2.5 py-0.5 bg-orange-300 rounded`}
                style={"background-color: #FDBA74;"}
              />
            </div>
            <div class="flex flex-col items-start justify-start p-2.5">
              <span-genres
                class={`flex items-center justify-center px-2.5 py-0.5 bg-orange-300 rounded`}
                style={"background-color: #FDBA74;"}
              />
            </div>
          </div>
          <img
            src="/fimgs/1017_15052.x1.svg"
            style="width: 363px; min-width: 363px; max-width: 363px; height: 20px; min-height: 20px; max-height: 20px;"
          />
        </div>
        <div class="flex self-stretch items-start justify-start">
          <div class="text-xl font-bold leading-loose">Book Info</div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base leading-normal">Publisher</div>
          </div>
          <div class="flex flex-1 items-start justify-end">
            <div class="text-base leading-normal text-right">Bhuana Sastra</div>
          </div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base leading-normal">Author</div>
          </div>
          <div class="flex flex-1 items-start justify-end">
            <div class="text-base leading-normal text-right">
              Valerie Patkar
            </div>
          </div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base leading-normal">Publish on</div>
          </div>
          <div class="flex flex-1 items-start justify-end">
            <div class="text-base leading-normal text-right">
              3 Februari 2020
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>