<>
  <effect
    meta={{
      book: [],
      author: [],
      publisher: [],
      category: [],
      tags: [],

      async back() {
        var book_id = "";
        if (params.book_id !== undefined) book_id = params.book_id;
        navigate("/m/detail-book-page/" + book_id);
      },
    }}
    run={async () => {
      // read book
      if (params.book_id !== undefined) {
        api("/api/books", {
          book: {
            book_id: parseInt(params.book_id),
          },
          e: "ReadDetailById",
        }).then((res) => {
          // console.log(res);
          runInAction(() => {
            meta.book = res.book;
            meta.publisher = res.book.publisher; // meta.author = res.book.author;

            meta.category = res.book.category;

            if (res.book.authors_authorsTobooks_book_author_one_id !== null) {
              runInAction(() => {
                meta.author.push(
                  res.book.authors_authorsTobooks_book_author_one_id
                );
              });
            }

            if (res.book.authors_authorsTobooks_book_author_two_id !== null) {
              runInAction(() => {
                meta.author.push(
                  res.book.authors_authorsTobooks_book_author_two_id
                );
              });
            }

            if (res.book.authors_authorsTobooks_book_author_three_id !== null) {
              runInAction(() => {
                meta.author.push(
                  res.book.authors_authorsTobooks_book_author_three_id
                );
              });
            }

            if (res.book.tags_books_book_genre_one_idTotags !== null) {
              runInAction(() => {
                meta.tags.push(res.book.tags_books_book_genre_one_idTotags);
              });
            }

            if (res.book.tags_books_book_genre_two_idTotags !== null) {
              runInAction(() => {
                meta.tags.push(res.book.tags_books_book_genre_two_idTotags);
              });
            }

            if (res.book.tags_books_book_genre_three_idTotags !== null) {
              runInAction(() => {
                meta.tags.push(res.book.tags_books_book_genre_three_idTotags);
              });
            }
          });
        });
      }
    }}
  />
  <div class="flex flex-col items-start justify-start bg-white">
    <div class="flex flex-1 self-stretch flex-col space-y-1 items-start justify-start">
      <div
        class={`flex self-stretch flex-col items-start justify-center px-6 pt-9 pb-4 bg-white shadow`}
      >
        <div class="flex self-stretch space-x-4 items-center justify-start">
          <div class="flex self-stretch items-center justify-start">
            <img
              src="/fimgs/1554_550132.x1.svg"
              class={`flex self-stretch items-center justify-start`}
              style={`width: 24px; min-width: 24px; max-width: 24px; height: 40px; min-height: 40px; max-height: 40px;`}
              onClick={() => {
                back();
              }}
            />
          </div>
          <div class="flex flex-1 items-center justify-start pb-2.5">
            <div class={`text-xl font-bold leading-loose`}>About</div>
          </div>
          <div />
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6 pt-4">
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-2.5 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class={`text-xl font-bold leading-loose`}>
                {meta.book.book_title || "Book title"}
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class={`text-sm font-medium leading-tight text-gray-600`}>
                {meta.book.book_description || "Book description..."}
              </div>
            </div>
          </div>
          <div class="flex self-stretch items-center justify-start">
            {meta.tags.map((value, index) => {
              return (
                <div
                  class={`flex items-center justify-center px-2.5 py-0.5 bg-orange-300 rounded`}
                  style={"background-color: #; margin-right: 10px"}
                >
                  <div class={`text-sm font-bold leading-tight`}>
                    {value.tag_name || "Genre"}
                  </div>
                </div>
              );
            })}
          </div>
          <img
            src="/fimgs/1017_15052.x1.svg"
            style="width: 363px; min-width: 363px; max-width: 363px; height: 20px; min-height: 20px; max-height: 20px;"
          />
        </div>
        <div class="flex self-stretch items-start justify-start">
          <div class="text-xl font-bold leading-loose">Book Info</div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base leading-normal">Category</div>
          </div>
          <div class="flex flex-1 items-start justify-end">
            <div class={`text-base leading-normal text-right`}>
              {meta.category.category_name || "-"}
            </div>
          </div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base leading-normal">Publisher</div>
          </div>
          <div class="flex flex-1 items-start justify-end">
            <div class={`text-base leading-normal text-right`}>
              {meta.publisher.publisher_name || "Publisher name"}
            </div>
          </div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base leading-normal">Author</div>
          </div>
          <div class="flex flex-col items-end justify-center">
            {meta.author.map((value, index) => {
              var full_name = value.author_name.split(" ");
              var temp_name = "";
              full_name.map((val, i) => {
                if (i === 0) {
                  temp_name += val + " ";
                } else {
                  temp_name += val[0] + ". ";
                }
              });
              return (
                <div class={`text-base leading-normal text-right`}>
                  {temp_name || "Author Name"}
                </div>
              );
            })}
          </div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base leading-normal">ISBN</div>
          </div>
          <div class="flex flex-1 items-start justify-end">
            <div class={`text-base leading-normal text-right`}>
              {meta.book.book_isbn || "-"}
            </div>
          </div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base leading-normal">Publish on</div>
          </div>
          <div class="flex flex-1 items-start justify-end">
            <div class={`text-base leading-normal text-right`}>
              {meta.book.book_date_created
                ? dateFormat(meta.book.book_date_created, "d MMMM yyyy")
                : "d MMMM yyyy"}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>