<>
  <effect meta={{}} run={async () => {}} />
  <div
    class={`flex flex-col items-start justify-start bg-white`}
    style={`height: 823px; min-height: 823px; max-height: 823px;`}
  >
    <div
      class={`flex flex-1 self-stretch flex-col items-center justify-end`}
      style={`background-image: url('/fimgs/bg-ff2b4084986bd7da53995b9a752b9e5665e21788');background-size:100% 100%;background-repeat:no-repeat;`}
    >
      <div
        class={`flex flex-1 self-stretch flex-col items-center justify-center bg-black bg-opacity-50`}
        style={`backdrop-filter: blur(20px);`}
      >
        <div
          class={`flex self-stretch flex-col space-y-2 items-center justify-center`}
          style={`height: 602px; min-height: 602px; max-height: 602px;`}
        >
          <div
            class={`flex self-stretch flex-col items-center justify-center`}
            style={`height: 197.32px; min-height: 197.32px; max-height: 197.32px;`}
          >
            <img
              src="/fimgs/232_1450.x1.svg"
              class="flex flex-col items-center justify-center"
              style="width: 221.66px; min-width: 221.66px; max-width: 221.66px; height: 197.32px; min-height: 197.32px; max-height: 197.32px;"
            />
          </div>
          <div
            class="flex self-stretch flex-col space-y-4 items-center justify-center"
            style="height: 183.67px; min-height: 183.67px; max-height: 183.67px;"
          >
            <div class="flex self-stretch space-x-2 items-center justify-center">
              <div class="flex items-start justify-start">
                <div
                  class={`text-4xl font-bold leading-10 text-center text-amber-500`}
                  style={`color: #FF8F00`}
                >
                  Read
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-4xl font-bold leading-10 text-center text-white">
                  Everywhere!
                </div>
              </div>
            </div>
            <div class={`text-xl leading-loose text-center text-white`}>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.{" "}
            </div>
          </div>
        </div>
        <div
          class={`flex flex-1 self-stretch space-x-4 items-start justify-center px-9`}
          style={`height: 221px; min-height: 221px; max-height: 221px;`}
        >
          <div
            class="flex self-stretch flex-col items-center justify-start"
            style="width: 113px; min-width: 113px; max-width: 113px; height: 221px; min-height: 221px; max-height: 221px;"
          >
            <mini-btn
              class={`flex flex-col items-center justify-center border rounded border-white`}
              style={`width: 113px; min-width: 113px; max-width: 113px; height: 60px; min-height: 60px; max-height: 60px;`}
              onClick={() => {
                navigate("/m/");
              }}
            >
              Skip
            </mini-btn>
          </div>
          <div
            class="flex self-stretch flex-col items-center justify-start"
            style="width: 210px; min-width: 210px; max-width: 210px; height: 221px; min-height: 221px; max-height: 221px;"
          >
            <div class={`flex flex-col items-start justify-start`}>
              <loginbtn-splash
                onClick={() => {
                  navigate("/m/login");
                }}
                class={`flex items-center justify-center px-4 py-2 bg-amber-500 rounded rounded-md`}
                style="width: 210px; min-width: 210px; max-width: 210px; height: 60px; min-height: 60px; max-height: 60px; background-color: #FF8F00"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>