<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start relative overflow-y-auto bg-gradient-to-b from-white to-white">
    <div class="flex self-stretch flex-col items-center justify-end relative overflow-y-auto">
      <div
        class="flex self-stretch flex-col space-y-2.5 items-center justify-start pt-9"
        style="width: 411px; min-width: 411px; max-width: 411px; height: 88px; min-height: 88px; max-height: 88px;"
      >
        <div class="flex flex-1 flex-col items-start justify-start px-9">
          <div class="text-2xl font-bold leading-9">My Profile</div>
        </div>
      </div>
      <div class="flex flex-1 self-stretch flex-col space-y-2.5 items-start justify-start px-9 pt-2">
        <div class="flex self-stretch space-x-2.5 items-center justify-start">
          <img
            src="/fimgs/355_1849.x1.svg"
            class="flex flex-col items-start justify-start"
            style="width: 70px; min-width: 70px; max-width: 70px; height: 70px; min-height: 70px; max-height: 70px;"
          />
          <div class="flex flex-1 self-stretch flex-col items-start justify-center p-4">
            <div class="text-2xl font-bold leading-9">May Mayomee</div>
            <div class="flex items-center justify-center px-4 py-0.5 bg-gray-500 border rounded border-gray-500">
              <div class="text-xs font-bold leading-none text-center text-white">
                FREE
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-4 py-4 bg-gray-50 border rounded-lg border-gray-200">
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="flex self-stretch space-x-2.5 items-start justify-start">
              <div class="text-base font-bold leading-normal">Pyri Account</div>
              <div />
            </div>
          </div>
          <div class="flex self-stretch items-center justify-center">
            <div class="flex flex-1 flex-col items-start justify-center">
              <div class="text-base font-bold leading-normal text-gray-500">
                Full Name
              </div>
              <div class="text-base font-bold leading-normal text-gray-900">
                May Mayomee
              </div>
            </div>
          </div>
          <div class="flex self-stretch items-center justify-center">
            <div class="flex flex-1 flex-col items-start justify-center">
              <div class="text-base font-bold leading-normal text-gray-500">
                Email
              </div>
              <div class="text-base font-bold leading-normal text-gray-900">
                mayomee@gmail.com
              </div>
            </div>
          </div>
          <div class="flex self-stretch items-center justify-center">
            <div class="flex flex-1 flex-col items-start justify-center">
              <div class="text-base font-bold leading-normal text-gray-500">
                Birthday
              </div>
              <div class="text-base font-bold leading-normal text-gray-900">
                23-09-2021
              </div>
            </div>
          </div>
          <div class="flex self-stretch items-center justify-center">
            <div class="flex flex-1 flex-col items-start justify-center">
              <div class="text-base font-bold leading-normal text-gray-500">
                Gender
              </div>
              <div class="text-base font-bold leading-normal text-gray-900">
                Female
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-start px-4 py-4 bg-gray-50 border rounded-lg border-gray-200">
          <div class="flex self-stretch space-x-2.5 items-center justify-start">
            <div class="flex flex-1 flex-col items-start justify-center">
              <div class="text-base font-bold leading-normal text-gray-500">
                Subcription
              </div>
              <div class="text-base font-bold leading-normal text-gray-900">
                User Free
              </div>
            </div>
            <div class="flex items-start justify-start px-2.5 py-0.5 bg-gradient-to-r from-red-600 to-yellow-400 shadow rounded">
              <div class="text-base font-bold leading-normal text-white">
                Upgrade to Pro
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-start px-4 py-4 bg-gray-50 border rounded-lg border-gray-200">
          <div class="flex self-stretch items-center justify-start">
            <div class="flex flex-1 flex-col space-y-1.5 items-start justify-center">
              <div class="flex self-stretch space-x-2.5 items-start justify-start">
                <div class="text-base font-bold leading-normal">
                  Your Interest
                </div>
                <div class="flex flex-col items-start justify-start bg-white" />
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch space-x-1 items-start justify-start">
                  <div class="flex flex-1 items-center justify-center px-2.5 py-0.5 bg-gray-200 rounded">
                    <div class="text-xs font-bold leading-none text-gray-700">
                      Mistery
                    </div>
                  </div>
                  <div class="flex flex-1 items-center justify-center px-2.5 py-0.5 bg-gray-200 rounded">
                    <div class="text-xs font-bold leading-none text-gray-700">
                      Comedy
                    </div>
                  </div>
                  <div class="flex flex-1 items-center justify-center px-2.5 py-0.5 bg-gray-200 rounded">
                    <div class="text-xs font-bold leading-none text-gray-700">
                      Horor
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col items-center justify-center py-1.5 pl-4 pr-6 bg-red-600 rounded">
          <div class="flex flex-1 self-stretch items-center justify-center p-2.5">
            <div class="text-xl leading-loose text-center text-white">
              Logout
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-center justify-center bg-white bg-opacity-90">
        <div class="flex self-stretch items-start justify-start">
          <img
            src="/fimgs/I260_1786_100_940.x1.svg"
            class="flex flex-1 flex-col items-center justify-center"
            style="width: 94.75px; min-width: 94.75px; max-width: 94.75px; height: 60px; min-height: 60px; max-height: 60px;"
          />
          <img
            src="/fimgs/I260_1786_100_946.x1.svg"
            class="flex flex-1 flex-col items-center justify-center"
            style="width: 94.75px; min-width: 94.75px; max-width: 94.75px; height: 60px; min-height: 60px; max-height: 60px;"
          />
          <img
            src="/fimgs/I260_1786_100_951.x1.svg"
            class={`flex flex-1 flex-col items-center justify-center`}
            style={`width: 94.75px; min-width: 94.75px; max-width: 94.75px; height: 60px; min-height: 60px; max-height: 60px;`}
          />
          <img
            src="/fimgs/I260_1786_100_956.x1.svg"
            class="flex flex-1 flex-col items-center justify-center"
            style="width: 94.75px; min-width: 94.75px; max-width: 94.75px; height: 60px; min-height: 60px; max-height: 60px;"
          />
        </div>
      </div>
    </div>
  </div>
</>