<>
  <effect meta={{}} run={async () => {}} />
  <div class={`w-full flex items-start justify-start bg-white`}>
    <div class={`w-full flex flex-1 self-stretch items-start justify-start`}>
      <w-sidebar
        class={`flex self-stretch flex-col space-y-20 items-center justify-start py-9 bg-gray-900`}
        style={"background-color: black"}
      />
      <div
        class={`w-full flex flex-1 self-stretch flex-col space-y-9 items-start justify-start bg-gray-100`}
      >
        <div class="flex self-stretch flex-col items-start justify-center p-9 bg-white">
          <div class="flex self-stretch space-x-2.5 items-center justify-start">
            <div class="flex flex-1 items-start justify-start">
              <div class="text-3xl font-bold leading-10">Publisher</div>
            </div>
            <w-profile-admin />
          </div>
        </div>
        <div
          class={`w-full flex self-stretch flex-col items-start justify-start px-9 rounded`}
        >
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-6 bg-white rounded-lg">
            <div class="flex flex-1 self-stretch items-center justify-start">
              <div class="text-2xl font-bold leading-9 text-gray-900">
                DATA PUBLISHER
              </div>
            </div>
            <div class="flex self-stretch flex-col items-start justify-start">
              <div class="flex self-stretch space-x-2.5 items-start justify-start">
                <div class="flex flex-1 self-stretch space-x-4 items-center justify-start">
                  <div class="flex items-start justify-start">
                    <div class="text-base leading-normal">Show</div>
                  </div>
                  <div class="flex space-x-2 items-center justify-start">
                    <div class="flex space-x-2.5 items-center justify-start px-6 py-1 bg-white border rounded border-gray-500">
                      <div class="text-base leading-normal text-gray-500">
                        10
                      </div>
                      <img
                        src="/fimgs/1706_10100.x1.svg"
                        style="width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;"
                      />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-base leading-normal">entries</div>
                    </div>
                  </div>
                </div>
                <w-add-btn
                  class={`flex space-x-1 items-start justify-start px-4 py-2 bg-amber-500 shadow rounded`}
                  onClick={onClick}
                />
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
              <table
                class={`table-auto flex self-stretch flex-col items-start justify-start`}
              >
                <thead
                  class={`w-full flex self-stretch items-center justify-start px-4 py-3 bg-gray-900 rounded`}
                >
                  <div
                    class={`flex self-stretch flex-col items-start justify-center`}
                  >
                    <div class="text-base font-bold leading-normal text-white">
                      NO
                    </div>
                  </div>
                  <div
                    class={`flex flex-1 self-stretch items-center justify-start`}
                    style={"margin-left:20px;"}
                  >
                    <div class="text-base font-bold leading-normal text-white">
                      NAMA PUBLISHER
                    </div>
                  </div>
                  <th
                    class={`flex items-center justify-center`}
                    style={"margin-right:10px;"}
                  >
                    <div class="text-base font-bold leading-normal text-white">
                      AKSI
                    </div>
                  </th>
                </thead>
                <tbody class="flex self-stretch flex-col items-start justify-start">
                  <tr
                    class={`w-full flex self-stretch items-center justify-start px-4 py-3 bg-white rounded`}
                    style={":hover {background-color: #ffbe76;"}
                  >
                    <div
                      class={`flex flex-col items-center justify-start`}
                      style={"padding-left: 8px"}
                    >
                      <div class="text-base leading-normal">1</div>
                    </div>
                    <div
                      class={`flex flex-1 self-stretch items-center justify-start`}
                      style={"padding-left:27px;"}
                    >
                      <div class="text-base leading-normal">Bessie Cooper</div>
                    </div>
                    <div
                      class={`flex self-stretch space-x-6 items-center justify-center`}
                      style={""}
                    >
                      <div class="flex self-stretch items-center justify-center rounded">
                        <img
                          src="/fimgs/I2106_51631_1644_9573.x1.svg"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                        />
                      </div>
                      <img
                        src="/fimgs/I2106_51631_1412_7140.x1.svg"
                        class={`flex self-stretch items-center justify-center rounded`}
                        style={`width: 20px; min-width: 20px; max-width: 20px; height: 24px; min-height: 24px; max-height: 24px; margin-top:3px;`}
                      />
                    </div>
                  </tr>
                  <tr
                    class={`w-full flex self-stretch items-center justify-start px-4 py-3 bg-orange-100 rounded`}
                    style={":hover {background-color: #ffbe76;"}
                  >
                    <div
                      class={`flex flex-col items-center justify-start`}
                      style={"padding-left: 8px"}
                    >
                      <div class="text-base leading-normal">2</div>
                    </div>
                    <div
                      class={`flex flex-1 self-stretch items-center justify-start`}
                      style={"padding-left:27px;"}
                    >
                      <div class="text-base leading-normal">
                        Fitra Rahmani Kasyah
                      </div>
                    </div>
                    <div
                      class={`flex self-stretch space-x-6 items-center justify-center`}
                      style={""}
                    >
                      <div class="flex self-stretch items-center justify-center rounded">
                        <img
                          src="/fimgs/I2106_51632_1936_16105.x1.svg"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                        />
                      </div>
                      <img
                        src="/fimgs/I2106_51632_1936_16106.x1.svg"
                        class={`flex self-stretch items-center justify-center rounded`}
                        style={`width: 20px; min-width: 20px; max-width: 20px; height: 24px; min-height: 24px; max-height: 24px;  margin-top:3px;`}
                      />
                    </div>
                  </tr>
                  <tr
                    class={`w-full flex self-stretch items-center justify-start px-4 py-3 bg-white rounded`}
                    style={":hover {background-color: #ffbe76;"}
                  >
                    <div
                      class={`flex flex-col items-center justify-start`}
                      style={"padding-left: 8px"}
                    >
                      <div class="text-base leading-normal">3</div>
                    </div>
                    <div
                      class={`flex flex-1 self-stretch items-center justify-start`}
                      style={"padding-left:27px;"}
                    >
                      <div class="text-base leading-normal">Floyd Miles</div>
                    </div>
                    <div
                      class={`flex self-stretch space-x-6 items-center justify-center`}
                      style={""}
                    >
                      <div class="flex self-stretch items-center justify-center rounded">
                        <img
                          src="/fimgs/I2106_51633_1644_9573.x1.svg"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                        />
                      </div>
                      <img
                        src="/fimgs/I2106_51633_1412_7140.x1.svg"
                        class={`flex self-stretch items-center justify-center rounded`}
                        style={`width: 20px; min-width: 20px; max-width: 20px; height: 24px; min-height: 24px; max-height: 24px; margin-top:3px;`}
                      />
                    </div>
                  </tr>
                  <tr
                    class={`w-full flex self-stretch items-center justify-start px-4 py-3 bg-orange-100 rounded`}
                    style={":hover {background-color: #ffbe76;"}
                  >
                    <div
                      class={`flex flex-col items-center justify-start`}
                      style={"padding-left: 8px"}
                    >
                      <div class="text-base leading-normal">4</div>
                    </div>
                    <div
                      class={`flex flex-1 self-stretch items-center justify-start`}
                      style={"padding-left:27px;"}
                    >
                      <div class="text-base leading-normal">
                        Fitra Rahmani Kasyah
                      </div>
                    </div>
                    <div
                      class={`flex self-stretch space-x-6 items-center justify-center`}
                      style={""}
                    >
                      <div class="flex self-stretch items-center justify-center rounded">
                        <img
                          src="/fimgs/I2106_51634_1936_16105.x1.svg"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                        />
                      </div>
                      <img
                        src="/fimgs/I2106_51634_1936_16106.x1.svg"
                        class={`flex self-stretch items-center justify-center rounded`}
                        style={`width: 20px; min-width: 20px; max-width: 20px; height: 24px; min-height: 24px; max-height: 24px; margin-top:3px;`}
                      />
                    </div>
                  </tr>
                  <tr
                    class={`w-full flex self-stretch items-center justify-start px-4 py-3 bg-white rounded`}
                    style={":hover {background-color: #ffbe76;"}
                  >
                    <div
                      class={`flex flex-col items-center justify-start`}
                      style={"padding-left: 8px;"}
                    >
                      <div class="text-base leading-normal">5</div>
                    </div>
                    <div
                      class={`flex flex-1 self-stretch items-center justify-start`}
                      style={"padding-left:27px;"}
                    >
                      <div class="text-base leading-normal">Robert Fox</div>
                    </div>
                    <div
                      class={`flex self-stretch space-x-6 items-center justify-center`}
                      style={""}
                    >
                      <div class="flex self-stretch items-center justify-center rounded">
                        <img
                          src="/fimgs/I2106_51635_1644_9573.x1.svg"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                        />
                      </div>
                      <img
                        src="/fimgs/I2106_51635_1412_7140.x1.svg"
                        class={`flex self-stretch items-center justify-center rounded`}
                        style={`width: 20px; min-width: 20px; max-width: 20px; height: 24px; min-height: 24px; max-height: 24px; margin-top:3px;`}
                      />
                    </div>
                  </tr>
                  <tr
                    class={`w-full flex self-stretch items-center justify-start px-4 py-3 bg-orange-100 rounded`}
                    style={":hover {background-color: #ffbe76;"}
                  >
                    <div
                      class={`flex flex-col items-center justify-start`}
                      style={"padding-left: 8px"}
                    >
                      <div class="text-base leading-normal">6</div>
                    </div>
                    <div
                      class={`flex flex-1 self-stretch items-center justify-start`}
                      style={"padding-left:27px;"}
                    >
                      <div class="text-base leading-normal">
                        Fitra Rahmani Kasyah
                      </div>
                    </div>
                    <div
                      class={`flex self-stretch space-x-6 items-center justify-center`}
                      style={""}
                    >
                      <div class="flex self-stretch items-center justify-center rounded">
                        <img
                          src="/fimgs/I2106_51636_1936_16105.x1.svg"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                        />
                      </div>
                      <img
                        src="/fimgs/I2106_51636_1936_16106.x1.svg"
                        class={`flex self-stretch items-center justify-center rounded`}
                        style={`width: 20px; min-width: 20px; max-width: 20px; height: 24px; min-height: 24px; max-height: 24px; margin-top:3px;`}
                      />
                    </div>
                  </tr>
                </tbody>
              </table>
              <div class="flex self-stretch space-x-2.5 items-center justify-start bg-white">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base leading-normal text-orange-900">
                    Showing 1 to 6 of 6 entries
                  </div>
                </div>
                <div class="flex space-x-2 items-start justify-start">
                  <div class="flex self-stretch flex-col items-center justify-center px-2 bg-white rounded">
                    <img
                      src="/fimgs/I2104_16476_2069_35620.x1.svg"
                      style="width: 18px; min-width: 18px; max-width: 18px; height: 14px; min-height: 14px; max-height: 14px;"
                    />
                  </div>
                  <div class="flex flex-col items-start justify-start px-2.5 py-1 bg-amber-500 rounded">
                    <div class="text-base leading-normal">1</div>
                  </div>
                  <div class="flex flex-col items-start justify-start px-2.5 py-1 bg-white rounded">
                    <div class="text-base leading-normal">2</div>
                  </div>
                  <div class="flex self-stretch flex-col items-center justify-center px-2 bg-white rounded">
                    <img
                      src="/fimgs/I2104_16476_2069_36428.x1.svg"
                      style="width: 18px; min-width: 18px; max-width: 18px; height: 14px; min-height: 14px; max-height: 14px;"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>