<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex self-stretch items-end justify-center bg-white">
    <div
      class={`flex flex-1 self-stretch flex-col space-y-9 items-center justify-start bg-gradient-to-b from-white to-white w-full`}
    >
      <div class="flex self-stretch flex-col items-start justify-start bg-orange-100">
        <div
          class={`flex self-stretch space-x-2.5 items-center justify-center px-6 pt-9 pb-4 bg-white shadow rounded-bl-2xl rounded-br-2xl fixed w-full`}
        >
          <img
            src="/fimgs/I991_7169_991_7165.x1.svg"
            style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
          />
          <div class="flex items-start justify-start">
            <div class="text-xl font-bold leading-loose">PYRI</div>
          </div>
        </div>
        <div style={`height:85px`} />
        <div class={`flex self-stretch flex-col items-start justify-start`}>
          <div class="flex self-stretch space-x-2 items-center justify-start p-4 bg-orange-50">
            <img
              src="/fimgs/1198_41628.x1.svg"
              class="flex flex-col items-start justify-start"
              style="width: 108.21px; min-width: 108.21px; max-width: 108.21px; height: 100px; min-height: 100px; max-height: 100px;"
            />
            <div class="flex flex-1 self-stretch flex-col space-y-4 items-start justify-center">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xl font-bold leading-loose">
                  Login dulu kuy!
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-center">
                <button
                  class={`flex items-center justify-center px-4 py-1 bg-amber-500 rounded`}
                  style={`width: 61px; min-width: 61px; max-width: 61px; height: 26px; min-height: 26px; max-height: 26px;`}
                  onClick={(e) => {
                    navigate("/m/login");
                  }}
                >
                  <div class="text-xs font-bold leading-none text-white">
                    Login
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2 items-start justify-start px-6">
        <div class="flex self-stretch space-x-2.5 items-end justify-start">
          <div class="flex flex-1 items-center justify-start">
            <div class="text-xl font-bold leading-loose">Top </div>
          </div>
          <div class="flex self-stretch items-center justify-start">
            <div class="text-base font-bold leading-normal text-amber-500">
              See more
            </div>
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start">
          <div
            class={`flex flex-1 self-stretch flex-col space-y-2 items-start justify-start w-full`}
          >
            <div
              class={`flex self-stretch space-x-2 items-center justify-start p-1 bg-white shadow rounded w-full`}
            >
              <img
                src="/fimgs/I1198_91024_1198_48342.x1.png"
                class="flex items-start justify-start"
                style="width: 36.40px; min-width: 36.40px; max-width: 36.40px; height: 52px; min-height: 52px; max-height: 52px;"
              />
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-base font-semibold leading-none">Judul</div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="flex flex-1 self-stretch items-start justify-start">
                    <div class="text-xs font-bold leading-none text-gray-500">
                      Kategori Buku
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class={`flex self-stretch space-x-2 items-center justify-start p-1 bg-white shadow rounded w-full`}
            >
              <img
                src="/fimgs/I1198_91025_1198_48342.x1.png"
                class="flex items-start justify-start"
                style="width: 36.40px; min-width: 36.40px; max-width: 36.40px; height: 52px; min-height: 52px; max-height: 52px;"
              />
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-base font-semibold leading-none">Judul</div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="flex flex-1 self-stretch items-start justify-start">
                    <div class="text-xs font-bold leading-none text-gray-500">
                      Kategori Buku
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class={`flex self-stretch space-x-2 items-center justify-start p-1 bg-white shadow rounded w-full`}
            >
              <img
                src="/fimgs/I1198_91026_1198_48342.x1.png"
                class="flex items-start justify-start"
                style="width: 36.40px; min-width: 36.40px; max-width: 36.40px; height: 52px; min-height: 52px; max-height: 52px;"
              />
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-base font-semibold leading-none">Judul</div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="flex flex-1 self-stretch items-start justify-start">
                    <div class="text-xs font-bold leading-none text-gray-500">
                      Kategori Buku
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class={`flex self-stretch space-x-2 items-center justify-start p-1 bg-white shadow rounded w-full`}
            >
              <img
                src="/fimgs/I1198_91027_1198_48342.x1.png"
                class="flex items-start justify-start"
                style="width: 36.40px; min-width: 36.40px; max-width: 36.40px; height: 52px; min-height: 52px; max-height: 52px;"
              />
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-base font-semibold leading-none">Judul</div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="flex flex-1 self-stretch items-start justify-start">
                    <div class="text-xs font-bold leading-none text-gray-500">
                      Kategori Buku
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class={`flex self-stretch space-x-2 items-center justify-start p-1 bg-white shadow rounded w-full`}
            >
              <img
                src="/fimgs/I1198_91028_1198_48342.x1.png"
                class="flex items-start justify-start"
                style="width: 36.40px; min-width: 36.40px; max-width: 36.40px; height: 52px; min-height: 52px; max-height: 52px;"
              />
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-base font-semibold leading-none">Judul</div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="flex flex-1 self-stretch items-start justify-start">
                    <div class="text-xs font-bold leading-none text-gray-500">
                      Kategori Buku
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2 items-start justify-start px-6">
        <div class="flex self-stretch space-x-2.5 items-end justify-start">
          <div class="flex flex-1 items-center justify-start">
            <div class="text-xl font-bold leading-loose">Just Released</div>
          </div>
          <div class="flex self-stretch items-center justify-start">
            <div class="text-base font-bold leading-normal text-amber-500">
              See more
            </div>
          </div>
        </div>
        <div
          class={`flex flex-1 self-stretch space-x-1 items-start justify-start overflow-x-auto`}
        >
          <books-item02 />
          <books-item02 />
          <books-item02 />
          <books-item02 />
        </div>
      </div>
      <div />
      <div
        class={`flex self-stretch flex-col items-center justify-start pt-2 pb-4 bg-white bg-opacity-50 shadow-inner fixed w-full bottom-0`}
      >
        <div class="flex self-stretch items-center justify-center shadow">
          <img
            src="/fimgs/711_3298.x1.svg"
            class="flex flex-1 flex-col items-center justify-center rounded-full"
            style="width: 94.75px; min-width: 94.75px; max-width: 94.75px; height: 60px; min-height: 60px; max-height: 60px;"
          />
          <img
            src="/fimgs/711_3304.x1.svg"
            class="flex flex-1 flex-col items-center justify-center"
            style="width: 94.75px; min-width: 94.75px; max-width: 94.75px; height: 60px; min-height: 60px; max-height: 60px;"
          />
          <img
            src="/fimgs/711_3309.x1.svg"
            class="flex flex-1 flex-col items-center justify-center"
            style="width: 94.75px; min-width: 94.75px; max-width: 94.75px; height: 60px; min-height: 60px; max-height: 60px;"
          />
          <img
            src="/fimgs/711_3314.x1.svg"
            class={`flex flex-1 flex-col items-center justify-center rounded-full`}
            style={`width: 94.75px; min-width: 94.75px; max-width: 94.75px; height: 60px; min-height: 60px; max-height: 60px;`}
            onClick={(e) => {
              navigate("/m/profile-page");
            }}
          />
        </div>
      </div>
    </div>
  </div>
</>