<>
  <effect
    meta={{
      showProfile: false,
      showDashboard: false,
      showMasterData: false,
      showManagement: false,
      changeProfile: (open) => {},
      changeDashboard: (open) => {},
      changeManagement: (open) => {},
      changeMasterData: (open) => {},
      admin: [],
      book_count: 0,
      publisher_count: 0,
      author_count: 0,
      genre_count: 0,
      bestrated: [],
      worstrated: [],
      user_interests: [],
      data_user_interests: {
        labels: [],
        datasets: [{}],
      },
      genre_favorite_date: "",
      fav_genres: [],
      data_fav_genres: {
        labels: [],
        datasets: [{}],
      },
      author_favorite_date: "",
      fav_authors: [],
      data_fav_authors: {
        labels: [],
        datasets: [{}],
      },
      book_favorite_date: "",
      fav_books: [],

      async onChange(e, key) {
        let value = e.target.value;
        runInAction(() => {
          this.admin[key] = value;
        });
        console.log(key + " : " + value);
      },

      async logout() {
        confirm("Logout of admin?") &&
          (await api("/api/admin", {
            data: "",
            event: "Logout",
          }).then((res) => {
            navigate("/login-admin");
          }));
      },

      async getInterests() {
        await api("/api/dashboardcontent", {
          book: "",
          e: "Initialize",
        }).then((res) => {
          runInAction(() => {
            this.user_interests = res.user_interests;
          });
          console.log(res);
        });
        runInAction(() => {
          let temp_dataset = {
            label: "# of interests",
            data: [],
            backgroundColor: "#f0932b",
          };
          let temp_labels = [];

          for (let tag of this.user_interests) {
            temp_labels.push(tag.tag_name);
            temp_dataset.data.push(tag.tagInterests);
          }

          this.data_user_interests = {
            labels: temp_labels,
            datasets: [temp_dataset],
          };
        });
      },

      async getFavAuthors() {
        await api("/api/dashboardcontent", {
          book: this.author_favorite_date,
          e: "fav_author_monthly",
        }).then((res) => {
          runInAction(() => {
            this.fav_authors = res.fav_authors;
          });
          console.log(res);
        });
        runInAction(() => {
          let temp_dataset = {
            label: "# of views",
            data: [],
            backgroundColor: "#30D5C8",
          };
          let temp_labels = [];

          for (let author of this.fav_authors) {
            temp_labels.push(author.author_name);
            temp_dataset.data.push(author.authorView);
          }

          this.data_fav_authors = {
            labels: temp_labels,
            datasets: [temp_dataset],
          };
        });
      },

      async getFavGenres() {
        await api("/api/dashboardcontent", {
          book: this.genre_favorite_date,
          e: "fav_genre_monthly",
        }).then((res) => {
          runInAction(() => {
            this.fav_genres = res.fav_tags;
          });
          console.log(res);
        });
        runInAction(() => {
          let temp_dataset = {
            label: "# of views",
            data: [],
            backgroundColor: [
              "#F7464A",
              "#0C71E0",
              "#46BFBD",
              "#FDB45C",
              "#949FB1",
              "#4D5360",
            ],
          };
          let temp_labels = [];

          for (let genre of this.fav_genres) {
            temp_labels.push(genre.tag_name);
            console.log(genre, this.fav_genres);
            temp_dataset.data.push(genre.tagView);
          }

          this.data_fav_genres = {
            labels: temp_labels,
            datasets: [temp_dataset],
          };
        });
      },

      async getFavBooks() {
        api("/api/dashboardcontent", {
          book: this.book_favorite_date,
          e: "fav_book_monthly",
        }).then((res) => {
          runInAction(() => {
            this.fav_books = res.fav_books;
          });
          console.log(res);
        });
      },
    }}
    run={async () => {
      meta.action = {
        changeDashboard: (open) => {
          meta.showDashboard = open;
          let img = document.getElementById("chevron-dashboard");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeMasterData: (open) => {
          meta.showMasterData = open;
          let img = document.getElementById("chevron-master");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        changeManagement: (open) => {
          meta.showManagement = open;
          let img = document.getElementById("chevron-management");

          if (open == true) {
            img.setAttribute("style", "transform: rotate(0deg);");
          } else {
            img.setAttribute("style", "transform: rotate(180deg);");
          }
        },
        //profile dropdown
        changeProfile: (open) => {
          meta.showProfile = open;
        },
      };

      if (window.user.roleAdmin !== "admin") {
        navigate("/login-admin");
      } else {
        runInAction(() => {
          meta.admin = window.user.admin;
        });
        api("/api/dashboardcontent", {
          book: "",
          e: "Initialize",
        }).then((res) => {
          runInAction(() => {
            meta.book_count = res.bookcount._count.book_id;
            meta.publisher_count = res.publishercount._count.publisher_id;
            meta.author_count = res.authorcount._count.author_id;
            meta.genre_count = res.genrecount._count.tag_id;
            meta.bestrated = res.bestrated;
            meta.worstrated = res.worstrated;
            meta.user_interests = res.user_interests;
            meta.fav_genres = res.fav_tags;
            meta.fav_authors = res.fav_authors;
            meta.fav_books = res.fav_books;
          });
        });
      }

      meta.getInterests();
      let d = new Date(Date.now());
      let month_num = d.getMonth() + 1;
      let year = d.getFullYear().toString();
      let month = "";

      if (month_num / 10 >= 1) {
        month = month_num.toString();
      } else {
        month = "0" + month_num.toString();
      }

      let currentmonth = year + "-" + month;
      meta.book_favorite_date = currentmonth;
      meta.getFavBooks();
      meta.genre_favorite_date = currentmonth;
      meta.getFavGenres();
      meta.author_favorite_date = currentmonth;
      meta.getFavAuthors();
    }}
  />
  {window.user.roleAdmin === "admin" && (
    <div class={`w-full flex self-stretch items-start justify-start bg-white`}>
      <div class={`w-full flex flex-1 items-start justify-start`}>
        <div
          class={`flex self-stretch flex-col space-y-10 items-center justify-start pt-4 pb-9 bg-gray-900 fixed h-full overflow-y-auto`}
          style={"background-color: black"}
        >
          <div
            class={`flex self-stretch items-center justify-center px-9`}
            style={"margin-top:35px;"}
          >
            <img
              class={`flex space-x-2.5 items-start justify-start`}
              src="/uploads/logo/pyri.svg"
            />
          </div>
          <div
            class={`text-white flex flex-1 flex-col space-y-1 items-start justify-start px-2.5`}
            style={"margin-top:50px;"}
          >
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start py-3 pl-9 pr-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showDashboard == false) {
                  meta.action.changeDashboard(true);
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                } else {
                  meta.action.changeDashboard(false);
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/4943_197676.x1.svg"
                style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Dashboard
                </div>
              </div>
              <img
                src="/fimgs/4943_197680.x1.svg"
                class={`transform rotate-180`}
                id="chevron-dashboard"
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px; margin-right:25px !important;`}
              />
            </div>
            {meta.showDashboard && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-dashboard-user");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-white">
                      User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-dashboard-content");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Konten
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-center py-3 pl-9 pr-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showMasterData == false) {
                  meta.action.changeDashboard(false);
                  meta.action.changeMasterData(true);
                  meta.action.changeManagement(false);
                } else {
                  meta.action.changeDashboard(false);
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/4943_197692.x1.svg"
                style="width: 14.70px; min-width: 14.70px; max-width: 14.70px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base font-bold leading-normal text-gray-50">
                    Master Data
                  </div>
                </div>
              </div>
              <img
                src="/fimgs/4943_197697.x1.svg"
                class={`transform rotate-180`}
                id="chevron-master"
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px; margin-right:25px !important;`}
              />
            </div>
            {meta.showMasterData && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-kategori");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Kategori Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-genre");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Genre Buku
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-author");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-white">
                      Author{" "}
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-publisher");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Publisher
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
              onClick={() => {
                if (meta.showManagement == false) {
                  meta.action.changeDashboard(false);
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(true);
                } else {
                  meta.action.changeDashboard(false);
                  meta.action.changeMasterData(false);
                  meta.action.changeManagement(false);
                }
              }}
            >
              <img
                src="/fimgs/4943_197717.x1.svg"
                class="flex items-start justify-start"
                style="width: 15.75px; min-width: 15.75px; max-width: 15.75px; height: 18px; min-height: 18px; max-height: 18px;"
              />
              <div class="text-base font-bold leading-normal text-gray-50">
                User Management
              </div>
              <img
                src="/fimgs/4943_197722.x1.svg"
                id="chevron-management"
                class={`transform rotate-180`}
                style={`width: 18.87px; min-width: 18.87px; max-width: 18.87px; height: 18.43px; min-height: 18.43px; max-height: 18.43px;`}
              />
            </div>
            {meta.showManagement && (
              <div
                class={`flex self-stretch flex-col space-y-1 items-start justify-start`}
              >
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-user");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Data User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-master-user-blocked");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Blocked User
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-users-subscription");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Subcription
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
                  style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
                  onClick={() => {
                    navigate("/w-users-subscription-payment");
                  }}
                >
                  <div />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-base font-bold leading-normal text-gray-50">
                      Subcription Payment
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div
              class={`flex self-stretch space-x-2.5 items-center justify-start px-9 py-3 rounded-2xl`}
              onClick={() => {
                navigate("/w-book");
              }}
              style=":hover {background-color: rgba(255, 143, 0, 0.2); color: #FF8F00 !important; cursor:pointer;}"
            >
              <img
                src="/fimgs/4943_197742.x1.svg"
                style="width: 14.40px; min-width: 14.40px; max-width: 14.40px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base font-bold leading-normal text-gray-50">
                  Buku
                </div>
              </div>
            </div>
            <div />
          </div>
          <div class="flex self-stretch items-center justify-center">
            <div class="text-base leading-normal text-center text-gray-500">
              Copyright © 2021 Pyri
            </div>
          </div>
        </div>
        <div
          class={`w-full flex flex-1 self-stretch flex-col space-y-6 items-start justify-start pb-6 relative overflow-y-auto bg-gray-100`}
          style={"margin-left:254px;"}
        >
          <div class="flex self-stretch flex-col items-start justify-center px-9 py-4 bg-white">
            <div class="flex self-stretch space-x-2.5 items-center justify-start">
              <div class="flex flex-1 items-start justify-start">
                <div class="text-3xl font-bold leading-10">
                  Dashboard Konten
                </div>
              </div>
              <div class="flex flex-col items-end justify-end">
                <div class="flex items-center justify-end px-4">
                  <div
                    class={`flex space-x-2.5 items-center justify-center`}
                    style={"cursor:pointer;"}
                    onClick={() => {
                      if (meta.showProfile == false) {
                        meta.action.changeProfile(true);
                      } else {
                        meta.action.changeProfile(false);
                      }
                    }}
                  >
                    <div
                      class={`flex items-start justify-start p-2.5`}
                      style="width: 60px; min-width: 60px; max-width: 60px; height: 60px; min-height: 60px; max-height: 60px;"
                    >
                      <img
                        src={
                          meta.admin.user_picture
                            ? "/upload/" + meta.admin.user_picture
                            : "/fimgs/4458_103716.x1.png"
                        }
                        onError={(e) => {
                          e.target.onerror = null;
                          e.target.src = "/fimgs/4458_103716.x1.png";
                        }}
                        style="background-image: url('/fimgs/bg-8fb2c341eee5b05b3a5c9f2f0c33ea6665ec17fb');background-size:100% 100%;background-repeat:no-repeat; "
                        class={`rounded-full`}
                      />
                    </div>
                    <div class="flex items-start justify-start">
                      <div
                        class={`text-base font-medium leading-normal text-gray-700`}
                      >
                        {meta.admin.user_name ||
                          meta.admin.user_username ||
                          "Admin"}
                      </div>
                    </div>
                    <img src="/fimgs/4385_20950.x1.svg" />
                  </div>
                </div>
                {meta.showProfile && (
                  <div
                    class={`flex flex-col items-center justify-end px-4 absolute`}
                    style={"top: 98px; z-index:1;"}
                  >
                    <div
                      class={`flex self-stretch flex-col space-y-1 items-center justify-start p-4 bg-white shadow rounded`}
                    >
                      <div
                        class={`flex self-stretch items-center justify-center cursor-pointer`}
                        onClick={() => {
                          navigate("/w-profile-admin");
                        }}
                      >
                        <div class="text-base font-medium leading-normal text-gray-900">
                          Edit Profile
                        </div>
                      </div>
                      <div
                        class={`flex self-stretch space-x-2.5 items-center justify-center cursor-pointer`}
                        onClick={meta.logout}
                      >
                        <div class="text-base font-medium leading-normal text-gray-900">
                          Logout
                        </div>
                        <img
                          src="/fimgs/I4911_14481_1048_3884.x1.svg"
                          class={`flex items-start justify-start`}
                          style={`width: 18px; min-width: 18px; max-width: 18px; height: 18px; min-height: 18px; max-height: 18px;`}
                        />
                      </div>
                    </div>
                  </div>
                )}
              </div>
            </div>
          </div>
          <div
            class={`w-full flex self-stretch flex-col items-start justify-start px-6 pb-6 relative overflow-y-auto rounded`}
          >
            <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class="flex flex-1 self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch space-x-4 items-start justify-start">
                    <div class="flex flex-1 space-x-2 items-center justify-start p-6 bg-white shadow rounded-lg">
                      <img
                        src="/fimgs/4932_15176.x1.svg"
                        class="flex flex-col items-start justify-start p-1.5 bg-blue-100 rounded-lg"
                        style="width: 68px; min-width: 68px; max-width: 68px; height: 68px; min-height: 68px; max-height: 68px;"
                      />
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex items-start justify-start">
                          <div class={`text-xl font-bold leading-loose`}>
                            {meta.book_count || "-"}
                          </div>
                        </div>
                        <div class="flex items-start justify-start">
                          <div class="text-base font-bold leading-normal text-gray-500">
                            Buku
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-1 space-x-2 items-center justify-start p-6 bg-white shadow rounded-lg">
                      <img
                        src="/fimgs/4932_15186.x1.svg"
                        class="flex flex-col items-start justify-start p-1.5 bg-green-100 rounded-lg"
                        style="width: 68px; min-width: 68px; max-width: 68px; height: 66.69px; min-height: 66.69px; max-height: 66.69px;"
                      />
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class={`text-xl font-bold leading-loose`}>
                            {meta.publisher_count || "-"}
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-bold leading-normal text-gray-500">
                            Publisher
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-1 space-x-2 items-center justify-start p-6 bg-white shadow rounded-lg">
                      <img
                        src="/fimgs/4932_15205.x1.svg"
                        class="flex items-start justify-start p-1.5 bg-fuchsia-100 rounded-lg"
                        style="width: 68px; min-width: 68px; max-width: 68px; height: 68px; min-height: 68px; max-height: 68px;"
                      />
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class={`text-xl font-bold leading-loose`}>
                            {meta.author_count || "-"}
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-bold leading-normal text-gray-500">
                            Author
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-1 space-x-2 items-center justify-start p-6 bg-white shadow rounded-lg">
                      <img
                        src="/fimgs/4932_15217.x1.svg"
                        class="flex flex-col items-start justify-start p-1.5 bg-amber-100 rounded-lg"
                        style="width: 74.34px; min-width: 74.34px; max-width: 74.34px; height: 68px; min-height: 68px; max-height: 68px;"
                      />
                      <div class="flex flex-1 flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class={`text-xl font-bold leading-loose`}>
                            {meta.genre_count || "-"}
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-bold leading-normal text-gray-500">
                            Genre
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex self-stretch space-x-4 items-start justify-start">
                <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start p-4 bg-white shadow rounded-lg">
                  <div class="flex self-stretch space-x-2.5 items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div class="text-xl font-bold leading-loose">
                        Interest Pengguna
                      </div>
                    </div>
                    <div />
                  </div>
                  <barchart data={meta.data_user_interests} />
                </div>
                <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start p-4 bg-white shadow rounded-lg">
                  <div class="flex self-stretch space-x-2.5 items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div class="text-xl font-bold leading-loose">
                        Genre Paling Diminati
                      </div>
                    </div>
                    <div class="flex flex-1 self-stretch items-center justify-end">
                      <div class="flex space-x-1 items-start justify-start">
                        <div class="flex self-stretch items-center justify-start px-2 py-0.5 bg-white border rounded-sm border-gray-200">
                          <input
                            class={"w-full"}
                            type="month"
                            placeholder="tanggal"
                            style={`color: black;
      background:transparent; 
      outline: none;`}
                            onChange={(e) => {
                              meta.onChange(e, "genre_favorite_date");
                              meta.genre_favorite_date = e.target.value;
                            }}
                          />
                        </div>
                        <button
                          class={`flex items-center justify-start px-2 py-0.5 bg-amber-500 shadow rounded-sm`}
                          onClick={() => {
                            meta.getFavGenres();
                          }}
                        >
                          <div class="flex items-start justify-start">
                            <div class="text-base font-bold leading-normal text-white">
                              Proses
                            </div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                  <piechart-interest data={meta.data_fav_genres} />
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="flex flex-1 flex-col space-y-6 items-start justify-start p-4 bg-white shadow rounded-lg">
                  <div class="flex self-stretch space-x-2.5 items-start justify-start">
                    <div class="flex flex-1 items-start justify-start">
                      <div class="text-xl font-bold leading-loose">
                        Author Paling Diminati
                      </div>
                    </div>
                    <div class="flex flex-1 self-stretch items-center justify-end">
                      <div class="flex space-x-1 items-start justify-start">
                        <div class="flex self-stretch items-center justify-start px-2 py-0.5 bg-white border rounded-sm border-gray-200">
                          <input
                            class={"w-full"}
                            type="month"
                            placeholder="tanggal"
                            style={`color: black;
      background:transparent; 
      outline: none;`}
                            onChange={(e) => {
                              meta.onChange(e, "author_favorite_date");
                              meta.author_favorite_date = e.target.value;
                            }}
                          />
                        </div>
                        <button
                          class={`flex items-center justify-start px-2 py-0.5 bg-amber-500 shadow rounded-sm`}
                          onClick={() => {
                            meta.getFavAuthors();
                          }}
                        >
                          <div class="flex items-start justify-start">
                            <div class="text-base font-bold leading-normal text-white">
                              Proses
                            </div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <barchart-author data={meta.data_fav_authors} />
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-6 items-start justify-start p-4 bg-white shadow rounded-lg">
                <div class="flex self-stretch space-x-2.5 items-start justify-start">
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-xl font-bold leading-loose">
                      Buku dengan Minat Baca Terbanyak
                    </div>
                  </div>
                  <div class="flex flex-1 self-stretch space-x-6 items-center justify-start">
                    <div />
                    <div class="flex flex-1 space-x-1 items-center justify-end">
                      <div class="flex self-stretch items-center justify-start px-2 py-0.5 bg-white border rounded-sm border-gray-200">
                        <input
                          class={"w-full"}
                          type="month"
                          placeholder="tanggal"
                          style={`color: black;
      background:transparent; 
      outline: none;`}
                          onChange={(e) => {
                            meta.onChange(e, "book_favorite_date");
                            meta.book_favorite_date = e.target.value;
                          }}
                        />
                      </div>
                      <button
                        class={`flex items-center justify-start px-2 py-0.5 bg-amber-500 shadow rounded-sm`}
                        onClick={() => {
                          meta.getFavBooks();
                          console.log(meta.fav_books);
                        }}
                      >
                        <div class="flex items-start justify-start">
                          <div class="text-base font-bold leading-normal text-white">
                            Proses
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
                {meta.fav_books.length !== 0 &&
                  meta.fav_books
                    .slice(0, meta.fav_books.length)
                    .map((value, index) => {
                      return (
                        <div
                          class={`flex self-stretch space-x-2.5 items-center justify-start p-2 bg-white shadow rounded`}
                        >
                          <img
                            src="/fimgs/4932_15609.x1.png"
                            class={`shadow rounded`}
                            style={`width: 70.28px; min-width: 70.28px; max-width: 70.28px; height: 105px; min-height: 105px; max-height: 105px;background-image: url('/fimgs/bg-8b2a3be12ea5340f2c7014a54744352ce2b9b77d');background-size:100% 100%;background-repeat:no-repeat;`}
                            onError={(e) => {
                              e.target.onerror = null;
                              e.target.src = "/fimgs/4932_15609.x1.png";
                            }}
                          />
                          <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                            <div class="flex items-start justify-start">
                              <div class={`text-base font-bold leading-normal`}>
                                {value.book_title || "Book Title"}
                              </div>
                            </div>
                            <div class="flex items-start justify-start">
                              <div
                                class={`text-base font-medium leading-normal text-gray-500`}
                              >
                                {value.authors_authorsTobooks_book_author_one_id
                                  ? value
                                      .authors_authorsTobooks_book_author_one_id
                                      .author_name
                                  : ""}{" "}
                                {value.authors_authorsTobooks_book_author_two_id
                                  ? value
                                      .authors_authorsTobooks_book_author_two_id
                                      .author_name
                                  : ""}{" "}
                                {value.authors_authorsTobooks_book_author_three_id
                                  ? value
                                      .authors_authorsTobooks_book_author_three_id
                                      .author_name
                                  : ""}
                              </div>
                            </div>
                            <div class="flex space-x-2.5 items-start justify-start">
                              <div class="flex items-center justify-center px-2 bg-orange-300 shadow rounded">
                                <div class={`text-xs leading-none`}>
                                  {value.tags_books_book_genre_one_idTotags
                                    ? value.tags_books_book_genre_one_idTotags
                                        .tag_name
                                    : ""}
                                </div>
                              </div>
                              <div class="flex items-center justify-center px-2 bg-orange-300 shadow rounded">
                                <div class={`text-xs leading-none`}>
                                  {value.tags_books_book_genre_two_idTotags
                                    ? value.tags_books_book_genre_two_idTotags
                                        .tag_name
                                    : ""}
                                </div>
                              </div>
                            </div>
                            <div class="flex space-x-1 items-center justify-center">
                              <ficon
                                aria-label="FavoriteStarFill"
                                iconName="FavoriteStarFill"
                                class={`flex items-start justify-start`}
                                style="color: orange;"
                              />
                              <div class="flex items-center justify-start">
                                <div
                                  class={`text-base font-bold leading-normal text-amber-500`}
                                >
                                  {value.userRating
                                    ? value.userRating.toFixed(1)
                                    : "no rating"}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      );
                    })}
              </div>
              <div class="flex self-stretch space-x-4 items-start justify-start">
                <div class="flex flex-1 flex-col space-y-6 items-start justify-start p-4 bg-white shadow rounded-lg">
                  <div class={`text-xl font-bold leading-loose`}>
                    Buku dengan Rating Terbaik
                  </div>
                  {meta.bestrated.length !== 0 &&
                    meta.bestrated
                      .slice(0, meta.bestrated.length)
                      .map((value, index) => {
                        return (
                          <div
                            class={`flex self-stretch flex-col items-start justify-start`}
                          >
                            <div class="flex self-stretch space-x-2.5 items-center justify-start p-2 bg-white shadow rounded">
                              <img
                                src="/fimgs/5084_45683.x1.png"
                                class={`shadow rounded`}
                                style={`width: 46.85px; min-width: 46.85px; max-width: 46.85px; height: 70px; min-height: 70px; max-height: 70px;background-image: url('/fimgs/bg-8b2a3be12ea5340f2c7014a54744352ce2b9b77d');background-size:100% 100%;background-repeat:no-repeat;`}
                                onError={(e) => {
                                  e.target.onerror = null;
                                  e.target.src = "/fimgs/5084_45683.x1.png";
                                }}
                              />
                              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                                <div
                                  class={`text-base font-bold leading-normal`}
                                >
                                  {value.book_title || "Book Title"}
                                </div>
                                <div
                                  class={`text-base font-medium leading-normal text-gray-500`}
                                >
                                  {value.authors_authorsTobooks_book_author_one_id
                                    ? value
                                        .authors_authorsTobooks_book_author_one_id
                                        .author_name
                                    : ""}{" "}
                                  {value.authors_authorsTobooks_book_author_two_id
                                    ? value
                                        .authors_authorsTobooks_book_author_two_id
                                        .author_name
                                    : ""}{" "}
                                  {value.authors_authorsTobooks_book_author_three_id
                                    ? value
                                        .authors_authorsTobooks_book_author_three_id
                                        .author_name
                                    : ""}
                                </div>
                                <div class="flex space-x-1 items-center justify-center">
                                  <ficon
                                    aria-label="FavoriteStarFill"
                                    iconName="FavoriteStarFill"
                                    class={`flex items-start justify-start`}
                                    style="color: orange;"
                                  />
                                  <div class="flex items-center justify-start">
                                    <div
                                      class={`text-base font-bold leading-normal text-amber-500`}
                                    >
                                      {value.userRating.toFixed(1) || ""}
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class={`flex items-start justify-start px-4 py-2 bg-gray-200 shadow rounded`}
                                onClick={() => {
                                  navigate(
                                    "/w-dashboard-content/detail-book/" +
                                      value.book_id
                                  );
                                }}
                                style="cursor:pointer;"
                              >
                                <div class="text-sm font-bold leading-tight text-gray-600">
                                  Detail
                                </div>
                              </div>
                            </div>
                          </div>
                        );
                      })}
                </div>
                <div class="flex flex-1 flex-col space-y-6 items-start justify-start p-4 bg-white shadow rounded-lg">
                  <div class={`text-xl font-bold leading-loose`}>
                    Buku dengan Rating Terburuk
                  </div>
                  {meta.worstrated.length !== 0 &&
                    meta.worstrated
                      .slice(0, meta.worstrated.length)
                      .map((value, index) => {
                        return (
                          <div
                            class={`flex self-stretch flex-col items-start justify-start`}
                          >
                            <div class="flex self-stretch space-x-2.5 items-center justify-start p-2 bg-white shadow rounded">
                              <img
                                src="/fimgs/5084_37298.x1.png"
                                class={`shadow rounded`}
                                style={`width: 46.85px; min-width: 46.85px; max-width: 46.85px; height: 70px; min-height: 70px; max-height: 70px;background-image: url('/fimgs/bg-8b2a3be12ea5340f2c7014a54744352ce2b9b77d');background-size:100% 100%;background-repeat:no-repeat;`}
                                onError={(e) => {
                                  e.target.onerror = null;
                                  e.target.src = "/fimgs/5084_37298.x1.png";
                                }}
                              />
                              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                                <div
                                  class={`text-base font-bold leading-normal`}
                                >
                                  {value.book_title || "Book Title"}
                                </div>
                                <div
                                  class={`text-base font-medium leading-normal text-gray-500`}
                                >
                                  {value.authors_authorsTobooks_book_author_one_id
                                    ? value
                                        .authors_authorsTobooks_book_author_one_id
                                        .author_name
                                    : ""}{" "}
                                  {value.authors_authorsTobooks_book_author_two_id
                                    ? value
                                        .authors_authorsTobooks_book_author_two_id
                                        .author_name
                                    : ""}{" "}
                                  {value.authors_authorsTobooks_book_author_three_id
                                    ? value
                                        .authors_authorsTobooks_book_author_three_id
                                        .author_name
                                    : ""}
                                </div>
                                <div class="flex space-x-1 items-center justify-center">
                                  <ficon
                                    aria-label="FavoriteStarFill"
                                    iconName="FavoriteStarFill"
                                    class={`flex items-start justify-start`}
                                    style="color: orange;"
                                  />
                                  <div class="flex items-center justify-start">
                                    <div
                                      class={`text-base font-bold leading-normal text-amber-500`}
                                    >
                                      {value.userRating.toFixed(1) || ""}
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class={`flex items-start justify-start px-4 py-2 bg-gray-200 shadow rounded`}
                                onClick={() => {
                                  navigate(
                                    "/w-dashboard-content/detail-book/" +
                                      value.book_id
                                  );
                                }}
                                style="cursor:pointer;"
                              >
                                <div class="text-sm font-bold leading-tight text-gray-600">
                                  Detail
                                </div>
                              </div>
                            </div>
                          </div>
                        );
                      })}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  )}
</>