<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex self-stretch flex-col items-start justify-start bg-white">
    <div class="flex flex-1 self-stretch flex-col space-y-5 items-start justify-start relative overflow-y-auto">
      <div
        class={`flex self-stretch flex-col items-start justify-center px-6 pt-9 pb-4 bg-white shadow`}
      >
        <div class="flex self-stretch space-x-4 items-center justify-start">
          <div class="flex self-stretch items-center justify-start">
            <ficon
              aria-label="Back"
              iconName="Back"
              style="font-size:23px; color:black;"
              onClick={() => {
                back();
              }}
              class={`flex self-stretch items-center justify-start`}
            />
          </div>
          <div class="flex flex-1 items-center justify-center">
            <div class={`text-xl font-bold leading-loose text-center`}>
              {children || "Encyclopedia"}
            </div>
          </div>
          <div />
        </div>
      </div>
      <div class="flex self-stretch flex-col items-start justify-start px-6 relative overflow-y-auto">
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
          <div class="flex self-stretch space-x-4 items-start justify-start bg-white shadow shadow-inner rounded">
            <div class="flex items-start justify-start">
              <img src="/fimgs/3535_19306.x1.png" style="border-radius:8%;" />
            </div>
            <div class="flex flex-1 self-stretch flex-col items-start justify-center">
              <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-base font-medium leading-normal">
                      Game Over
                    </div>
                  </div>
                  <div class="flex self-stretch space-x-2 items-center justify-start">
                    <div class="flex items-start justify-start">
                      <div class="flex items-center justify-center rounded-full">
                        <div class="text-xs font-medium leading-none text-center text-gray-500">
                          Romance
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-2 items-center justify-start">
                      <div class="flex items-center justify-center">
                        <div class="flex items-center justify-center pr-0.5">
                          <ficon
                            aria-label="FavoriteStarFill"
                            iconName="FavoriteStarFill"
                            style="font-size:10px; color: #ff9f43;"
                            class={`flex items-center justify-center pr-1`}
                          />
                          <div class="text-xs leading-none text-amber-500">
                            4.9
                          </div>
                        </div>
                      </div>
                      <div class="flex items-center justify-center">
                        <img
                          src="/fimgs/3721_18175.x1.svg"
                          class="flex flex-col items-start justify-start pr-0.5"
                          style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
                        />
                        <div class="text-xs leading-none text-center text-amber-500">
                          123
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start pr-1">
                  <div class="text-sm font-medium leading-tight text-gray-600">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    In...
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-4 items-start justify-start bg-white shadow shadow-inner rounded">
            <div class="flex items-start justify-start">
              <img src="/fimgs/3790_209287.x1.png" style="border-radius:8%;" />
            </div>
            <div class="flex flex-1 self-stretch flex-col items-start justify-center">
              <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-base font-medium leading-normal">
                      The Design of Everyday Things
                    </div>
                  </div>
                  <div class="flex self-stretch space-x-2 items-center justify-start">
                    <div class="flex items-start justify-start">
                      <div class="flex items-center justify-center rounded-full">
                        <div class="text-xs font-medium leading-none text-center text-gray-500">
                          Romance
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-2 items-center justify-start">
                      <div class="flex items-center justify-center">
                        <div class="flex items-center justify-center pr-0.5">
                          <ficon
                            aria-label="FavoriteStarFill"
                            iconName="FavoriteStarFill"
                            style="font-size:10px; color: #ff9f43;"
                            class={`flex items-center justify-center pr-1`}
                          />
                          <div class="text-xs leading-none text-amber-500">
                            4.9
                          </div>
                        </div>
                      </div>
                      <div class="flex items-center justify-center">
                        <img
                          src="/fimgs/3791_310753.x1.svg"
                          class="flex flex-col items-start justify-start pr-0.5"
                          style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
                        />
                        <div class="text-xs leading-none text-center text-amber-500">
                          123
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start pr-1">
                  <div class="text-sm font-medium leading-tight text-gray-600">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    In...
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-4 items-start justify-start bg-white shadow shadow-inner rounded">
            <div class="flex items-start justify-start">
              <img src="/fimgs/3790_234402.x1.png" style="border-radius:8%;" />
            </div>
            <div class="flex flex-1 self-stretch flex-col items-start justify-center">
              <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-base font-medium leading-normal">
                      Rumah di Perkebunan Karet
                    </div>
                  </div>
                  <div class="flex self-stretch space-x-2 items-center justify-start">
                    <div class="flex items-start justify-start">
                      <div class="flex items-center justify-center rounded-full">
                        <div class="text-xs font-medium leading-none text-center text-gray-500">
                          Romance
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-2 items-center justify-start">
                      <div class="flex items-center justify-center">
                        <div class="flex items-center justify-center pr-0.5">
                          <ficon
                            aria-label="FavoriteStarFill"
                            iconName="FavoriteStarFill"
                            style="font-size:10px; color: #ff9f43;"
                            class={`flex items-center justify-center pr-1`}
                          />
                          <div class="text-xs leading-none text-amber-500">
                            4.9
                          </div>
                        </div>
                      </div>
                      <div class="flex items-center justify-center">
                        <img
                          src="/fimgs/3791_311872.x1.svg"
                          class="flex flex-col items-start justify-start pr-0.5"
                          style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
                        />
                        <div class="text-xs leading-none text-center text-amber-500">
                          123
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start pr-1">
                  <div
                    class={`text-sm font-medium leading-tight text-gray-600`}
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    In...
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-4 items-start justify-start bg-white shadow shadow-inner rounded">
            <div class="flex items-start justify-start">
              <img src="/fimgs/3790_236897.x1.png" style="border-radius:8%;" />
            </div>
            <div class="flex flex-1 self-stretch flex-col items-start justify-center">
              <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-base font-medium leading-normal">
                      Anohana
                    </div>
                  </div>
                  <div class="flex self-stretch space-x-2 items-center justify-start">
                    <div class="flex items-start justify-start">
                      <div class="flex items-center justify-center rounded-full">
                        <div class="text-xs font-medium leading-none text-center text-gray-500">
                          Romance
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-2 items-center justify-start">
                      <div class="flex items-center justify-center">
                        <div class="flex items-center justify-center pr-0.5">
                          <ficon
                            aria-label="FavoriteStarFill"
                            iconName="FavoriteStarFill"
                            style="font-size:10px; color: #ff9f43;"
                            class={`flex items-center justify-center pr-1`}
                          />
                          <div class="text-xs leading-none text-amber-500">
                            4.9
                          </div>
                        </div>
                      </div>
                      <div class="flex items-center justify-center">
                        <img
                          src="/fimgs/3791_313223.x1.svg"
                          class="flex flex-col items-start justify-start pr-0.5"
                          style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
                        />
                        <div class="text-xs leading-none text-center text-amber-500">
                          123
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start pr-1">
                  <div
                    class={`text-sm font-medium leading-tight text-gray-600`}
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    In...
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>