<>
  <effect
    meta={{
      user_password: "",
      user_ver_password: "",
      pass_type_1: "password",
      pass_type_2: "password",

      async showHidePass(key) {
        this[key] === "password"
          ? (this[key] = "text")
          : (this[key] = "password");
      },

      async onChange(key, e) {
        let value = e.target.value;
        runInAction(() => (this[key] = value));
        console.log(key + " : " + value);
      },

      validation() {
        let msg =
          this.user_password === "" || this.user_password === null
            ? "New password cant be empty!"
            : !validatePass(this.user_password)
            ? "Password length 8-16 <br/>Include Uppercase, Lowercase & No space"
            : this.user_ver_password === "" || this.user_ver_password === null
            ? "Confirm your new password!"
            : this.user_password !== this.user_ver_password
            ? "Password not same!"
            : false; // console.log(msg);

        return msg;
      },

      async submit() {
        let error_msg = this.validation();
        let user = window.user.user || "";

        if (error_msg || user === "") {
          window.mobileApp.app.dialog.alert(
            null,
            error_msg || "Email not entered before!"
          );
        } else {
          user = {
            user_id: user.user_id,
            user_password: encrypt(this.user_password),
          };
          window.mobileApp.app.dialog.preloader("Password Changed!");
          api("/api/api-users", {
            users: { ...user },
            e: "UpdatePass",
          }).then((res) => {
            if (res.users === null) {
              window.mobileApp.app.dialog.alert(null, "Database connect fail!");
            } else {
              setTimeout(function () {
                window.mobileApp.app.dialog.close();
              }, 1000);
              navigate("/m/login"); // console.log(res);
            }
          });
        }
      },
    }}
    run={async () => {}}
  />
  <div class="flex self-stretch flex-col items-start justify-start bg-white">
    <div
      class="flex flex-1 self-stretch flex-col items-center justify-end"
      style="height: 823px; min-height: 823px; max-height: 823px;background-image: url('/fimgs/bg-f558037e16951308ea624af3363769bf064e6bba');background-size:100% 100%;background-repeat:no-repeat;"
    >
      <div
        class={`flex flex-1 self-stretch flex-col space-y-12 items-center justify-center px-9 pt-6 pb-16 bg-black bg-opacity-50`}
        style={`backdrop-filter: blur(100px);`}
      >
        <div class="flex self-stretch flex-col space-y-4 items-center justify-center">
          <div class="text-3xl leading-10 text-center text-white">
            Create new password!
          </div>
          <div
            class={`text-lg font-bold leading-relaxed text-center text-white`}
          >
            Your new password must be <br />
            different from previously used
            <br />
            pasword
          </div>
        </div>
        <div
          class={`flex self-stretch flex-col space-y-8 items-start justify-start`}
        >
          <m-list
            class={`flex flex-1 self-stretch flex-col space-y-4 items-start justify-start list-none`}
          >
            <div class="flex self-stretch space-x-2.5 items-start justify-start border rounded border-white">
              <input-new-white
                label={"New Password"}
                type={meta.pass_type_1}
                class="w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "white",
                }}
                style={`color: white; 
      background:transparent; 
      border-radius: 5px !important;`}
                value={meta.user_password}
                onChange={(e) => {
                  meta.onChange("user_password", e);
                }}
              />
              <div
                class={`flex flex-1 self-stretch flex-col items-start justify-center pt-4`}
                style={`width: 51px; min-width: 51px; max-width: 51px; height: 60px; min-height: 60px; max-height: 60px;`}
              >
                <img
                  src="/fimgs/1142_112511.x1.svg"
                  class={`flex flex-col items-center justify-center`}
                  style={`width: 22px; min-width: 22px; max-width: 22px; height: 15px; min-height: 15px; max-height: 15px;`}
                  onClick={() => {
                    meta.showHidePass("pass_type_1");
                  }}
                />
              </div>
            </div>
            <div class="flex self-stretch space-x-2.5 items-start justify-start border rounded border-white">
              <input-new-white
                label={"Confirm New Password"}
                type={meta.pass_type_2}
                class="w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "white",
                }}
                style={`color: white; 
      background:transparent; 
      border-radius: 5px !important;`}
                value={meta.user_ver_password}
                onChange={(e) => {
                  meta.onChange("user_ver_password", e);
                }}
              />
              <div
                class={`flex flex-1 self-stretch flex-col items-start justify-center pt-4`}
                style={`width: 51px; min-width: 51px; max-width: 51px; height: 60px; min-height: 60px; max-height: 60px;`}
              >
                <img
                  src="/fimgs/1142_112493.x1.svg"
                  class={`flex flex-col items-center justify-center`}
                  style={`width: 22px; min-width: 22px; max-width: 22px; height: 15px; min-height: 15px; max-height: 15px;`}
                  onClick={() => {
                    meta.showHidePass("pass_type_2");
                  }}
                />
              </div>
            </div>
          </m-list>
          <btn-primary
            onClick={meta.submit}
            class={`flex self-stretch flex-col items-center justify-center py-1.5 pl-4 pr-6 bg-amber-500 rounded rounded-md`}
            style="height: 60px; min-height: 60px; max-height: 60px; background-color: #FF8F00"
            type={"submit"}
          >
            Create
          </btn-primary>
        </div>
      </div>
    </div>
  </div>
</>