<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex items-start justify-start bg-white">
    <div class="flex flex-1 self-stretch flex-col space-y-5 items-start justify-start">
      <titlebar-back
        class={`flex self-stretch flex-col items-start justify-start px-6 pt-9 pb-4 bg-white shadow`}
      >
        Popular
      </titlebar-back>
      <div
        data-space-between="20"
        data-slides-per-view="2"
        class="swiper-container swiper-init flex self-stretch space-x-2.5 items-center justify-start px-6"
      >
        <span-category />
        <span-category />
        <span-category />
        <span-category />
        <span-category />
        <div class="flex items-center justify-center px-2.5 py-0.5 bg-gray-200 rounded">
          <div class="text-sm font-bold leading-tight text-gray-700">
            Kategori
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6 pb-1.5">
        <div class="flex self-stretch space-x-1.5 items-start justify-start">
          <books-item01 />
          <books-item01 />
          <books-item01 />
        </div>
        <div class="flex self-stretch space-x-1.5 items-start justify-start">
          <books-item01 />
          <books-item01 />
        </div>
      </div>
    </div>
  </div>
</>