<>
  <effect meta={{}} run={async () => {}} />
  <div class={`flex items-start justify-start bg-white`}>
    <div
      class={`flex flex-1 self-stretch flex-col items-start justify-start bg-white w-full`}
    >
      <div
        class={`flex self-stretch flex-col items-start justify-start px-6 pt-9 pb-4 bg-white shadow`}
      >
        <div class="flex flex-1 self-stretch space-x-4 items-center justify-center">
          <div class="flex self-stretch items-center justify-start">
            <img
              src="/fimgs/1554_129458.x1.svg"
              class={`flex self-stretch items-center justify-start`}
              style={`width: 24px; min-width: 24px; max-width: 24px; height: 34px; min-height: 34px; max-height: 34px;`}
              onClick={() => {
                navigate("/m/");
              }}
            />
          </div>
          <div class="flex flex-1 items-center justify-center">
            <div class={`text-xl font-bold leading-loose text-center`}>
              Populer
            </div>
          </div>
          <div />
        </div>
      </div>
      <div
        class={`flex self-stretch flex-col items-start justify-start`}
        style="height: 54px; min-height: 54px; max-height: 54px;"
      >
        <div
          class={`flex self-stretch space-x-2.5 items-center justify-start px-6 overflow-x-auto w-full h-full`}
        >
          <span-category-active />
          <span-category />
          <span-category />
          <span-category />
          <span-category />
          <span-category />
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-center px-6 pb-1.5">
        <div class="flex self-stretch space-x-1.5 items-center justify-start">
          <div class="flex flex-col space-y-1 items-start justify-start p-1 bg-white shadow rounded">
            <img
              src="/fimgs/1583_192403.x1.svg"
              class="flex items-center justify-center pb-2"
              style="width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 165.61px; min-height: 165.61px; max-height: 165.61px;"
            />
            <div class="flex flex-1 self-stretch flex-col space-y-1 items-center justify-center p-0.5">
              <div class="flex self-stretch items-center justify-center pb-2">
                <div class="text-xs font-bold leading-none text-center">
                  Judul
                </div>
              </div>
              <div class="flex self-stretch items-center justify-center pb-2">
                <div class="text-xs font-bold leading-none text-center text-gray-500">
                  By Author
                </div>
              </div>
              <div class="flex self-stretch space-x-2 items-center justify-center pb-2">
                <div class="flex items-center justify-center">
                  <div class="flex space-x-0.5 items-center justify-center pr-0.5">
                    <img
                      src="/fimgs/1583_192413.x1.svg"
                      class="flex items-center justify-start pr-0.5"
                      style="width: 15px; min-width: 15px; max-width: 15px; height: 12px; min-height: 12px; max-height: 12px;"
                    />
                    <div class="text-xs leading-none">00</div>
                  </div>
                </div>
                <div class="flex space-x-0.5 items-center justify-center">
                  <img
                    src="/fimgs/1583_192417.x1.svg"
                    class="flex flex-col items-start justify-start pr-0.5"
                    style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
                  />
                  <div class="text-xs leading-none text-center">00</div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-start p-1 bg-white shadow rounded">
            <img
              src="/fimgs/1583_192424.x1.svg"
              class="flex items-center justify-center pb-2"
              style="width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 165.61px; min-height: 165.61px; max-height: 165.61px;"
            />
            <div class="flex flex-1 self-stretch flex-col space-y-1 items-center justify-center p-0.5">
              <div class="flex self-stretch items-center justify-center pb-2">
                <div class="text-xs font-bold leading-none text-center">
                  Judul
                </div>
              </div>
              <div class="flex self-stretch items-center justify-center pb-2">
                <div class="text-xs font-bold leading-none text-center text-gray-500">
                  By Author
                </div>
              </div>
              <div class="flex self-stretch space-x-2 items-center justify-center pb-2">
                <div class="flex items-center justify-center">
                  <div class="flex space-x-0.5 items-center justify-center pr-0.5">
                    <img
                      src="/fimgs/1583_192434.x1.svg"
                      class="flex items-center justify-start pr-0.5"
                      style="width: 15px; min-width: 15px; max-width: 15px; height: 12px; min-height: 12px; max-height: 12px;"
                    />
                    <div class="text-xs leading-none">00</div>
                  </div>
                </div>
                <div class="flex space-x-0.5 items-center justify-center">
                  <img
                    src="/fimgs/1583_192438.x1.svg"
                    class="flex flex-col items-start justify-start pr-0.5"
                    style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
                  />
                  <div class="text-xs leading-none text-center">00</div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-start p-1 bg-white shadow rounded">
            <img
              src="/fimgs/1583_192382.x1.svg"
              class="flex items-center justify-center pb-2"
              style="width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 165.61px; min-height: 165.61px; max-height: 165.61px;"
            />
            <div class="flex flex-1 self-stretch flex-col space-y-1 items-center justify-center p-0.5">
              <div class="flex self-stretch items-center justify-center pb-2">
                <div class="text-xs font-bold leading-none text-center">
                  Judul
                </div>
              </div>
              <div class="flex self-stretch items-center justify-center pb-2">
                <div class="text-xs font-bold leading-none text-center text-gray-500">
                  By Author
                </div>
              </div>
              <div class="flex self-stretch space-x-2 items-center justify-center pb-2">
                <div class="flex items-center justify-center">
                  <div class="flex space-x-0.5 items-center justify-center pr-0.5">
                    <img
                      src="/fimgs/1583_192392.x1.svg"
                      class="flex items-center justify-start pr-0.5"
                      style="width: 15px; min-width: 15px; max-width: 15px; height: 12px; min-height: 12px; max-height: 12px;"
                    />
                    <div class="text-xs leading-none">00</div>
                  </div>
                </div>
                <div class="flex space-x-0.5 items-center justify-center">
                  <img
                    src="/fimgs/1583_192396.x1.svg"
                    class="flex flex-col items-start justify-start pr-0.5"
                    style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
                  />
                  <div class="text-xs leading-none text-center">00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch space-x-1.5 items-center justify-start">
          <div class="flex flex-col space-y-1 items-start justify-start p-1 bg-white shadow rounded">
            <img
              src="/fimgs/1583_189505.x1.svg"
              class="flex items-center justify-center pb-2"
              style="width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 165.61px; min-height: 165.61px; max-height: 165.61px;"
            />
            <div class="flex flex-1 self-stretch flex-col space-y-1 items-center justify-center p-0.5">
              <div class="flex self-stretch items-center justify-center pb-2">
                <div class="text-xs font-bold leading-none text-center">
                  Judul
                </div>
              </div>
              <div class="flex self-stretch items-center justify-center pb-2">
                <div class="text-xs font-bold leading-none text-center text-gray-500">
                  By Author
                </div>
              </div>
              <div class="flex self-stretch space-x-2 items-center justify-center pb-2">
                <div class="flex items-center justify-center">
                  <div class="flex space-x-0.5 items-center justify-center pr-0.5">
                    <img
                      src="/fimgs/1583_189515.x1.svg"
                      class="flex items-center justify-start pr-0.5"
                      style="width: 15px; min-width: 15px; max-width: 15px; height: 12px; min-height: 12px; max-height: 12px;"
                    />
                    <div class="text-xs leading-none">00</div>
                  </div>
                </div>
                <div class="flex space-x-0.5 items-center justify-center">
                  <img
                    src="/fimgs/1583_189519.x1.svg"
                    class="flex flex-col items-start justify-start pr-0.5"
                    style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
                  />
                  <div class="text-xs leading-none text-center">00</div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-start p-1 bg-white shadow rounded">
            <img
              src="/fimgs/1583_189526.x1.svg"
              class="flex items-center justify-center pb-2"
              style="width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 165.61px; min-height: 165.61px; max-height: 165.61px;"
            />
            <div class="flex flex-1 self-stretch flex-col space-y-1 items-center justify-center p-0.5">
              <div class="flex self-stretch items-center justify-center pb-2">
                <div class="text-xs font-bold leading-none text-center">
                  Judul
                </div>
              </div>
              <div class="flex self-stretch items-center justify-center pb-2">
                <div class="text-xs font-bold leading-none text-center text-gray-500">
                  By Author
                </div>
              </div>
              <div class="flex self-stretch space-x-2 items-center justify-center pb-2">
                <div class="flex items-center justify-center">
                  <div class="flex space-x-0.5 items-center justify-center pr-0.5">
                    <img
                      src="/fimgs/1583_189536.x1.svg"
                      class="flex items-center justify-start pr-0.5"
                      style="width: 15px; min-width: 15px; max-width: 15px; height: 12px; min-height: 12px; max-height: 12px;"
                    />
                    <div class="text-xs leading-none">00</div>
                  </div>
                </div>
                <div class="flex space-x-0.5 items-center justify-center">
                  <img
                    src="/fimgs/1583_189540.x1.svg"
                    class="flex flex-col items-start justify-start pr-0.5"
                    style="width: 16px; min-width: 16px; max-width: 16px; height: 9px; min-height: 9px; max-height: 9px;"
                  />
                  <div class="text-xs leading-none text-center">00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>