<>
  <effect
    meta={{
      popularBook: [],
      user: [],
      get_rating_popular: [],
      category: [],
      categoryActive: "all",

      async onChange(e, key) {
        let value = e;

        if (key !== "categoryActive") {
          value = e.target.value;
        }

        runInAction(() => {
          this[key] = value;
        });

        if (key === "categoryActive") {
          this.readBook();
        } // console.log(this.categoryActive)
      },

      async readBook() {
        var popularBook = [];

        if (this.categoryActive === "all") {
          await api("/api/books", {
            book: "",
            e: "ReadAllPublished",
          }).then((res) => {
            // console.log(res)
            if (res !== null && res.book.length != 0) {
              runInAction(() => {
                this.get_rating_popular = [];
                this.popularBook = res.book;
                this.popularBook.map((a, i) => {
                  var sum = 0;
                  var avg = 0;
                  a.rating.map((b) => {
                    sum += b.rating_point;
                  });

                  if (a.rating.length !== 0) {
                    avg = parseFloat(sum / a.rating.length);
                  }

                  this.get_rating_popular.push(avg);
                  this.popularBook[i]["rating_avg"] = avg;
                });
                this.popularBook.sort(function (a, b) {
                  var aNum = a.rating_avg;
                  var bNum = b.rating_avg;
                  return bNum - aNum;
                });
              });
            } else {
              runInAction(() => {
                this.get_rating_popular = [];
                this.popularBook = [];
              });
            }
          });
        } else {
          await api("/api/books", {
            book: {
              book_category_id: this.categoryActive,
            },
            e: "ReadAllPublishedByCategory",
          }).then((res) => {
            // console.log(res)
            if (res !== null && res.book.length != 0) {
              runInAction(() => {
                this.get_rating_popular = [];
                this.popularBook = res.book;
                this.popularBook.map((a, i) => {
                  var sum = 0;
                  var avg = 0;
                  a.rating.map((b) => {
                    sum += b.rating_point;
                  });
                  avg = parseFloat(sum / a.rating.length);
                  this.get_rating_popular.push(avg);
                  this.popularBook[i]["rating_avg"] = avg;
                });
                this.popularBook.sort(function (a, b) {
                  var aNum = a.rating_avg;
                  var bNum = b.rating_avg;
                  return bNum - aNum;
                });
              });
            } else {
              runInAction(() => {
                this.get_rating_popular = [];
                this.popularBook = [];
              });
            }
          });
        }
      },
    }}
    run={async () => {
      let category;
      await api("/api/categories", {
        category: " ",
        e: "ReadAll",
      }).then((res) => {
        category = res.category; // console.log(category);
      }); // read book

      meta.readBook();
      runInAction(() => {
        meta.user = window.user.user || [];
        meta.category = category; // console.log(popularBook)

        setTimeout(() => {
          runInAction(() => {
            meta.loading = false;
          });
        }, 3000);
      });
    }}
  />
  <div class={`flex self-stretch items-start justify-start bg-white`}>
    <div
      class={`flex flex-1 self-stretch flex-col items-start justify-start bg-white w-full`}
    >
      <div
        class={`flex self-stretch flex-col items-start justify-start px-6 pt-9 pb-4 bg-white shadow`}
      >
        <div class="flex flex-1 self-stretch space-x-4 items-center justify-center">
          <div class="flex self-stretch items-center justify-start">
            <img
              src="/fimgs/1554_129458.x1.svg"
              class={`flex self-stretch items-center justify-start`}
              style={`width: 24px; min-width: 24px; max-width: 24px; height: 34px; min-height: 34px; max-height: 34px;`}
              onClick={() => {
                back();
              }}
            />
          </div>
          <div class="flex flex-1 items-center justify-center">
            <div class={`text-xl font-bold leading-loose text-center`}>
              Populer
            </div>
          </div>
          <div />
        </div>
      </div>
      <div
        class={`flex self-stretch space-x-2.5 items-start justify-start px-6 py-4 overflow-x-auto shrink-0`}
      >
        <m-button
          class={`flex items-center justify-center px-2.5 py-0.5 bg-amber-500 rounded`}
          style={`text-transform: capitalize; min-width: fit-content;
${
  meta.categoryActive === "all"
    ? "background: #FF8F00;"
    : "background: #A1A1AA;"
}`}
          onClick={() => {
            meta.onChange("all", "categoryActive");
          }}
        >
          <div class="text-sm font-bold leading-tight text-white">All’s</div>
        </m-button>
        {meta.category.map((value, index) => {
          return (
            <m-button
              class={`flex items-center justify-center px-2.5 py-0.5 bg-gray-400 rounded`}
              style={`text-transform: capitalize; min-width:fit-content; ${
                meta.categoryActive === value.category_id
                  ? "background: #FF8F00;"
                  : "background: #A1A1AA; "
              }`}
              onClick={() => {
                meta.onChange(value.category_id, "categoryActive");
              }}
            >
              <div class={`text-sm font-bold leading-tight text-white`}>
                {value.category_name}
              </div>
            </m-button>
          );
        })}
      </div>
      <div
        class={`flex self-stretch flex-col space-y-4 items-center justify-center px-4 pb-3`}
        style={`padding: 0 8px;`}
      >
        <div class={`flex self-stretch items-center justify-start flex-wrap`}>
          {meta.popularBook.map((value, index) => {
            if (value.rating_avg !== 0 && value.viewBook.length !== 0) {
              return (
                <div
                  class={`flex self-stretch flex-col space-y-1 items-start justify-start px-1 pt-1 pb-2.5 bg-white rounded shadow`}
                  style={`flex-basis: 33.333333%; max-width:fit-content; margin:6px 0px 6px 0px;`}
                  onClick={() => {
                    navigate("/m/detail-book-page/" + value.book_id + "/");
                  }}
                >
                  <img
                    src={
                      value.book_picture
                        ? "/upload/" + value.book_picture
                        : "/fimgs/1718_224584.x1.png"
                    }
                    style={`width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 157.61px; min-height: 157.61px; max-height: 157.61px;background-image: url('/fimgs/bg-faa07871d0024ca0a958943ad719b21cfec79189');background-size:100% 100%;background-repeat:no-repeat; border-radius: 4%`}
                    onError={(e) => {
                      e.target.onerror = null;
                      e.target.src = "/fimgs/1718_224584.x1.png";
                    }}
                  />
                  <div class="flex flex-1 self-stretch flex-col space-y-1 items-start justify-start px-2 pb-2">
                    <div class="flex items-start justify-start">
                      <div class="flex items-center justify-center rounded-full">
                        <div
                          class={`text-xs font-medium leading-none text-center text-gray-500`}
                        >
                          {value.tags_books_book_genre_one_idTotags.tag_name ||
                            "Genre"}
                        </div>
                      </div>
                    </div>
                    <div
                      class={`flex self-stretch items-start justify-start`}
                      style={`height: 3.5em;`}
                    >
                      <div
                        class={`text-sm font-medium leading-tight`}
                        style={`width: 100px;     
    overflow: hidden;
    line-height: 1em;
max-height: 3em;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;`}
                      >
                        {value.book_title || "Book Title"}
                      </div>
                    </div>
                    <div class="flex self-stretch space-x-2 items-center justify-start">
                      <div class="flex items-center justify-center">
                        <div class="flex space-x-0.5 items-center justify-center pr-0.5">
                          <img
                            src="/fimgs/4839_659726.x1.svg"
                            class="flex items-center justify-center"
                            style="width: 12px; min-width: 12px; max-width: 12px; height: 12px; min-height: 12px; max-height: 12px;"
                          />
                          <div class={`text-xs leading-none`}>
                            {value.rating_avg.toFixed(2) || 0}
                          </div>
                        </div>
                      </div>
                      <div class="flex items-center justify-center">
                        <img
                          src="/fimgs/4000_79452.x1.svg"
                          class={`flex flex-col items-start justify-start pr-0.5`}
                        />
                        <div class={`text-xs leading-none text-center`}>
                          {value.viewBook.length > 999
                            ? value.viewBook.length / 1000 + "k"
                            : value.viewBook.length}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              );
            }
          })}
        </div>
        {meta.popularBook.length === 0 && (
          <div
            class={`flex self-stretch items-center justify-center space-x-4`}
            style={`height: 69px; min-height: 69px; max-height: 69px;`}
          >
            <div class={`text-sm font-medium leading-tight`} style={``}>
              {"No data"}
            </div>
          </div>
        )}
      </div>
    </div>
  </div>
</>