<>
  <effect
    meta={{
      avg_rating: 0,
      rating: 0,
      views: "0",
      saves: "0",
      user_rating: "",
      isRead: false,
      isBookmark: false,
      author: [],
      book: [],
      comment: [],
      tags: [],
      chapter: [],
      category: [],
      page: [],
      publisher: [],
      page_info: false,
      save_info: false,
      star_info: false,
      read_info: false,
      loading: true,

      async onChange(key, value) {
        if (key === "rating") {
          runInAction(() => {
            this[key] = value;
          });
        }

        console.log(key + " : " + value);
      },

      async sendRating() {
        if (window.user.role === "guest") {
          window.mobileApp.app.dialog.confirm(
            "redirect to login?",
            "Please login before rate!",
            () => {
              navigate("/m/login");
            }
          );
        } else if (this.rating !== 0) {
          api("/api/rating", {
            rating: {
              rating_user_id: window.user.user.user_id,
              rating_book_id: parseInt(params.book_id),
            },
            e: "ReadByBooknUserId",
          }).then((res) => {
            // console.log(res);
            if (res === null || res.rating === null) {
              api("/api/rating", {
                rating: {
                  rating_point: this.rating,
                  rating_user_id: window.user.user.user_id,
                  rating_book_id: parseInt(params.book_id),
                  rating_date_updated: new Date(),
                },
                e: "Create",
              }).then((res) => {
                console.log(res);
                runInAction(() => {
                  this.user_rating = res.rating;
                });

                if (res !== null) {
                  window.mobileApp.app.dialog.preloader("Rating success!");
                  setTimeout(() => {
                    window.mobileApp.app.dialog.close();
                  }, 2000);
                }
              });
            } else if (res.rating !== null) {
              api("/api/rating", {
                rating: {
                  rating_id: res.rating.rating_id,
                  rating_point: this.rating,
                  rating_date_updated: new Date(),
                },
                e: "Update",
              }).then((res) => {
                // console.log(res);
                if (res !== null) {
                  window.mobileApp.app.dialog.preloader(
                    "Update rating success!"
                  ); // read all rating by book

                  api("/api/rating", {
                    rating: {
                      rating_book_id: parseInt(params.book_id),
                    },
                    e: "ReadByBookId",
                  }).then((res) => {
                    // console.log(res);
                    if (res.rating.length !== 0) {
                      var sum_rating = 0;
                      res.rating.map((value) => {
                        sum_rating += value.rating_point;
                      });
                      runInAction(() => {
                        this.avg_rating = parseFloat(
                          sum_rating / res.rating.length
                        );
                      });
                    }
                  });
                  setTimeout(() => {
                    window.mobileApp.app.dialog.close();
                  }, 2000);
                }
              });
            }
          });
        }
      },

      async readBook() {
        if (window.user.role === "guest") {
          window.mobileApp.app.dialog.confirm(
            "redirect to login?",
            "Please login before read!",
            () => {
              navigate("/m/login");
            }
          );
        } else {
          window.mobileApp.app.dialog.preloader();
          setTimeout(() => {
            window.mobileApp.app.dialog.close();
          }, 2000);
          navigate("/m/read-book-page/" + params.book_id + "/");
        }
      },

      async readComment() {
        var comment = [];
        api("/api/comment", {
          comment: {
            comment_book_id: parseInt(params.book_id),
          },
          e: "ReadByBookId",
        }).then((res) => {
          // console.log(res)
          if (
            res !== null &&
            res.comment.length !== 0 &&
            res.comment !== null
          ) {
            if (window.user.role !== "guest") {
              res.comment.map((value, i) => {
                if (value.users.user_id === window.user.user.user_id) {
                  comment.push(value);
                }
              });
              res.comment.map((value, i) => {
                if (value.users.user_id !== window.user.user.user_id) {
                  comment.push(value);
                }
              });
            } else {
              comment = res.comment;
            }
          }

          runInAction(() => {
            this.comment = comment;
            this.user_comment = "";
          });
          setTimeout(() => {
            window.mobileApp.app.dialog.close();
          }, 2000);
          runInAction(() => {
            this.loading = false;
          });
        });
      },

      async showInfo(key) {
        if (key === "page_info" && !this[key]) {
          this.page_info = true;
          this.save_info = false;
          this.star_info = false;
          this.read_info = false;
        } else if (key === "save_info" && !this[key]) {
          this.page_info = false;
          this.save_info = true;
          this.star_info = false;
          this.read_info = false;
        } else if (key === "star_info" && !this[key]) {
          this.page_info = false;
          this.save_info = false;
          this.star_info = true;
          this.read_info = false;
        } else if (key === "read_info" && !this[key]) {
          this.page_info = false;
          this.save_info = false;
          this.star_info = false;
          this.read_info = true;
        } else {
          this.page_info = false;
          this.save_info = false;
          this.star_info = false;
          this.read_info = false;
        }

        console.log("onclick:" + this.page_info);
      },

      async back() {
        navigate("/m/");
      },

      async aboutPage() {
        var book_id = "";
        if (params.book_id !== undefined) book_id = params.book_id;
        navigate("/m/about-books-page/" + book_id);
      },

      async commentPage() {
        var book_id = "";
        if (params.book_id !== undefined) book_id = params.book_id;
        navigate("/m/comment-page/" + book_id).then(() => {
          setTimeout(() => {
            var comment = document.getElementById("addComment");
            comment.firstElementChild.focus(); // console.log(comment);
          }, 1000);
        });
      },

      async addBookmark(book_id) {
        if (window.user.role === "guest") {
          window.mobileApp.app.dialog.confirm(
            "redirect to login?",
            "Please login before adding bookmark!",
            () => {
              navigate("/m/login");
            }
          );
        } else {
          api("/api/bookmarks", {
            bookmark: {
              bookmark_user_id: window.user.user.user_id,
              bookmark_book_id: parseInt(params.book_id),
            },
            e: "ReadByBookNUserId",
          }).then((res) => {
            // console.log(res);
            if (res.bookmark === null) {
              window.mobileApp.app.dialog.preloader("Added to read later...");
              api("/api/bookmarks", {
                bookmark: {
                  bookmark_user_id: window.user.user.user_id,
                  bookmark_book_id: parseInt(params.book_id),
                  bookmark_date: new Date(),
                },
                e: "Create",
              }).then((res) => {
                // console.log(res);
                setTimeout(function () {
                  window.mobileApp.app.dialog.close();
                }, 2000);
                runInAction(() => {
                  this.isBookmark = true;
                }); // navigate("/m/");
              });
            } else {
              window.mobileApp.app.dialog.confirm(
                "This book already added to read later.",
                "Remove from read later?",
                () => {
                  api("/api/bookmarks", {
                    bookmark: {
                      bookmark_id: res.bookmark.bookmark_id,
                    },
                    e: "Delete",
                  }).then((res) => {
                    if (res.res === "Failure" || res === null) {
                      window.mobileApp.app.dialog.alert(
                        null,
                        "Failed to remove this book from read later"
                      );
                    } else {
                      window.mobileApp.app.dialog.preloader("Removing ...");
                      setTimeout(function () {
                        window.mobileApp.app.dialog.close();
                      }, 2000);
                      runInAction(() => {
                        this.isBookmark = false;
                      });
                    }
                  });
                }
              );
            }
          });
        }
      },
    }}
    run={async () => {
      // read buku by book_id
      if (params.book_id !== undefined) {
        // read all rating by book
        api("/api/rating", {
          rating: {
            rating_book_id: parseInt(params.book_id),
          },
          e: "ReadByBookId",
        }).then((res) => {
          // console.log(res);
          if (res.rating.length !== 0) {
            var sum_rating = 0;
            res.rating.map((value) => {
              sum_rating += value.rating_point;
            });
            runInAction(() => {
              meta.avg_rating = parseFloat(sum_rating / res.rating.length);
            });
          }
        }); // read rating by user_id

        if (window.user.role !== "guest") {
          api("/api/rating", {
            rating: {
              rating_user_id: window.user.user.user_id,
              rating_book_id: parseInt(params.book_id),
            },
            e: "ReadByBooknUserId",
          }).then((res) => {
            // console.log(res);
            if (res !== null && res.rating !== null) {
              runInAction(() => {
                meta.user_rating = res.rating;
                meta.rating = res.rating.rating_point;
              });
            }
          }); //read history user read this book

          api("/api/history-book", {
            viewBook: {
              viewBook_book_id: parseInt(params.book_id),
              viewBook_user_id: window.user.user.user_id,
            },
            e: "ReadLatestChapter",
          }).then((res) => {
            if (res.viewBook !== null) {
              runInAction(() => {
                meta.isRead = true;
              });
            }
          });
        } // read book data

        var author = [];
        var tags = [];
        api("/api/books", {
          book: {
            book_id: parseInt(params.book_id),
          },
          e: "ReadDetailById",
        }).then((res) => {
          // console.log(res);
          runInAction(() => {
            if (res.book.authors_authorsTobooks_book_author_one_id !== null) {
              runInAction(() => {
                meta.author.push(
                  res.book.authors_authorsTobooks_book_author_one_id
                );
              });
            }

            if (res.book.authors_authorsTobooks_book_author_two_id !== null) {
              runInAction(() => {
                meta.author.push(
                  res.book.authors_authorsTobooks_book_author_two_id
                );
              });
            }

            if (res.book.authors_authorsTobooks_book_author_three_id !== null) {
              runInAction(() => {
                meta.author.push(
                  res.book.authors_authorsTobooks_book_author_three_id
                );
              });
            }

            if (res.book.tags_books_book_genre_one_idTotags !== null) {
              runInAction(() => {
                meta.tags.push(res.book.tags_books_book_genre_one_idTotags);
              });
            }

            if (res.book.tags_books_book_genre_two_idTotags !== null) {
              runInAction(() => {
                meta.tags.push(res.book.tags_books_book_genre_two_idTotags);
              });
            }

            if (res.book.tags_books_book_genre_three_idTotags !== null) {
              runInAction(() => {
                meta.tags.push(res.book.tags_books_book_genre_three_idTotags);
              });
            }

            meta.book = res.book;
            meta.chapter = res.book.chapter;
            meta.category = res.book.category;
            meta.publisher = res.book.publisher;
            meta.page = res.book.page; // meta.author = res.book.author;
          });
        }); //count book views

        api("/api/history-book", {
          viewBook: {
            viewBook_book_id: parseInt(params.book_id),
          },
          e: "CountView",
        }).then((res) => {
          // console.log(res);
          if (res.viewBook.length !== 0) {
            runInAction(() => {
              meta.views =
                res.viewBook.length > 999
                  ? String((Math.abs(res.viewBook.length) / 1000).toFixed(1)) +
                    "k"
                  : String(res.viewBook.length);
            });
          }
        }); // read bookmark

        if (window.user.role !== "guest") {
          api("/api/bookmarks", {
            bookmark: {
              bookmark_user_id: window.user.user.user_id,
              bookmark_book_id: parseInt(params.book_id),
            },
            e: "ReadByBookNUserId",
          }).then((res) => {
            // console.log(res);
            if (res.bookmark !== null) {
              runInAction(() => {
                meta.isBookmark = true;
              });
            }
          }); // count sum bookmark

          api("/api/bookmarks", {
            bookmark: {
              bookmark_book_id: parseInt(params.book_id),
            },
            e: "ReadByBookId",
          }).then((res) => {
            // console.log(res);
            if (res.bookmark.length !== 0) {
              runInAction(() => {
                meta.saves =
                  res.bookmark.length > 999
                    ? String(
                        (Math.abs(res.bookmark.length) / 1000).toFixed(1)
                      ) + "k"
                    : String(res.bookmark.length);
              });
            }
          });
        } //read comment

        meta.readComment();
      } else {
        navigate("/m/");
      }
    }}
  />
  <div class={`flex items-start justify-start bg-white`}>
    <div
      class={`flex flex-1 self-stretch flex-col space-y-4 items-start justify-start`}
    >
      <div class="flex self-stretch flex-col items-start justify-start">
        <div
          class={`flex self-stretch flex-col items-start justify-start px-6 pt-9 pb-4 bg-white shadow`}
        >
          <div class="flex self-stretch space-x-4 items-center justify-start">
            <div class="flex self-stretch items-center justify-start">
              <img
                src="/fimgs/1554_259805.x1.svg"
                class={`flex self-stretch items-center justify-start`}
                style={`width: 24px; min-width: 24px; max-width: 24px; height: 30px; min-height: 30px; max-height: 30px;`}
                onClick={() => {
                  back();
                }}
              />
            </div>
            <div class="flex flex-1 items-center justify-center">
              <div class={`text-xl font-bold leading-loose text-center`}>
                {children || "Details Book"}
              </div>
            </div>
            <div />
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6 pt-6">
          <div class="flex self-stretch space-x-4 items-start justify-start bg-white">
            <div
              class={`flex items-center justify-center`}
              style={`width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 157.61px; min-height: 157.61px; max-height: 157.61px;`}
            >
              <img
                src={
                  meta.book.book_picture
                    ? "/upload/" + meta.book.book_picture
                    : "/fimgs/733_4436.x1.png"
                }
                onError={(e) => {
                  e.target.onerror = null;
                  e.target.src = "/fimgs/733_4436.x1.png";
                }}
                style={`background-image: url('/fimgs/bg-faa07871d0024ca0a958943ad719b21cfec79189');background-size:100% 100%;background-repeat:no-repeat;`}
              />
            </div>
            <div class="flex flex-1 self-stretch flex-col space-y-1 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class={`text-2xl font-bold leading-9`}>
                  {meta.book.book_title || "Book title"}
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class={`text-sm font-bold leading-tight text-gray-500`}>
                  By {meta.author[0] ? meta.author[0].author_name : "Author"}
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class={`text-xs font-bold leading-none`}>
                  {meta.publisher.publisher_name || "Book publisher"}
                </div>
              </div>
              <div class="flex items-start justify-start px-1 py-0.5 bg-white border border-gray-500">
                <div class="text-xs leading-none text-right text-gray-500">
                  16+
                </div>
              </div>
            </div>
          </div>
          <div
            class={`flex self-stretch items-center justify-center py-4 bg-gray-100 rounded`}
            style="border-radius:5%;"
            tabIndex="0"
            onBlur={() => {
              meta.showInfo(false);
            }}
          >
            <div
              class={`flex flex-1 flex-col items-center justify-center p-2.5`}
              onClick={() => {
                meta.showInfo("star_info");
              }}
            >
              {meta.star_info && (
                <div
                  class={`flex self-stretch flex-col items-center justify-center`}
                  style={`margin-top: -22px;`}
                >
                  <div
                    class={`text-base font-bold leading-normal text-gray-500`}
                  >
                    Rates
                  </div>
                </div>
              )}
              <div class="flex space-x-1 items-start justify-start">
                <img
                  src="/fimgs/1369_30601.x1.svg"
                  style="width: 18px; min-width: 18px; max-width: 18px; height: 24px; min-height: 24px; max-height: 24px;"
                  class="flex self-stretch items-center justify-center"
                />
                <div class="flex items-center justify-start">
                  <div class={`text-base font-bold leading-normal`}>
                    {meta.avg_rating === 0 ? "-" : meta.avg_rating.toFixed(2)}
                  </div>
                </div>
              </div>
            </div>
            <div
              class={`flex flex-1 flex-col items-center justify-center p-2.5`}
              onClick={() => {
                meta.showInfo("save_info");
              }}
            >
              {meta.save_info && (
                <div
                  class={`flex self-stretch flex-col items-center justify-center`}
                  style={`margin-top: -22px;`}
                >
                  <div
                    class={`text-base font-bold leading-normal text-gray-500`}
                  >
                    Saves
                  </div>
                </div>
              )}
              <div class="flex space-x-1 items-center justify-center">
                <img
                  src="/fimgs/3840_264934.x1.svg"
                  class="flex self-stretch items-center justify-center"
                  style="width: 10.47px; min-width: 10.47px; max-width: 10.47px; height: 24px; min-height: 24px; max-height: 24px;"
                />
                <div class="flex items-center justify-start">
                  <div class={`text-base font-bold leading-normal`}>
                    {meta.saves}
                  </div>
                </div>
              </div>
            </div>
            <div
              class={`flex flex-1 flex-col items-center justify-center p-2.5`}
              onClick={() => {
                meta.showInfo("read_info");
              }}
            >
              {meta.read_info && (
                <div
                  class={`flex self-stretch flex-col items-center justify-center`}
                  style={`margin-top: -22px;`}
                >
                  <div
                    class={`text-base font-bold leading-normal text-gray-500`}
                  >
                    Reads
                  </div>
                </div>
              )}
              <div class="flex space-x-1 items-center justify-center">
                <img
                  src="/fimgs/3840_264942.x1.svg"
                  class="flex items-start justify-start"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
                />
                <div class="flex items-center justify-start">
                  <div class={`text-base font-bold leading-normal`}>
                    {meta.views}
                  </div>
                </div>
              </div>
            </div>
            <div
              class={`flex flex-1 flex-col items-center justify-center p-2.5`}
              onClick={() => {
                meta.showInfo("page_info");
              }}
            >
              {meta.page_info && (
                <div
                  class={`flex self-stretch flex-col items-center justify-center`}
                  style={`margin-top: -22px;`}
                >
                  <div class="text-base font-bold leading-normal text-gray-500">
                    Pages
                  </div>
                </div>
              )}
              <div class={`flex space-x-1 items-center justify-center`}>
                <ficon
                  aria-label="Page"
                  iconName="PageSolid"
                  class={`flex items-start justify-start`}
                  style={`color: rgba(245,158,11,var(--tw-bg-opacity));`}
                />
                <div class={`flex items-start justify-start`}>
                  <div class={`text-base font-bold leading-normal`}>
                    {meta.page.length || "-"}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div
            class={`flex flex-1 items-center justify-start`}
            onClick={meta.aboutPage}
          >
            <div class="text-xl font-bold leading-loose">About</div>
          </div>
          <img
            src="/fimgs/991_7277.x1.svg"
            class={`flex self-stretch items-center justify-start`}
            style={`width: 24px; min-width: 24px; max-width: 24px; height: 30px; min-height: 30px; max-height: 30px;`}
            onClick={meta.aboutPage}
          />
        </div>
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
          <div
            class={`flex self-stretch flex-col items-start justify-start`}
            onClick={meta.aboutPage}
          >
            <div
              class={`text-sm font-medium leading-tight text-gray-600`}
              style={`overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 3em;`}
            >
              {meta.book.book_description || "Description preview"}
            </div>
          </div>
          <div class="flex self-stretch items-center justify-start">
            {meta.tags.map((value, index) => {
              return (
                <div
                  class={`flex items-center justify-center px-2.5 py-0.5 bg-orange-300 rounded`}
                  style={"background-color: #; margin-right: 10px"}
                >
                  <div class={`text-sm font-bold leading-tight`}>
                    {value.tag_name || "Genre"}
                  </div>
                </div>
              );
            })}
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
        <div class="flex self-stretch space-x-2.5 items-center justify-start">
          <div
            class={`flex self-stretch items-center justify-start`}
            onClick={meta.commentPage}
          >
            <div class="text-xl font-bold leading-loose">Comment</div>
          </div>
          <div
            class={`flex flex-1 self-stretch items-center justify-start`}
            onClick={meta.commentPage}
          >
            <div class={`text-xs font-bold leading-none`}>
              {meta.comment.length} People
            </div>
          </div>
          <div
            class={`flex self-stretch items-center justify-center`}
            onClick={meta.commentPage}
          >
            <img
              class={`flex items-start justify-start`}
              src="/fimgs/1022_25715.x1.svg"
              style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
            />
          </div>
        </div>
        <m-list
          class={`flex flex-1 self-stretch flex-col space-y-2 items-start justify-start overflow-x-auto`}
        >
          {!meta.loading &&
            meta.comment.length !== 0 &&
            meta.comment
              .slice(0, meta.comment.length > 3 ? 3 : meta.comment.length)
              .map((value, index) => {
                return (
                  <m-list-item
                    class={`flex self-stretch space-x-2.5 items-start justify-start pb-1 bg-white`}
                    swipeout={true}
                    style={`margin-left : -50px`}
                  >
                    <div
                      class={`flex flex-1 self-stretch items-start justify-start swipeout-content`}
                    >
                      <div
                        class={`flex flex-1 flex-col items-start justify-start item-content`}
                      >
                        <div
                          class={`flex flex-1 self-stretch space-x-2.5 items-center justify-start item-inner`}
                        >
                          <div
                            class={`flex self-stretch items-start justify-start p-2.5`}
                          >
                            <img
                              class={`rounded-full h-24 w-24 `}
                              style={`width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;background-image: url('/fimgs/bg-9a38e49e10277e6e852b4067665aec6e437bde6f');background-size:100% 100%;background-repeat:no-repeat;`}
                              src={
                                value.users.user_picture
                                  ? "/upload/" + value.users.user_picture
                                  : "/fimgs/1718_127188.x1.png"
                              }
                              onError={(e) => {
                                e.target.onerror = null;
                                e.target.src = "/fimgs/1718_127188.x1.png";
                              }}
                              onClick={meta.commentPage}
                            />
                          </div>
                          <div
                            class={`flex flex-1 self-stretch flex-col space-y-1.5 items-start justify-start`}
                            onClick={meta.commentPage}
                          >
                            <div
                              class={`flex self-stretch space-x-2 items-center justify-start w-full`}
                            >
                              <div class="flex items-start justify-start">
                                <div
                                  class={`text-base font-bold leading-normal name`}
                                >
                                  {window.user.role !== "guest" &&
                                  value.users.user_name ===
                                    window.user.user.user_name
                                    ? "Your Comment"
                                    : value.users.user_name}
                                </div>
                              </div>
                              <div
                                class={`flex flex-1 items-center justify-end w-full`}
                              >
                                <div
                                  class={`text-xs font-bold leading-none text-gray-500`}
                                >
                                  {dateFormat(
                                    value.comment_date_updated,
                                    "MMMM dd, yyyy"
                                  ) || "MMMM dd, yyyy"}
                                </div>
                              </div>
                            </div>
                            <div class="flex self-stretch items-start justify-start">
                              <div
                                class={`text-base leading-normal text-gray-800`}
                              >
                                {value.comment_description.length < 100
                                  ? value.comment_description
                                  : value.comment_description.slice(0, 100) +
                                    "..."}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {false && value.users.user_id === window.user.user.user_id && (
                      <m-swipeout-actions
                        right={true}
                        class={`flex self-stretch items-start justify-start bg-white`}
                        style={`max-height: 102px`}
                      >
                        <m-swipeout-button
                          class={`flex self-stretch flex-col items-center justify-center bg-white`}
                          color={"green"}
                          onClick={() => {
                            meta.editComment(value.comment_id);
                          }}
                        >
                          {"Edit"}
                        </m-swipeout-button>
                        <m-swipeout-button
                          class={`flex self-stretch flex-col items-center justify-center bg-white`}
                          color={"red"}
                          overswipe={() => {
                            meta.deleteComment(value.comment_id);
                          }}
                          onClick={() => {
                            meta.deleteComment(value.comment_id);
                          }}
                        >
                          {"Delete"}
                        </m-swipeout-button>
                      </m-swipeout-actions>
                    )}
                  </m-list-item>
                );
              })}
          {meta.comment.length === 0 && !meta.loading && (
            <div
              class={`flex flex-1 self-stretch items-center justify-center pb-1 h-full`}
              style={`padding-top:24px`}
            >
              <div class="flex flex-1 self-stretch flex-col space-y-4 items-center justify-center">
                <img
                  src={`/fimgs/4392_2995205.x1.svg`}
                  class={`flex flex-col items-start justify-start`}
                />
                <div class="text-base leading-normal text-right text-gray-600">
                  No comment yet ~
                </div>
              </div>
            </div>
          )}
          {meta.loading && (
            <div class={`flex self-stretch items-start justify-start pb-1`}>
              <div
                class={`flex flex-1 self-stretch space-x-2.5 items-center justify-start item-inner`}
              >
                <div class={`flex items-start justify-start p-2.5`}>
                  <div
                    class="flex flex-1 self-stretch items-start justify-start rounded-full"
                    style="width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;"
                  >
                    <loading-box class={"rounded-full"} />
                  </div>
                </div>
                <div class="flex flex-1 self-stretch flex-col space-y-2.5 items-center justify-center py-2.5">
                  <div
                    class={`flex self-stretch space-x-16 items-start justify-start`}
                    style={`height: 15px; min-height: 15px; max-height: 15px;display: flex;
  justify-content: space-between`}
                  >
                    <div
                      class="flex flex-1 self-stretch items-start justify-start bg-white"
                      style="width: 111.50px; min-width: 111.50px; max-width: 111.50px; height: 15px; min-height: 15px; max-height: 15px;"
                    >
                      <loading-box />
                    </div>
                    <div
                      class="flex flex-1 self-stretch items-start justify-start bg-white"
                      style="width: 111.50px; min-width: 111.50px; max-width: 111.50px; height: 15px; min-height: 15px; max-height: 15px;"
                    >
                      <loading-box />
                    </div>
                  </div>
                  <div
                    class="flex self-stretch items-start justify-start bg-white"
                    style="height: 45px; min-height: 45px; max-height: 45px;"
                  >
                    <loading-box />
                  </div>
                </div>
              </div>
            </div>
          )}
        </m-list>
        {
          <div
            class={`flex items-center justify-start`}
            onClick={meta.commentPage}
          >
            <div class={`text-base font-bold leading-normal text-amber-500`}>
              {meta.comment.length === 0 ? "Add comment" : "See all comment"}
            </div>
          </div>
        }
      </div>
      <div
        class={`mb-10 flex self-stretch flex-col space-y-4 items-start justify-start px-6`}
        style={"margin-bottom:100px !important;"}
      >
        <div class="flex flex-1 self-stretch items-center justify-center p-2.5">
          <div class="text-xl font-bold leading-loose text-center">
            Rate this Book
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-4 items-center justify-start rounded">
          <div class="flex self-stretch flex-col space-y-2.5 items-center justify-center">
            <div class="flex items-start justify-center">
              <img
                class={`flex items-center justify-center`}
                src={
                  meta.rating > 0
                    ? "/fimgs/1369_30601.x1.svg"
                    : "/fimgs/1369_35115.x1.svg"
                }
                onClick={() => {
                  if (window.user.role === "guest") {
                    window.mobileApp.app.dialog.confirm(
                      "redirect to login?",
                      "Please login before rate!",
                      () => {
                        navigate("/m/login");
                      }
                    );
                  } else {
                    meta.onChange("rating", 1);
                  }
                }}
              />
              <img
                class={`flex items-center justify-center`}
                src={
                  meta.rating > 1
                    ? "/fimgs/1369_30601.x1.svg"
                    : "/fimgs/1369_35115.x1.svg"
                }
                onClick={() => {
                  if (window.user.role === "guest") {
                    window.mobileApp.app.dialog.confirm(
                      "redirect to login?",
                      "Please login before rate!",
                      () => {
                        navigate("/m/login");
                      }
                    );
                  } else {
                    meta.onChange("rating", 2);
                  }
                }}
              />
              <img
                class={`flex items-center justify-center`}
                src={
                  meta.rating > 2
                    ? "/fimgs/1369_30601.x1.svg"
                    : "/fimgs/1369_35115.x1.svg"
                }
                onClick={() => {
                  if (window.user.role === "guest") {
                    window.mobileApp.app.dialog.confirm(
                      "redirect to login?",
                      "Please login before rate!",
                      () => {
                        navigate("/m/login");
                      }
                    );
                  } else {
                    meta.onChange("rating", 3);
                  }
                }}
              />
              <img
                class={`flex items-center justify-center`}
                src={
                  meta.rating > 3
                    ? "/fimgs/1369_30601.x1.svg"
                    : "/fimgs/1369_35115.x1.svg"
                }
                onClick={() => {
                  if (window.user.role === "guest") {
                    window.mobileApp.app.dialog.confirm(
                      "redirect to login?",
                      "Please login before rate!",
                      () => {
                        navigate("/m/login");
                      }
                    );
                  } else {
                    meta.onChange("rating", 4);
                  }
                }}
              />
              <img
                class={`flex items-center justify-center`}
                src={
                  meta.rating > 4
                    ? "/fimgs/1369_30601.x1.svg"
                    : "/fimgs/1369_35115.x1.svg"
                }
                onClick={() => {
                  if (window.user.role === "guest") {
                    window.mobileApp.app.dialog.confirm(
                      "redirect to login?",
                      "Please login before rate!",
                      () => {
                        navigate("/m/login");
                      }
                    );
                  } else {
                    meta.onChange("rating", 5);
                  }
                }}
              />
            </div>
            <div class="flex self-stretch items-start justify-center">
              <div class="text-sm leading-tight text-center">
                Klik untuk menentukan rating
              </div>
            </div>
          </div>
          <button
            class={`flex items-center justify-center px-2.5 py-0.5 bg-amber-500 shadow rounded`}
            style={`width: 87px; min-width: 87px; max-width: 87px; height: 32px; min-height: 32px; max-height: 32px;`}
            onClick={() => {
              meta.sendRating();
            }}
          >
            <div class={`text-base font-bold leading-normal text-white`}>
              {meta.user_rating === "" ? "Send" : "Update"}
            </div>
          </button>
        </div>
      </div>
      <div
        class={`fixed w-full bottom-0 flex self-stretch space-x-2 items-center justify-center px-6 py-4 bg-white bg-opacity-50`}
        style="backdrop-filter: blur(10px); z-index:1"
      >
        <div
          class={`flex self-stretch items-center justify-center bg-white shadow border rounded-lg border-amber-500`}
          onClick={() => {
            meta.addBookmark(params.book_id);
          }}
          style="width: 50px; min-width: 50px; max-width: 50px; height: 44px; min-height: 44px; max-height: 44px;"
        >
          <div class="flex items-start justify-start">
            {meta.isBookmark && (
              <img
                class={""}
                style={`width: 35.71px; min-width: 35.71px; max-width: 35.71px; height: 44px; min-height: 44px; max-height: 44px;`}
                src="/fimgs/4379_20313.x1.svg"
              />
            )}
          </div>
        </div>
        <button
          class={`flex flex-1 items-center justify-center p-2.5 bg-amber-500 shadow rounded-lg`}
          onClick={() => {
            meta.readBook();
          }}
        >
          <div
            class={`text-base font-bold leading-normal text-center text-white`}
          >
            {meta.isRead ? "Continue Reading" : "Start Reading"}
          </div>
        </button>
      </div>
    </div>
  </div>
</>