<>
  <effect meta={{}} run={async () => {}} />
  <div class={`flex items-start justify-start bg-white`}>
    <div class="flex flex-1 self-stretch flex-col space-y-4 items-start justify-start">
      <div class="flex self-stretch flex-col items-start justify-start">
        <titlebar-back
          class={`flex self-stretch flex-col items-start justify-start px-6 pt-9 pb-4 bg-white shadow`}
        >
          Details Book
        </titlebar-back>
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6 pt-6">
          <div class="flex self-stretch space-x-4 items-start justify-start bg-white">
            <img
              src="/fimgs/1104_4890.x1.svg"
              class={`flex items-center justify-center`}
              style="width: 110.16px; min-width: 110.16px; max-width: 110.16px; height: 157.61px; min-height: 157.61px; max-height: 157.61px;"
            />
            <div class="flex flex-1 self-stretch flex-col space-y-1 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-2xl font-bold leading-9">Game Over</div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-sm font-bold leading-tight text-gray-500">
                  By Valerie Patkar
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xs font-bold leading-none">Bhuana Sastra</div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch items-center justify-center py-4 bg-gray-100 rounded">
            <div class="flex flex-1 items-center justify-center p-2.5">
              <img
                src="/fimgs/1369_30601.x1.svg"
                style="width: 18px; min-width: 18px; max-width: 18px; height: 18px; min-height: 18px; max-height: 18px;"
                class="flex items-start justify-start"
              />
              <div class="flex items-center justify-start">
                <div class="text-base font-bold leading-normal">4.5</div>
              </div>
            </div>
            <div class="flex flex-1 items-center justify-center p-2.5">
              <img
                src="/fimgs/I991_7642_991_7622.x1.svg"
                class="flex items-center justify-center"
                style="width: 10.47px; min-width: 10.47px; max-width: 10.47px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex items-center justify-start">
                <div class="text-base font-bold leading-normal">125K</div>
              </div>
            </div>
            <div class="flex flex-1 items-center justify-center p-2.5">
              <img
                src="/fimgs/I991_7642_991_7629.x1.svg"
                class="flex items-start justify-start"
                style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
              />
              <div class="flex items-center justify-start">
                <div class="text-base font-bold leading-normal">125K</div>
              </div>
            </div>
            <div class="flex flex-1 items-center justify-center p-2.5">
              <div class="flex items-start justify-start">
                <div class="text-base font-bold leading-normal">125</div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs font-bold leading-none text-gray-500">
                  Pages
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 items-center justify-start">
            <div class="text-xl font-bold leading-loose">About</div>
          </div>
          <img
            src="/fimgs/991_7277.x1.svg"
            class="flex self-stretch items-center justify-start"
            style="width: 24px; min-width: 24px; max-width: 24px; height: 30px; min-height: 30px; max-height: 30px;"
          />
        </div>
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-base leading-normal">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas
              ut consequat aliquam, massa. Consectetur pulvinar venenatis nec
              elementum ipsum non, odio eu. Ultrices orci a, ac neque. Enim
              fames ut velit dignissim ullamcorper aliquam ...
            </div>
          </div>
          <div class="flex self-stretch space-x-1.5 items-center justify-start">
            <span-genres
              class={`flex items-center justify-center px-2.5 py-0.5 bg-orange-300 rounded`}
              style={"background-color: #"}
            />
            <span-genres
              class={`flex items-center justify-center px-2.5 py-0.5 bg-orange-300 rounded`}
              style={"background-color: #"}
            />
            <span-genres
              class={`flex items-center justify-center px-2.5 py-0.5 bg-orange-300 rounded`}
              style={"background-color: #"}
            />
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start px-6">
        <div class="flex self-stretch space-x-2.5 items-center justify-start">
          <div class="flex self-stretch items-center justify-start">
            <div class="text-xl font-bold leading-loose">Comment</div>
          </div>
          <div class="flex flex-1 self-stretch items-center justify-start">
            <div class="text-xs font-bold leading-none">25 reviewrs</div>
          </div>
          <div class="flex self-stretch items-center justify-center">
            <img
              class={`flex items-start justify-start`}
              src="/fimgs/1022_25715.x1.svg"
              style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
            />
          </div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-start">
          <item-comment-active
            class={`flex self-stretch space-x-2.5 items-start justify-start pb-1 bg-white`}
            style={"margin-bottom: 5px;"}
          />
          <item-comment
            class={`flex self-stretch space-x-2.5 items-start justify-start bg-white`}
            style={"margin-bottom: 5px;"}
          />
          <item-comment
            class={`flex self-stretch space-x-2.5 items-start justify-start bg-white`}
            style={"margin-bottom: 5px;"}
          />
        </div>
        <div class="flex self-stretch items-center justify-start">
          <div class="text-base font-bold leading-normal text-amber-500">
            See all comment
          </div>
        </div>
      </div>
      <div
        class={`mb-10 flex self-stretch flex-col space-y-4 items-start justify-start px-6`}
        style={"margin-bottom:100px !important;"}
      >
        <div class="flex flex-1 self-stretch items-center justify-center p-2.5">
          <div class="text-xl font-bold leading-loose text-center">
            Rate this Book
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-4 items-center justify-start rounded">
          <div class="flex self-stretch flex-col space-y-2.5 items-center justify-center">
            <div class="flex items-start justify-center">
              <img
                src="/fimgs/1369_30601.x1.svg"
                class="flex items-center justify-center"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
              />
              <img
                src="/fimgs/1369_35115.x1.svg"
                class="flex items-center justify-center"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
              />
              <img
                src="/fimgs/1369_34925.x1.svg"
                class="flex items-center justify-center"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
              />
              <img
                src="/fimgs/1369_34735.x1.svg"
                class="flex items-center justify-center"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
              />
              <img
                src="/fimgs/1369_30592.x1.svg"
                class="flex items-center justify-center"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
              />
            </div>
            <div class="flex self-stretch items-start justify-center">
              <div class="text-sm leading-tight text-center">
                Klik untuk menentukan ratting
              </div>
            </div>
          </div>
          <button
            class="flex items-center justify-center px-2.5 py-0.5 bg-amber-500 shadow rounded"
            style="width: 87px; min-width: 87px; max-width: 87px; height: 32px; min-height: 32px; max-height: 32px;"
          >
            <div class="text-base font-bold leading-normal text-white">
              Send
            </div>
          </button>
        </div>
      </div>
      <div
        class={`fixed w-full bottom-0 flex self-stretch space-x-2 items-center justify-center px-6 py-4 bg-white bg-opacity-50`}
        style="backdrop-filter: blur(10px);"
      >
        <div class="flex self-stretch items-center justify-center bg-white shadow border rounded-lg border-amber-500">
          <img
            style="width: 35.71px; min-width: 35.71px; max-width: 35.71px; height: 44px; min-height: 44px; max-height: 44px;"
            src="/fimgs/I991_7676_991_7671.x1.svg"
          />
        </div>
        <div class="flex flex-1 items-center justify-center p-2.5 bg-amber-500 shadow rounded-lg">
          <div class="text-base font-bold leading-normal text-center text-white">
            Continue Reading
          </div>
        </div>
      </div>
    </div>
  </div>
</>