<>
  <effect
    meta={{
      author_id: "",
      author_name: "",

      async onChange(e) {
        let value = e.target.value;
        runInAction(() => (this.author_name = value));
        console.log("authorName  : " + value);
      },

      validation() {
        let msg =
          this.author_name === "" || this.author_name === null
            ? "Name cant be empty!"
            : false;
        return msg;
      },

      async submit() {
        let error_msg = this.validation();

        if (error_msg) {
          alert(error_msg);
        } else {
          await api("/api/authors", {
            authors: {
              author_name: this.author_name,
              author_id: this.author_id,
            },
            e: "Update",
          }).then((res) => {
            console.log(res);
            alert(res.res);
            navigate("/w-master-author");
          });
        }
      },
    }}
    run={async () => {
      let author = "";

      if (window.user.roleAdmin !== "admin") {
        navigate("/login-admin");
      } else if (params.id) {
        await api("/api/authors", {
          authors: {
            author_id: parseInt(params.id),
          },
          e: "ReadById",
        }).then((res) => {
          if (res.authors !== null) {
            author = res.authors;
          } else {
            navigate("/w-master-author");
          }
        });
      } else {
        navigate("/w-master-author");
      }

      runInAction(() => {
        if (author !== "") {
          meta.author_id = author.author_id;
          meta.author_name = author.author_name;
        }
      }); // console.log(author);
    }}
  />
  <div class={`w-full flex items-start justify-start`}>
    <div class={`w-full flex flex-1 self-stretch items-start justify-start`}>
      <w-sidebar
        class={`flex self-stretch flex-col space-y-20 items-center justify-start py-9 bg-gray-900`}
        style={"background-color: black"}
      />
      <div
        class={`w-full flex flex-1 self-stretch flex-col items-start justify-start pt-9 pb-8 bg-gray-100`}
      >
        <div
          class={`w-full flex flex-1 self-stretch flex-col space-y-9 items-start justify-start px-9`}
        >
          <div
            class={`flex self-stretch space-x-2.5 items-center justify-start`}
          >
            <div class="flex flex-1 items-start justify-start">
              <div class="text-3xl font-bold leading-10">Data Author</div>
            </div>
            <w-profile-admin />
          </div>
          <div
            class={`w-full flex self-stretch flex-col space-y-6 items-start justify-start bg-white rounded`}
          >
            <div class="flex self-stretch items-start justify-start p-6 bg-orange-300">
              <div class="text-base font-bold leading-normal text-gray-900">
                EDIT AUTHOR
              </div>
            </div>
            <div
              class={`w-full flex self-stretch flex-col space-y-6 items-start justify-start pl-16 pr-6 pb-6`}
            >
              <div
                class={`flex self-stretch space-x-4 items-center justify-start`}
                style={"margin-left:50px; margin-top:50px; margin-bottom:30px;"}
              >
                <div class="flex items-start justify-start">
                  <div class="text-base font-bold leading-normal">
                    Nama Author
                  </div>
                </div>
                <div
                  class={`flex flex-1 items-start justify-start px-4 py-2 border rounded border-black`}
                >
                  <input
                    class={"w-full"}
                    type="text"
                    placeholder="masukkan nama author"
                    style={`color: black;
      padding-left: 5px; 
      background:transparent; 
      outline: none;`}
                    value={meta.author_name}
                    onChange={(e) => {
                      meta.onChange(e);
                    }}
                  />
                </div>
              </div>
              <div
                class={`flex self-stretch space-x-4 items-center justify-start`}
                style={"margin-left:145px;"}
              >
                <div />
                <button
                  class={`flex items-start justify-start px-4 py-2 bg-blue-600 rounded`}
                  style={"background-color: #3B82F6;"}
                  onClick={meta.submit}
                >
                  <div class="text-base font-bold leading-normal text-white">
                    Simpan
                  </div>
                </button>
                <button
                  class={`flex items-start justify-start px-4 py-2 bg-red-600 rounded`}
                  onClick={() => {
                    navigate("/w-master-author");
                  }}
                >
                  <div class="text-base font-bold leading-normal text-white">
                    Batal
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>