<>
  <effect
    meta={{}}
    run={async () => {
      if (!!window.capacitor.PrivacyScreen) {
        window.capacitor.PrivacyScreen.disable();
      }

      setTimeout(function () {
        navigate("/m/splash-screen-2");
      }, 3000);
    }}
  />
  <div class={`flex flex-col items-start justify-start bg-white`}>
    <div
      class="flex flex-1 self-stretch flex-col items-center justify-end"
      style="height: 823px; min-height: 823px; max-height: 823px;background-image: url('/fimgs/bg-313f9b74052a9292146393889c9f47b79637d981');background-size:100% 100%;background-repeat:no-repeat;"
    >
      <div
        class={`flex flex-1 self-stretch flex-col items-center justify-center p-9 bg-black bg-opacity-50`}
        style={`backdrop-filter: blur(100px);`}
      >
        <img
          class={`flex flex-col items-start justify-start`}
          src="/fimgs/5375_13852.x1.svg"
          style="width: 186.42px; min-width: 186.42px; max-width: 186.42px; height: 155.35px; min-height: 155.35px; max-height: 155.35px;"
        />
      </div>
    </div>
  </div>
</>