<>
  <effect
    meta={{}}
    run={async () => {
      setTimeout(function () {
        navigate("/m/splash-screen-2");
      }, 3000);
    }}
  />
  <div class={`flex flex-col items-start justify-start bg-white`}>
    <div
      class="flex flex-1 self-stretch flex-col items-center justify-end"
      style="height: 823px; min-height: 823px; max-height: 823px;background-image: url('/fimgs/bg-ff2b4084986bd7da53995b9a752b9e5665e21788');background-size:100% 100%;background-repeat:no-repeat;"
    >
      <div
        class={`flex flex-1 self-stretch flex-col items-center justify-center p-9 bg-black bg-opacity-50`}
        style={`backdrop-filter: blur(20px);`}
      >
        <div
          class="flex flex-col items-center justify-center px-10 py-8 bg-white bg-opacity-30 rounded-3xl"
          style="width: 126px; min-width: 126px; max-width: 126px; height: 92px; min-height: 92px; max-height: 92px;"
        >
          <div class="text-base font-medium leading-normal text-white">
            LOGO
          </div>
        </div>
      </div>
    </div>
  </div>
</>