<>
  <effect
    meta={{
      async back() {
        navigate("/m/detail-book-page");
      },
    }}
    run={async () => {}}
  />
  <div class="flex self-stretch flex-col items-start justify-start bg-white">
    <div class="flex flex-1 self-stretch flex-col space-y-1 items-start justify-start">
      <div
        class={`flex self-stretch flex-col items-start justify-center px-6 pt-9 pb-4 bg-white shadow`}
      >
        <div class="flex self-stretch space-x-4 items-center justify-start">
          <div class="flex self-stretch items-center justify-start">
            <img
              src="/fimgs/1554_540928.x1.svg"
              class={`flex self-stretch items-center justify-start`}
              style={`width: 24px; min-width: 24px; max-width: 24px; height: 40px; min-height: 40px; max-height: 40px;`}
              onClick={meta.back}
            />
          </div>
          <div class="flex flex-1 items-center justify-start pb-2.5">
            <div class={`text-xl font-bold leading-loose`}>Komentar (20)</div>
          </div>
          <div />
        </div>
      </div>
      <div class="flex flex-1 self-stretch flex-col space-y-4 items-start justify-start px-6 pt-4">
        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-gray-200">
          <div class="flex flex-1 items-start justify-start p-2.5">
            <div class="text-xs leading-none">Add Comment...</div>
          </div>
          <div class="flex flex-col items-center justify-center">
            <div class="flex items-center justify-center bg-gray-100">
              <img
                src="/fimgs/1718_30652.x1.svg"
                class="flex items-start justify-start bg-white"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </div>
            <div class="flex items-start justify-start">
              <div class="text-xs font-medium leading-3 text-gray-500">
                0/500
              </div>
            </div>
          </div>
        </div>
        <div
          class={`flex flex-1 self-stretch flex-col space-y-2 items-start justify-start overflow-x-auto`}
        >
          <div class="flex self-stretch space-x-2.5 items-start justify-start pb-1 bg-white">
            <div class={`flex items-start justify-start p-2.5`}>
              <img
                class={`rounded-full h-24 w-24 `}
                style={`width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;background-image: url('/fimgs/bg-9a38e49e10277e6e852b4067665aec6e437bde6f');background-size:100% 100%;background-repeat:no-repeat;`}
                src="/fimgs/1718_127188.x1.png"
              />
            </div>
            <div class="flex flex-1 flex-col space-y-1.5 items-start justify-start">
              <div class="flex self-stretch space-x-2 items-center justify-start">
                <div class="flex items-start justify-start">
                  <div class="text-base font-bold leading-normal">Mayomee</div>
                </div>
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-xs font-bold leading-none text-gray-500">
                    March 30,2020
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class={`text-base leading-normal text-gray-800`}>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit
                  aliquet id feugiat facilisi feugiat. Odio tortor.
                </div>
              </div>
              <div class="flex self-stretch space-x-2 items-center justify-start">
                <div
                  class={`flex flex-1 items-center justify-center py-0.5 bg-gray-200`}
                  style={""}
                >
                  <div class="text-xs leading-none text-center">EDIT</div>
                </div>
                <div class="flex flex-1 items-center justify-center py-0.5 bg-gray-200">
                  <div class="text-xs leading-none text-center">DELETE</div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-2.5 items-start justify-start bg-white">
            <div
              src="/fimgs/1718_127188.x1.png"
              class={`flex items-start justify-start p-2.5`}
            >
              <img
                class={`rounded-full h-24 w-24`}
                src="/fimgs/I1718_44470_1718_127190.x1.png"
                style={`width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;background-image: url('/fimgs/bg-9a38e49e10277e6e852b4067665aec6e437bde6f');background-size:100% 100%;background-repeat:no-repeat;`}
              />
            </div>
            <div class="flex flex-1 flex-col space-y-1.5 items-start justify-start">
              <div class="flex self-stretch space-x-2 items-center justify-start">
                <div class="flex items-start justify-start">
                  <div class="text-base font-bold leading-normal">
                    Nida Zahra
                  </div>
                </div>
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-xs font-bold leading-none text-gray-500">
                    March 17, 2020
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-base leading-normal text-gray-800">
                  Pertama tama,senyum dulu dooong kak....nah begitu..oke
                  sip..lanjut...
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-2.5 items-start justify-start bg-white">
            <div class={`flex items-start justify-start p-2.5`}>
              <img
                class={`rounded-full h-24 w-24`}
                src="/fimgs/I1718_44956_1718_127190.x1.png"
                style={`width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;background-image: url('/fimgs/bg-9a38e49e10277e6e852b4067665aec6e437bde6f');background-size:100% 100%;background-repeat:no-repeat;`}
              />
            </div>
            <div class="flex flex-1 flex-col space-y-1.5 items-start justify-start">
              <div class="flex self-stretch space-x-2 items-center justify-start">
                <div class="flex items-start justify-start">
                  <div class="text-base font-bold leading-normal">
                    Nida Zahra
                  </div>
                </div>
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-xs font-bold leading-none text-gray-500">
                    March 17, 2020
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-base leading-normal text-gray-800">
                  Pertama tama,senyum dulu dooong kak....nah begitu..oke
                  sip..lanjut...
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-2.5 items-start justify-start bg-white">
            <div class={`flex items-start justify-start p-2.5`}>
              <img
                class={`rounded-full h-24 w-24`}
                src="/fimgs/I1718_45157_1718_127190.x1.png"
                style={`width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;background-image: url('/fimgs/bg-9a38e49e10277e6e852b4067665aec6e437bde6f');background-size:100% 100%;background-repeat:no-repeat;`}
              />
            </div>
            <div class="flex flex-1 flex-col space-y-1.5 items-start justify-start">
              <div class="flex self-stretch space-x-2 items-center justify-start">
                <div class="flex items-start justify-start">
                  <div class="text-base font-bold leading-normal">
                    Nida Zahra
                  </div>
                </div>
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-xs font-bold leading-none text-gray-500">
                    March 17, 2020
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-base leading-normal text-gray-800">
                  Pertama tama,senyum dulu dooong kak....nah begitu..oke
                  sip..lanjut...
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch space-x-2.5 items-start justify-start bg-white">
            <div class={`flex items-start justify-start p-2.5`}>
              <img
                class={`rounded-full h-24 w-24`}
                src="/fimgs/I1718_45358_1718_127190.x1.png"
                style={`width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;background-image: url('/fimgs/bg-9a38e49e10277e6e852b4067665aec6e437bde6f');background-size:100% 100%;background-repeat:no-repeat;`}
              />
            </div>
            <div class="flex flex-1 flex-col space-y-1.5 items-start justify-start">
              <div class="flex self-stretch space-x-2 items-center justify-start">
                <div class="flex items-start justify-start">
                  <div class="text-base font-bold leading-normal">
                    Nida Zahra
                  </div>
                </div>
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-xs font-bold leading-none text-gray-500">
                    March 17, 2020
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-base leading-normal text-gray-800">
                  Pertama tama,senyum dulu dooong kak....nah begitu..oke
                  sip..lanjut...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>