<>
  <effect
    meta={{
      user_email: "",

      async onChange(key, e) {
        let value = e.target.value;
        runInAction(() => (this[key] = value));
        console.log(key + " : " + value);
      },

      validation() {
        let msg =
          this.user_email === "" || this.user_email === null
            ? "Email cant be empty!"
            : !validateEmail(this.user_email)
            ? "Invalid email! (abc@xyz.com)"
            : false; // console.log(msg);

        return msg;
      },

      async submit() {
        let error_msg = this.validation();

        if (error_msg) {
          window.mobileApp.app.dialog.alert(null, error_msg);
        } else {
          const random_token = Math.floor(100000 + Math.random() * 900000);
          user = {
            user_email: this.user_email,
          };
          api("/api/api-users", {
            users: { ...user },
            e: "FindEmail",
          }).then((res) => {
            if (res.users === null) {
              window.mobileApp.app.dialog.alert(null, "Email not registered!");
            } else {
              window.mobileApp.app.dialog.preloader(); // console.log(user);

              user = {
                user_id: res.users.user_id,
                user_forgot_token: random_token.toString(),
              };
              api("/api/api-users", {
                users: { ...user },
                e: "SetForgotToken",
              }).then((res) => {
                console.log(res);
                setTimeout(function () {
                  window.mobileApp.app.dialog.close();
                }, 1000);
                window.user = {
                  role: "guest",
                  user: res.users,
                };
                navigate("/m/verification-code");
              });
            }
          });
        }
      },
    }}
    run={async () => {}}
  />
  <div
    class={`flex self-stretch flex-col items-start justify-start bg-white w-full h-full`}
  >
    <div
      class="flex flex-1 self-stretch flex-col items-center justify-center"
      style="background-image: url('/fimgs/bg-f558037e16951308ea624af3363769bf064e6bba');background-size:100% 100%;background-repeat:no-repeat;"
    >
      <div
        class={`flex flex-1 self-stretch flex-col space-y-12 items-center justify-center px-9 pt-6 pb-16 bg-black bg-opacity-50`}
        style={`backdrop-filter: blur(100px);`}
      >
        <div
          class="flex self-stretch flex-col space-y-2 items-center justify-center"
          style="height: 107px; min-height: 107px; max-height: 107px;"
        >
          <div
            class="text-3xl font-bold leading-10 text-center text-white"
            style="height: 45px; min-height: 45px; max-height: 45px;"
          >
            Forgot password
          </div>
          <div
            class="text-lg font-medium leading-relaxed text-center text-white"
            style="height: 54px; min-height: 54px; max-height: 54px;"
          >
            Enter your email below to receive your password reset instructions.
          </div>
        </div>
        <div
          class={`flex self-stretch flex-col space-y-8 items-start justify-start`}
          style={`height: 152px; min-height: 152px; max-height: 152px;`}
        >
          <m-list
            class={`flex self-stretch flex-col items-start justify-start list-none`}
          >
            <div
              class={`flex self-stretch flex-col items-start justify-start border rounded border-white`}
            >
              <input-new-white
                label={"Email"}
                type={"email"}
                class="w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "white",
                }}
                style={`color: white; 
      background:transparent; 
      border-radius: 5px !important;`}
                value={meta.user_email}
                onChange={(e) => {
                  meta.onChange("user_email", e);
                }}
              />
            </div>
          </m-list>
          <btn-primary
            class={`flex flex-col items-center justify-center py-1.5 pl-4 pr-6 bg-amber-500 rounded rounded-md`}
            style="height: 60px; min-height: 60px; max-height: 60px; background-color: #FF8F00"
            type={"submit"}
            onClick={meta.submit}
          >
            Confirm Mail
          </btn-primary>
        </div>
      </div>
    </div>
  </div>
</>