<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex self-stretch flex-col items-start justify-start bg-white">
    <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start p-6">
      <div class="flex self-stretch space-x-2.5 items-start justify-start">
        <ficon
          aria-label="CircleFill"
          iconName="CircleFill"
          style="font-size:25px; color:orange;"
        >
          <div class="bg-amber-500 rounded-full" />
        </ficon>
        <div class="flex flex-1 items-center justify-end">
          <div class="text-2xl font-bold leading-9 text-right text-amber-500">
            INVOICE
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2.5 items-start justify-start p-4 bg-gray-50 rounded">
        <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
          <div class="flex self-stretch items-start justify-center">
            <div class="text-xs leading-none text-center text-gray-600">
              MEMBERSHIP
            </div>
          </div>
          <div
            class={`flex self-stretch items-center justify-center`}
            style="border-bottom: 1px solid #dfe6e9;"
          >
            <div class="text-xl font-bold leading-loose text-center text-gray-900">
              Premium-Bibliomania
            </div>
          </div>
        </div>
        <div class="flex self-stretch space-x-2.5 items-start justify-start">
          <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs leading-none text-gray-600">
                REMAINING DAYS
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-base font-bold leading-normal">7 Days</div>
            </div>
          </div>
          <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs leading-none text-gray-600">6 MONTH</div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-base font-bold leading-normal">
                IDR 450,000.00
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
        <div class="flex self-stretch items-start justify-start">
          <div class="text-base font-bold leading-normal">Profile</div>
        </div>
        <div class="flex self-stretch flex-col space-y-4 items-end justify-center p-4 bg-gray-50 rounded">
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs leading-none">NAME :</div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs font-bold leading-none">Andi Pamungkas</div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs leading-none">EMAIL :</div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs font-bold leading-none">
                andipamungkas@gmail.com
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
        <div class="flex self-stretch items-start justify-start">
          <div class="text-base font-bold leading-normal">
            Last payment details
          </div>
        </div>
        <div class="flex self-stretch flex-col items-end justify-center p-4 bg-gray-50 rounded">
          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
            <div class="flex self-stretch space-x-9 items-start justify-start">
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs leading-none">DATE</div>
              </div>
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs font-bold leading-none">March 23, 2021</div>
              </div>
            </div>
            <div
              class={`flex self-stretch space-x-9 items-start justify-start`}
              style="padding-bottom:5px; border-bottom: 1px solid #dfe6e9;"
            >
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs leading-none">ITEM NAME</div>
              </div>
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs font-bold leading-none">Bibliomania</div>
              </div>
            </div>
            <div class="flex self-stretch space-x-9 items-start justify-start">
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs leading-none">START DATE</div>
              </div>
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs font-bold leading-none">March, 21 2021</div>
              </div>
            </div>
            <div
              class={`flex self-stretch space-x-9 items-start justify-start`}
              style="padding-bottom:5px; border-bottom: 1px solid #dfe6e9;"
            >
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs leading-none">END DATE</div>
              </div>
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs font-bold leading-none">March, 21 2021</div>
              </div>
            </div>
            <div class="flex self-stretch space-x-9 items-start justify-start">
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs leading-none">AMOUNT TOTAL</div>
              </div>
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs font-bold leading-none">IDR450.000,00</div>
              </div>
            </div>
            <div class="flex self-stretch space-x-9 items-start justify-start">
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs leading-none">PAYMENT METHOD</div>
              </div>
              <img
                src="/fimgs/4544_14828.x1.png"
                class="flex flex-1 flex-col items-start justify-center"
                style="width: 147.50px; min-width: 147.50px; max-width: 147.50px; height: 21px; min-height: 21px; max-height: 21px;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>