<>
  <effect meta={{}} run={async () => {}} />
  <div class={`flex items-start justify-start bg-white`}>
    <div
      class={`flex flex-1 self-stretch flex-col items-center justify-start bg-white w-full`}
    >
      <div
        class={`flex self-stretch space-x-4 items-center justify-start px-6 py-3 bg-white bg-opacity-30 shadow fixed w-full`}
        style="backdrop-filter: blur(30px);"
      >
        <div class="flex flex-1 flex-col items-start justify-start">
          <img
            src="/fimgs/5460_15253.x1.svg"
            class="flex items-start justify-start"
            style="width: 86px; min-width: 86px; max-width: 86px; height: 39px; min-height: 39px; max-height: 39px;"
          />
        </div>
        <button
          class="flex items-center justify-center px-3 py-1 bg-amber-500 shadow rounded"
          style="width: 104px; min-width: 104px; max-width: 104px;"
        >
          <div class="text-base font-bold leading-normal text-white">
            Contact Us
          </div>
        </button>
        <div class="flex flex-col items-center justify-center">
          <ficon
            class={`flex flex-col items-center justify-center`}
            aria-label="CollapseMenu"
            iconName="CollapseMenu"
            style="font-size:30px; color:black;"
          >
            <div class="bg-pink-900 bg-opacity-50 border border-black" />
          </ficon>
        </div>
      </div>
      <div
        class={`flex self-stretch items-center justify-start`}
        style={`background-image: url('/fimgs/bg-aa10d69746143188317c9268fffd9545d0b60190');background-size:100% 100%;background-repeat:no-repeat; margin-top: 63px;`}
      >
        <div
          class={`flex flex-1 flex-col space-y-9 items-center justify-start px-6 py-9 bg-amber-500 bg-opacity-30`}
          style="backdrop-filter: blur(30px);"
        >
          <div class="flex self-stretch flex-col space-y-4 items-center justify-start">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch items-start justify-center">
                <div class="text-3xl font-bold leading-10 text-center">
                  Introducing you a shopisticated way to read book without any
                  hassle
                </div>
              </div>
              <div class="flex self-stretch items-start justify-center px-6">
                <div class="text-base leading-normal text-center text-white">
                  Bring unlimited book with you wherever you go with Pyri
                </div>
              </div>
            </div>
            <button
              class="flex items-center justify-center px-3 py-1 bg-black shadow rounded"
              style="width: 154px; min-width: 154px; max-width: 154px;"
            >
              <div class="text-base font-bold leading-normal text-white">
                Download Now
              </div>
            </button>
          </div>
          <img
            src="/fimgs/5460_15271.x1.svg"
            class="flex flex-col items-center justify-center"
            style="width: 232.94px; min-width: 232.94px; max-width: 232.94px; height: 209px; min-height: 209px; max-height: 209px;"
          />
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-center justify-start p-6 bg-orange-50">
        <div class="flex self-stretch flex-col items-center justify-start">
          <div class="text-2xl font-bold leading-9 text-center">
            Why choose pyri?
          </div>
        </div>
        <img
          src="/fimgs/5547_15105.x1.svg"
          class="flex items-center justify-center"
          style="width: 238.68px; min-width: 238.68px; max-width: 238.68px; height: 241px; min-height: 241px; max-height: 241px;"
        />
        <div class="flex self-stretch flex-col space-y-4 items-center justify-start">
          <div class="flex self-stretch flex-col space-y-2 items-center justify-start p-4">
            <img
              src="/fimgs/5462_16676.x1.svg"
              style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;"
            />
            <div class="flex self-stretch items-start justify-center">
              <div class="text-base leading-normal text-center">
                Pyri understands you. Read more books that match your tastes
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-2 items-center justify-start p-4">
            <img
              src="/fimgs/5462_16695.x1.svg"
              style="width: 50.72px; min-width: 50.72px; max-width: 50.72px; height: 48px; min-height: 48px; max-height: 48px;"
            />
            <div class="flex self-stretch items-start justify-center">
              <div class="text-base leading-normal text-center">
                Explore interesting books by select genre or category you loved
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-2 items-center justify-start p-4">
            <img
              src="/fimgs/5462_16703.x1.svg"
              style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;"
            />
            <div class="flex self-stretch items-start justify-center">
              <div class="text-base leading-normal text-center">
                Has a lot of books you want to read at a time ? Then why not to
                save it for later
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-2 items-center justify-start p-4">
            <img
              src="/fimgs/5462_16710.x1.svg"
              style="width: 48px; min-width: 48px; max-width: 48px; height: 48px; min-height: 48px; max-height: 48px;"
            />
            <div class="flex self-stretch items-start justify-center">
              <div class="text-base leading-normal text-center">
                There is no need to worry about payment issue. Pyri use an easy
                & secure payment tech
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-9 items-center justify-start px-6 py-12">
        <div class="flex self-stretch flex-col space-y-2 items-center justify-start">
          <div class="flex self-stretch items-start justify-center">
            <div class="text-2xl font-bold leading-9 text-center">
              Read as much as you want without limitation
            </div>
          </div>
          <div class="flex self-stretch items-start justify-center">
            <div class="text-base leading-normal text-center text-gray-600">
              Unlock the experience of accessing unlimited book with Pyri
            </div>
          </div>
        </div>
        <div
          class={`flex self-stretch space-x-4 items-start justify-center overflow-x-auto shrink-0`}
        >
          <div
            class="flex flex-col space-y-4 items-center justify-start px-1 py-6 bg-white shadow border rounded-2xl border-gray-300"
            style="width: 217.33px; min-width: 217.33px; max-width: 217.33px; height: 340px; min-height: 340px; max-height: 340px;"
          >
            <div class="flex flex-col space-y-2 items-start justify-start">
              <div />
              <div class="flex items-center justify-center">
                <div class="text-lg font-bold leading-relaxed text-center text-amber-500">
                  Bibliophile
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-start">
              <div class="text-base font-bold leading-normal text-center">
                1 Month
              </div>
              <div class="flex items-center justify-center">
                <div class="flex flex-1 items-center justify-center">
                  <div class="flex items-start justify-start">
                    <div class="text-base font-bold leading-normal text-center">
                      IDR60,00.00/
                    </div>
                  </div>
                  <div class="flex items-start justify-start">
                    <div class="text-xs leading-none text-center text-gray-600">
                      month
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 flex-col items-center justify-end p-2.5">
              <button
                class={`flex items-center justify-center px-4 py-2 bg-white shadow border rounded-full border-amber-500`}
                style=":active {background-color:#f0932b;}"
              >
                <div
                  class={`text-sm font-bold leading-none text-amber-500`}
                  style=":active {color: #ffffff !important; }"
                >
                  Try Now
                </div>
              </button>
            </div>
          </div>
          <div
            class="flex flex-col space-y-4 items-center justify-center px-1 py-6 bg-white shadow border rounded-2xl border-gray-300"
            style="width: 217.33px; min-width: 217.33px; max-width: 217.33px; height: 340px; min-height: 340px; max-height: 340px;"
          >
            <div class="flex flex-col space-y-2 items-center justify-center">
              <div class="flex flex-col items-center justify-start">
                <div class="flex items-start justify-start px-2.5 py-0.5 bg-gradient-to-r from-red-600 via-amber-500 to-orange-600 shadow rounded">
                  <div class="text-sm font-bold leading-tight text-white">
                    Best value
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-center">
                <div class="text-lg font-bold leading-relaxed text-center text-amber-500">
                  Bibliomania
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-center justify-start">
              <div class="flex flex-col items-center justify-center">
                <div class="text-base font-bold leading-normal text-center">
                  1 Year
                </div>
              </div>
              <div class="flex flex-col space-y-1 items-center justify-start">
                <div class="flex self-stretch items-end justify-center">
                  <div class="flex items-start justify-start">
                    <div class="text-base font-bold leading-normal text-center">
                      IDR45,00.00/
                    </div>
                  </div>
                  <div class="flex items-start justify-start">
                    <div class="text-xs leading-none text-center text-gray-600">
                      month
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch items-start justify-center`}
                  style="margin-top:20px !important;"
                >
                  <div class="text-xs leading-none text-center text-gray-600">
                    Billed annually at
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-center">
                  <div class="flex items-start justify-start">
                    <div class="text-base font-medium leading-normal text-center text-gray-900">
                      IDR540,00.00/
                    </div>
                  </div>
                  <div class="flex items-start justify-start">
                    <div class="text-sm leading-tight text-center text-gray-600">
                      year
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 flex-col items-center justify-end p-2.5">
              <button
                class={`flex items-center justify-center px-4 py-2 bg-white shadow border rounded-full border-amber-500`}
                style=":active {background-color:#f0932b;}"
              >
                <div
                  class={`text-sm font-bold leading-none text-amber-500`}
                  style=":active {color: #ffffff !important; }"
                >
                  Try Now
                </div>
              </button>
            </div>
          </div>
          <div
            class="flex flex-col space-y-4 items-center justify-start px-1 py-6 bg-white shadow border rounded-2xl border-gray-300"
            style="width: 217.33px; min-width: 217.33px; max-width: 217.33px; height: 340px; min-height: 340px; max-height: 340px;"
          >
            <div class="flex flex-col space-y-2 items-start justify-start">
              <div />
              <div class="flex items-center justify-center">
                <div class="text-lg font-bold leading-relaxed text-center text-amber-500">
                  Bibliognost
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-center justify-start">
              <div class="flex flex-col items-center justify-center">
                <div class="text-base font-bold leading-normal text-right">
                  6 Months
                </div>
              </div>
              <div class="flex flex-col space-y-1 items-center justify-start">
                <div class="flex self-stretch items-end justify-center">
                  <div class="flex items-start justify-start">
                    <div class="text-base font-bold leading-normal text-center">
                      IDR54,00.00/
                    </div>
                  </div>
                  <div class="flex items-start justify-start">
                    <div class="text-xs leading-none text-center text-gray-600">
                      month
                    </div>
                  </div>
                </div>
                <div
                  class={`flex self-stretch items-start justify-center`}
                  style="margin-top:20px !important;"
                >
                  <div class="text-xs leading-none text-center text-gray-600">
                    Billed bi-annually at
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-center">
                  <div class="flex items-start justify-start">
                    <div class="text-base font-medium leading-normal text-center text-gray-900">
                      IDR324,00.00/
                    </div>
                  </div>
                  <div class="flex items-start justify-start">
                    <div class="text-sm leading-tight text-center text-gray-600">
                      6 month
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 flex-col items-center justify-end p-2.5">
              <button
                class={`flex items-center justify-center px-4 py-2 bg-white shadow border rounded-full border-amber-500`}
                style=":active {background-color:#f0932b;}"
              >
                <div
                  class={`text-sm font-bold leading-none text-amber-500`}
                  style=":active {color: #ffffff !important; }"
                >
                  Try Now
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-center justify-start p-6 bg-gray-100">
        <div class="flex space-x-6 items-center justify-start">
          <img src="/fimgs/5462_16729.x1.png" />
          <img src="/fimgs/5460_15573.x1.png" />
          <img src="/fimgs/5462_16730.x1.png" />
          <img src="/fimgs/5462_16731.x1.png" />
        </div>
      </div>
      <div class="flex self-stretch flex-col items-center justify-start p-6">
        <div
          class="flex self-stretch items-center justify-center rounded-2xl"
          style="background-image: url('/fimgs/bg-620ce6814beb77655836e4a2597192c88466695d');background-repeat: repeat;"
        >
          <div
            class={`flex flex-1 flex-col space-y-4 items-center justify-center p-4 bg-white bg-opacity-30`}
            style="border-radius:15px; backdrop-filter: blur(30px);"
          >
            <div class="flex self-stretch items-start justify-center">
              <div class="text-xl font-bold leading-loose text-center">
                Download the Pyri app now!
              </div>
            </div>
            <button
              class="flex items-center justify-center px-3 py-1 bg-black shadow rounded"
              style="width: 154px; min-width: 154px; max-width: 154px;"
            >
              <div class="text-base font-bold leading-normal text-white">
                Download Now
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2 items-start justify-start p-6 bg-gray-900">
        <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
            <img
              src="/fimgs/5460_15590.x1.svg"
              class="flex items-start justify-start"
              style="width: 92px; min-width: 92px; max-width: 92px; height: 41px; min-height: 41px; max-height: 41px;"
            />
            <div class="flex self-stretch items-start justify-start">
              <div class="text-base leading-normal text-gray-300">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
                ullamcorper dignissim amet pellentesque risus leo blandit varius
                neque. Libero tellus massa mattis euismod blandit tincidunt
                consectetur ultrices massa. Ut phasellus arcu lectus sed ut.{" "}
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
            <div class="flex items-start justify-start">
              <div class="text-2xl font-bold leading-9 text-white">
                Get In Touch
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-center justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-base leading-normal text-gray-300">
                  BUMI MANDIRI TOWER 2, Level 12 JL. Panglima Sudirman Kav 66-68
                  Surabaya, East Java 60271 , Indonesia
                </div>
              </div>
              <div class="flex self-stretch space-x-2 items-start justify-start">
                <div
                  class="flex items-start justify-start"
                  style="width: 117px; min-width: 117px; max-width: 117px;"
                >
                  <div class="text-base leading-normal text-gray-300">
                    Phone
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <div class="text-base leading-normal text-gray-300">
                    0982183134
                  </div>
                </div>
              </div>
              <div class="flex self-stretch space-x-2 items-start justify-start">
                <div
                  class="flex items-start justify-start"
                  style="width: 115px; min-width: 115px; max-width: 115px;"
                >
                  <div class="text-base leading-normal text-gray-300">
                    E-mail
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <div class="text-base leading-normal text-gray-300">
                    pyri@gmail.com
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class={`flex self-stretch items-center justify-center`}
          style="margin-top:30px!important; padding-top: 15px; border-top: 1px solid rgb(223, 230, 233, 0.5);"
        >
          <div class="text-xs leading-none text-center text-gray-500">
            Copyright © 2021 Pyri
          </div>
        </div>
      </div>
    </div>
  </div>
</>