<>
  <effect
    meta={{
      user_id: "",
      user_name: "",
      user_email: "",
      user_password: "",
      user_gender: "",
      user_birthday: "",
      user_forgot_token: "-",
      user_membership_status: "NonActive",
      user_level: false,
      user_date_created: "",
      user_note: null,
      user: [],

      async onChange(key, e) {
        let value = e.target.value;
        runInAction(() => (this[key] = value));
        console.log(key + " : " + value);
      },
    }}
    run={async () => {
      const res = await api("/api/users");
      runInAction(() => {
        user = res.user[0];
        meta.user_id = user.user_id;
        meta.user_name = user.user_name;
        meta.user_email = user.user_email;
        meta.user_password = user.user_password;
        meta.user_gender = user.user_gender;
        meta.user_birthday = user.user_birthday;
        meta.user_forgot_token = user.user_forgot_token;
        meta.user_membership_status = user.user_membership_status;
        meta.user_level = user.user_level;
        meta.user_date_created = user.user_date_created;
        meta.user_note = user.user_note;
      });
      console.log(meta.user);
    }}
  />
  <div class="flex flex-col items-start justify-start bg-white">
    <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
      <titlebar-back
        class={`flex self-stretch flex-col items-start justify-start px-6 pt-9 pb-4 bg-white shadow`}
      />
      <div class="flex self-stretch flex-col space-y-8 items-start justify-start px-6">
        <div class="flex self-stretch flex-col space-y-2.5 items-center justify-center py-2">
          <img src="/fimgs/855_10873.x1.svg" />
          <div class="flex items-start justify-start px-2 py-0.5 border rounded border-trueGray-600">
            <div class="text-xs font-medium leading-none text-center text-trueGray-600">
              Change photo
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
          <div
            class={`flex self-stretch items-start justify-start`}
            style={"margin-bottom: 10px"}
          >
            <div class="text-base font-bold leading-normal">Pyri Account</div>
          </div>
          <m-list
            class={`flex self-stretch flex-col space-y-2 items-start justify-start list-none`}
          >
            <div class="flex self-stretch flex-col items-start justify-start border border-gray-300">
              <input-new
                label={"Full Name"}
                type={"text"}
                class="w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "white",
                }}
                style={`color:white; 
    background:transparent; 
    border-radius: 5px !important;`}
                value={meta.user_name}
                onChange={(e) => meta.onChange("user_name", e)}
              />
            </div>
            <div
              class={`flex self-stretch flex-col items-start justify-start border border-gray-300`}
            >
              <input-new
                label={"Email"}
                type={"email"}
                class="w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "white",
                }}
                style={`color:white; 
    background:transparent; 
    border-radius: 5px !important;`}
                value={meta.user_email}
                onChange={(e) => meta.onChange("user_email", e)}
              />
            </div>
            <div class="flex self-stretch flex-col items-start justify-start border border-gray-300">
              <input-dropdown
                label={"Gender"}
                type={"select"}
                class="w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "black",
                }}
                style={
                  "color:black; background:transparent; border-radius: 5px !important; "
                }
                value={meta.user_gender}
                onChange={(e) => meta.onChange("user_gender", e)}
              >
                option
              </input-dropdown>
            </div>
            <div class="flex self-stretch flex-col items-start justify-start border border-gray-300">
              <input-datepicker
                label={"Birthday"}
                type={"datepicker"}
                class="w-full "
                floatingLabel={true}
                clearButton={true}
                required={true}
                inputStyle={{
                  color: "black",
                }}
                style={
                  "color:black; background:transparent; border-radius: 5px !important; "
                }
                calendarParams={{
                  openIn: "customModal",
                  header: true,
                  footer: true,
                  dateFormat: "dd MM yyyy",
                }}
                readonly={true}
              />
            </div>
            <div class="flex self-stretch flex-col items-start justify-start border border-gray-300">
              <input-new
                label={"Password"}
                type={"password"}
                class="w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "white",
                }}
                style={`color:white; 
    background:transparent; 
    border-radius: 5px !important;`}
                value={meta.user_password}
                onChange={(e) => meta.onChange("user_password", e)}
              />
            </div>
          </m-list>
        </div>
        <btn-primary
          class={`flex self-stretch flex-col items-center justify-center py-1.5 pl-4 pr-6 bg-amber-500 rounded rounded-md`}
          style="height: 60px; min-height: 60px; max-height: 60px; background-color: #FF8F00"
          type={"submit"}
          onClick={() => {
            navigate("/m/profile-page");
          }}
        >
          Save
        </btn-primary>
      </div>
    </div>
  </div>
</>