<>
  <effect
    meta={{
      user_id: "",
      user_name: "",
      user_email: "",
      user_password: "",
      user_gender: "",
      user_birthday: "",
      user_forgot_token: "-",
      user_membership_status: "NonActive",
      user_level: false,
      user_date_created: "",
      user_note: null,
      user_old_password: "",
      user: [],
      pass_type: "password",
      max_date: new Date(new Date().setFullYear(new Date().getFullYear() - 12)),

      async showHidePass() {
        this.pass_type === "password"
          ? (this.pass_type = "text")
          : (this.pass_type = "password");
      },

      async onChange(key, e) {
        let value = e.target.value;
        runInAction(() => (this[key] = value));
        console.log(key + " : " + value);
      },

      async onChangeDate(key, value) {
        // let value = new Date(e);
        runInAction(() => (this[key] = value));
        console.log(key + " : " + value);
      },

      validation() {
        let msg =
          this.user_name === "" || this.user_name === null
            ? "Name cant be empty!"
            : this.user_email === "" || this.user_email === null
            ? "Email cant be empty!"
            : !validateEmail(this.user_email)
            ? "Invalid email! (abc@xyz.com)"
            : this.user_gender === "" || this.user_gender === null
            ? "Please select your gender!"
            : this.user_birthday == [] || this.user_birthday == null
            ? "Please select your birthdate!"
            : this.max_date <= new Date(this.user_birthday)
            ? "Please reselect your birthdate! 12 Years old++."
            : this.user_password === "" || this.user_password === null
            ? "Enter your current password to confirm!"
            : this.user_old_password !== encrypt(this.user_password)
            ? "Your current password was entered incorrectly!"
            : false; // console.log(msg);

        return msg;
      },

      async submit() {
        let updateuser = {};
        let error_msg = this.validation();

        if (error_msg) {
          window.mobileApp.app.dialog.alert(null, error_msg);
        } else {
          window.mobileApp.app.dialog.confirm(
            "Confirm Update ?",
            "Alert",
            () => {
              updateuser = {
                user_id: this.user_id,
                user_name: this.user_name,
                user_email: this.user_email,
                user_password: encrypt(this.user_password),
                user_gender: this.user_gender,
                user_birthday: new Date(this.user_birthday),
                user_forgot_token: this.user_forgot_token,
                user_membership_status: this.user_membership_status,
                user_level: this.user_level,
                user_date_created: this.user_date_created,
                user_note: this.user_note,
              };
              api("/api/crud-user", {
                users: { ...updateuser },
                e: "Update",
              }).then((res) => {
                if (res === null) {
                  window.mobileApp.app.dialog.alert(
                    null,
                    "Database insert Failed!"
                  );
                } else {
                  console.log(res);
                  window.user = {
                    role: "users",
                    user: res.users,
                  };
                  navigate("/m/edit-profile");
                }
              }); // console.log(updateuser);
            }
          );
        }
      },
    }}
    run={async () => {
      // const res = await api("/api/crud-user", {
      //   users: "ReadMany",
      //   e: "ReadMany",
      // });
      runInAction(() => {
        user = window.user.user || [];

        if (user.role !== "guest") {
          meta.user_id = user.user_id;
          meta.user_name = user.user_name;
          meta.user_email = user.user_email;
          meta.user_old_password = user.user_password;
          meta.user_gender = user.user_gender;
          meta.user_birthday = [user.user_birthday] || [];
          meta.user_forgot_token = user.user_forgot_token;
          meta.user_membership_status = user.user_membership_status;
          meta.user_level = user.user_level;
          meta.user_date_created = user.user_date_created;
          meta.user_note = user.user_note;
        }
      });
      console.log(user); // console.log(res);
    }}
  />
  <div class="flex flex-col items-start justify-start bg-white">
    <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
      <titlebar-back
        class={`flex self-stretch flex-col items-start justify-start px-6 pt-9 pb-4 bg-white shadow`}
      />
      <div class="flex self-stretch flex-col space-y-8 items-start justify-start px-6">
        <div class="flex self-stretch flex-col space-y-2.5 items-center justify-center py-2">
          <img src="/fimgs/855_10873.x1.svg" />
          <div class="flex items-start justify-start px-2 py-0.5 border rounded border-trueGray-600">
            <div class="text-xs font-medium leading-none text-center text-trueGray-600">
              Change photo
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
          <div
            class={`flex self-stretch items-start justify-start`}
            style={"margin-bottom: 10px"}
          >
            <div class="text-base font-bold leading-normal">Pyri Account</div>
          </div>
          <m-list
            class={`flex self-stretch flex-col space-y-2 items-start justify-start list-none`}
          >
            <div class="flex self-stretch flex-col items-start justify-start border border-gray-300">
              <input-new
                label={"Full Name"}
                type={"text"}
                class="[class] w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "white",
                }}
                style={`color:white; 
    background:transparent; 
    border-radius: 5px !important;`}
                value={meta.user_name}
                onChange={(e) => meta.onChange("user_name", e)}
              />
            </div>
            <div
              class={`flex self-stretch flex-col items-start justify-start border border-gray-300`}
            >
              <input-new
                label={"Email"}
                type={"email"}
                class="[class] w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "white",
                }}
                style={`color:white; 
    background:transparent; 
    border-radius: 5px !important;`}
                value={meta.user_email}
                onChange={(e) => meta.onChange("user_email", e)}
              />
            </div>
            <div class="flex self-stretch flex-col items-start justify-start border border-gray-300">
              <input-dropdown
                label={"Gender"}
                type={"select"}
                class="w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "black",
                }}
                style={
                  "color:black; background:transparent; border-radius: 5px !important; "
                }
                value={meta.user_gender}
                onChange={(e) => meta.onChange("user_gender", e)}
              >
                option
              </input-dropdown>
            </div>
            <div class="flex self-stretch flex-col items-start justify-start border border-gray-300">
              <m-list-input
                label={"Birth Date"}
                type={"datepicker"}
                class="w-full "
                floatingLabel={true}
                clearButton={true}
                required={true}
                inputStyle={{
                  color: "black",
                }}
                style={`color: black; 
      background:transparent; 
      border-radius: 5px !important;`}
                calendarParams={{
                  openIn: "customModal",
                  closeOnSelect: true,
                  yearPickerMax: new Date().getFullYear(),
                  yearPickerMin: new Date().getFullYear() - 51,
                  // maxDate: new Date().setFullYear(new Date().getFullYear() - 12),
                  dateFormat: "dd MM yyyy",
                  on: {
                    dayClick: function (calendar, dayEl, year, month, day) {
                      var value = [year + "-" + (month + 1) + "-" + (day + 1)];
                      meta.onChangeDate("user_birthday", value); // console.log(validateDate(value));
                    },
                  },
                }}
                value={meta.user_birthday}
              />
            </div>
            <div class="flex self-stretch items-start justify-start border border-gray-300">
              <input-new
                label={"Current Password"}
                type={meta.pass_type}
                class="w-full "
                floatingLabel={true}
                required={true}
                inputStyle={{
                  color: "white",
                }}
                style={`color:white; 
    background:transparent; 
    border-radius: 5px !important;`}
                value={meta.user_password}
                onChange={(e) => meta.onChange("user_password", e)}
              />
              <div
                class={`flex flex-1 self-stretch flex-col items-start justify-center pt-4`}
                style={`width: 30px; min-width: 30px; max-width: 30px; height: 60px; min-height: 60px; max-height: 60px;`}
              >
                <img
                  src="/fimgs/1080_185085.x1.svg"
                  class={`flex flex-col items-center justify-center`}
                  style={`width: 22px; min-width: 22px; max-width: 22px; height: 15px; min-height: 15px; max-height: 15px;`}
                  onClick={() => {
                    meta.showHidePass();
                  }}
                />
              </div>
            </div>
          </m-list>
        </div>
        <btn-primary
          class={`flex self-stretch flex-col items-center justify-center py-1.5 pl-4 pr-6 bg-amber-500 rounded rounded-md`}
          style="height: 60px; min-height: 60px; max-height: 60px; background-color: #FF8F00"
          type={"submit"}
          onClick={meta.submit}
        >
          Save
        </btn-primary>
      </div>
    </div>
  </div>
</>