<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-white">
    <div class="flex self-stretch flex-col space-y-8 items-start justify-start px-6 pt-9 pb-6">
      <div class="flex self-stretch items-center justify-start">
        <div class="flex items-center justify-center">
          <div />
        </div>
        <div class="flex flex-1 items-center justify-start pl-20 pr-10">
          <div class="text-2xl font-bold leading-9 text-center text-gray-800">
            Edit Profile
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2.5 items-center justify-center py-2">
        <div style="background-image: url('/fimgs/bg-96571cde0391b4ac383144646a92dc42586d0919');background-size:100% 100%;background-repeat:no-repeat;" />
        <div class="flex items-start justify-start px-2 py-0.5 border rounded border-trueGray-600">
          <div class="text-xs font-medium leading-none text-center text-trueGray-600">
            Change photo
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
        <div class="text-base font-bold leading-normal text-center">
          Pyri Account
        </div>
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch flex-col items-start justify-center py-1.5 pl-4 pr-6 bg-white border rounded border-gray-300">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs leading-none text-gray-500">Full Name</div>
            </div>
            <div class="flex flex-1 self-stretch items-center justify-start">
              <div class="text-base font-medium leading-normal text-gray-900">
                May Mayomee
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-center py-1.5 pl-4 pr-6 bg-white border rounded border-gray-300">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs leading-none text-gray-500">Email</div>
            </div>
            <div class="flex flex-1 self-stretch items-center justify-start">
              <div class="text-base font-medium leading-normal text-gray-900">
                mayomee@gmail.com
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-center py-1.5 pl-4 pr-6 bg-white border rounded border-gray-300">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs leading-none text-gray-500">Gender</div>
            </div>
            <div class="flex flex-1 self-stretch space-x-2.5 items-center justify-start">
              <div class="text-base font-medium leading-normal text-gray-900">
                Gender
              </div>
              <div />
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-center py-1.5 pl-4 pr-6 bg-white border rounded border-gray-300">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs leading-none text-gray-500">Birthday</div>
            </div>
            <div class="flex flex-1 self-stretch space-x-2.5 items-center justify-start">
              <div class="text-base font-medium leading-normal text-gray-900">
                DD/MM/YY
              </div>
              <div />
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-center py-1.5 pl-4 pr-6 bg-white border rounded border-gray-300">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs leading-none text-gray-500">New Password</div>
            </div>
            <div class="flex flex-1 self-stretch space-x-2.5 items-center justify-start">
              <div class="flex flex-1 self-stretch space-x-1 items-center justify-start">
                <div class="bg-gray-700 rounded-full" />
                <div class="bg-gray-700 rounded-full" />
                <div class="bg-gray-700 rounded-full" />
                <div class="bg-gray-700 rounded-full" />
                <div class="bg-gray-700 rounded-full" />
                <div class="bg-gray-700 rounded-full" />
                <div class="bg-gray-700 rounded-full" />
              </div>
              undefined
            </div>
          </div>
        </div>
      </div>
      <button class="flex self-stretch flex-col items-start justify-start">
        <btn-primary
          onClick={onClick}
          class={`flex self-stretch flex-col items-center justify-center py-1.5 pl-4 pr-6 bg-blue-500 rounded rounded-md`}
          style="width: 363px; min-width: 363px; max-width: 363px; height: 60px; min-height: 60px; max-height: 60px; background-color: #FF8F00"
        >
          Save
        </btn-primary>
      </button>
    </div>
  </div>
</>